<div style="padding-right:0px;padding-left:0px;" id="globalModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:100%;">

        <div style="max-width:50%;margin-left:auto;margin-right:auto;" class="modal-content">

            <div id="carouselBody" class="modal-body" style="min-height:600px;">


                <div id="onboardCarousel" class="carousel slide" data-interval="false" style="padding-bottom:50px;">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner text-center">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-header">
                                        <h2 class="text-center modalh2">{{ i18NPrefix + 'welcome' | translate }}</h2>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img style="width:350px;height:150px;" src="../../assets/content/images/logo_tvujbroker_2.svg" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 modalBoardingContent">
                                    <h2>{{ i18NPrefix + 'hereForYou' | translate }}</h2>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-12 modalButton">
                                    <p style="font-size:15px;">
                                        {{ i18NPrefix + 'welcomeDescr' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 modalButton">
                                    <button id="nextButton" class="btn primary">{{ i18NPrefix + 'next' | translate }}</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a (click)="showAml()" class="aRed closeModal">{{ i18NPrefix + 'skip' | translate }}</a>
                                </div>
                            </div>

                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-header">
                                        <h2 class="text-center modalh2">{{ i18NPrefix + 'binder' | translate }}</h2>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="../../assets/content/ilustrations/10_ilu_sanon.svg" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 modalBoardingContent">
                                    <h2>{{ i18NPrefix + 'binderIntro' | translate }}</h2>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-12 modalButton">
                                    <p>
                                        {{ i18NPrefix + 'binderDescr' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 modalButton">
                                    <button id="nextButton1" class="btn primary">{{ i18NPrefix + 'next' | translate }}</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a (click)="showAml()" class="aRed closeModal">{{ i18NPrefix + 'skip' | translate }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-header">
                                        <h2 class="text-center modalh2">{{ i18NPrefix + 'finance' | translate }}</h2>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="../../assets/content/ilustrations/10_ilu_finance.svg" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 modalBoardingContent">
                                    <h2>{{ i18NPrefix + 'financeIntro' | translate }}</h2>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-12 modalButton">
                                    <p>
                                        {{ i18NPrefix + 'financeDescr' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 modalButton">
                                    <button id="nextButton2" class="btn primary">{{ i18NPrefix + 'next' | translate }}</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a (click)="showAml()" class="aRed closeModal">{{ i18NPrefix + 'skip' | translate }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="page-header ">
                                        <h2 class="text-center modalh2">{{ i18NPrefix + 'selfservice' | translate }}</h2>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="../../assets/content/ilustrations/11_ilu_samoobsluha.svg" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 modalBoardingContent">
                                    <h2>{{ i18NPrefix + 'selfserviceIntro' | translate }}</h2>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-12 modalButton">
                                    <p>
                                        {{ i18NPrefix + 'selfserviceDescr' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 modalButton">
                                    <button id="nextButton3" class="btn primary">{{ i18NPrefix + 'next' | translate }}</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a (click)="showAml()" class="aRed closeModal">{{ i18NPrefix + 'skip' | translate }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="page-header">
                                        <h2 class="text-center modalh2">{{ i18NPrefix + 'messages' | translate }}</h2>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="../../assets/content/ilustrations/10_ilu_zpravy.svg" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 modalBoardingContent">
                                    <h2>{{ i18NPrefix + 'messagesIntro' | translate }}</h2>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-12 modalButton">
                                    <p>
                                        {{ i18NPrefix + 'messagesDescr' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="row bodyContent">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6 modalButton">
                                    <button (click)="showAml()" id="nextButton4" class="btn primary">{{ i18NPrefix + 'start' | translate }}</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <a (click)="showAml()" class="aRed closeModal">{{ i18NPrefix + 'skip' | translate }}</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ol id="carousel-indicators-onboarding" class="carousel-indicators">
                        <li data-target="#onboardCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#onboardCarousel" data-slide-to="1"></li>
                        <li data-target="#onboardCarousel" data-slide-to="2"></li>
                        <li data-target="#onboardCarousel" data-slide-to="3"></li>
                        <li data-target="#onboardCarousel" data-slide-to="4"></li>
                    </ol>
                    <!-- Left and right controls -->
                    <!--<a class="left carousel-control" href="#onboardCarousel" data-slide="prev">
                    <span><img style="transform:rotate(180deg);" src="../../assets/content/icons/arrow.svg" /></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#onboardCarousel" data-slide="next">
                    <span><img src="../../assets/content/icons/arrow.svg" /></span>
                    <span class="sr-only">Next</span>
                </a>-->
                </div>


            </div>

        </div>
        <div class="modal-dialog" style="width:100%;">
            <div class="modal-content" style="margin-top:150px; margin-bottom:150px;" >
                <div class="modal-body">
                    <div>
                        <footer>
                            <br>
                            <div class="container">
                                <div id="footer-consultant" class="row" style="border-bottom:1px solid #DDDEE6;margin-top:40px;">
                                    <div class="col-sm-4">
                                        <h4 style="color:red;"><img src="../../assets/content/icons/phone.svg"><strong>{{ i18NPrefix + 'phone' | translate }}</strong></h4>
                                        <p class="">{{ i18NPrefix + 'phoneAvailability' | translate }}</p>
                                    </div>
                                    <div *ngIf="consultant" id="footer-consultant" class="col-sm-4">
                                        <div class="col-sm-6 hidden-xs text-right"><img id="consultant-image" [src]="'data:image/jpg;base64,' + consultant.photo.data"  /></div>
                                        <div style="margin-bottom:21px;" class="col-sm-6">
                                            <p style="color:#9B9DA6;">{{ i18NPrefix + 'yourConsultant' | translate }}</p>
                                            <p><strong>{{consultant.firstName + ' ' + consultant.lastName}}</strong></p>
                                            <p><a class="aRed" href="{{'mailto:' + consultant.emailAddress}}">{{consultant.emailAddress}}</a></p>
                                            <p>{{consultant.contactPhone}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 hidden-xs" style="padding-right:0px;">
                                        <div class="pull-right">
                                            <img id="img-fingerplay" src="../../assets/content/images/finger play.png">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 visible-xs text-center" style="padding-right:0px;">

                                        <img id="img-fingerplay" src="../../assets/content/images/finger play.png">
                                    </div>

                                </div>
                                <div class="row hidden-xs" style="margin-top:10px;">
                                    <div class="col-sm-4" style="padding-left:0px;">
                                        &copy; {{ i18NPrefix + 'BrokerConsulting' | translate }}
                                    </div>
                                    <div class="col-sm-8" style="padding-right:0px;">
                                        <ul class="footer-pills pull-right">
                                            <li>{{ i18NPrefix + 'aboutPortal' | translate }}</li>
                                            <li>{{ i18NPrefix + 'agreeWithProcessingPersonalData' | translate }}</li>
                                            <li>{{ i18NPrefix + 'termConditions' | translate }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="visible-xs">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <br />
                                            &copy; {{ i18NPrefix + 'BrokerConsulting' | translate }}
                                        </div>
                                    </div>
                                    <br />
                                    <div class="footer-pills">
                                        <div class="col-xs-12 text-center"><p>{{ i18NPrefix + 'aboutPortal' | translate }}</p></div>
                                        <div class="col-xs-12 text-center"><p>{{ i18NPrefix + 'agreeWithProcessingPersonalData' | translate }}</p></div>
                                        <div class="col-xs-12 text-center"><p>{{ i18NPrefix + 'termConditions' | translate }}</p></div>
                                    </div>
                                </div>
                            </div>


                            <br />
                        </footer>

                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
