﻿<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div [routerLink]="['/']" style="cursor:pointer; max-width:80px; margin-top:50px;">
                    <img style="transform:rotate(180deg);" src="../../../assets/content/icons/arrow.svg" /> <span style="margin-left:10px; font-weight:500;">{{ i18NPrefix + 'back' | translate }}</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">

                    <h2 class="text-center">{{ i18NPrefix + 'accidentInsurance' | translate }}</h2>
                    <hr>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <div class="container">
        <p class="text-center" style="font-weight:bold;">{{ i18NPrefix + 'context' | translate }}</p>
        <br />

        <div class="iframe-window">
            <div class="row text-center"><h3 style="margin-top:21%;">{{ i18NPrefix + 'formName' | translate }}</h3></div>
        </div>



        <!--NEW COMPONENT ?-->
        <div class="consultant-message">
            <div class="row">
                <div id="consultant-message-left" class="col-sm-6">

                    <div class="col-sm-9">
                        <h3>{{ i18NPrefix + 'needHelp' | translate }}</h3>
                        <p class="text-gray" style="font-weight:500;">{{ i18NPrefix + 'askUs' | translate }}</p>
                    </div>
                    <div class="col-xs-12 text-center visible-xs" style="margin-bottom:30px;">
                        <div class="row">
                            <h3 style="color:#E43024;font-weight:bold;"><img src="../../../assets/content/icons/phone.svg" />{{ i18NPrefix + 'phone' | translate }}</h3>
                        </div>
                        <div class="row">
                            <p style="font-weight:500;">{{ i18NPrefix + 'phoneAvailability' | translate }}</p>
                        </div>
                        <div class="row" >
                            <a class="aRed">{{ i18NPrefix + 'www' | translate }}</a>
                        </div>
                    </div>
                    <div class="col-sm-10" style="margin-top:10px;">
                        <div class="simple-input">
                            <label for="clientName">{{ i18NPrefix + 'nameAndSurname' | translate }}</label>
                            <input id="clientName" type="text" />
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="simple-input">
                            <label for="email">{{ i18NPrefix + 'yourEmail' | translate }}</label>
                            <input id="email" type="text" />
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="simple-input">
                            <label for="telephoneNumber">{{ i18NPrefix + 'yourPhone' | translate }}</label>
                            <input id="telephoneNumber" type="text" />
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="simple-input">
                            <label for="messageText">{{ i18NPrefix + 'messageText' | translate }}</label>
                            <input id="messageText" type="text" />
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <br />
                        <button class="primary">{{ i18NPrefix + 'send' | translate }}</button>
                    </div>
                </div>
                <div id="insurance-right" class="col-sm-6 hidden-xs">
                    <div class="row">
                        <h2 style="color:#E43024;font-weight:bold;"><img src="../../../assets/content/icons/phone.svg" />{{ i18NPrefix + 'phone' | translate }}</h2>
                    </div>
                    <div class="row" style="margin-right:5px;">
                        <p style="font-weight:500;">{{ i18NPrefix + 'phoneAvailability' | translate }}</p>
                    </div>
                    <div class="row" style="margin-left:0px;">
                        <a class="aRed">{{ i18NPrefix + 'www' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
