.page-header {
    border-bottom: none;
}

.page-header hr {
    border: none;
    width: 40px;
    color: #E43024;
    background-color: #e43024;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.newsContext img {
  width:54%;
}
