
<div class="{{showAll ? 'grey-container' : ''}}" *ngIf="newsInstances">
    <div class="{{showAll ? 'container' : ''}}">
    
        <ng-container *ngIf="!showAll">
            <div class="col-sm-12 page-header" style="margin-top: 0px; margin-bottom: 0px">
                <h3>{{ i18NPrefix + 'news' | translate }}</h3>
                <hr align="left">
            </div>
        </ng-container>

        <ng-container *ngIf="showAll">
            <div class="col-sm-3">
                <div [routerLink]="['/']" style="cursor:pointer; max-width:80px; margin-top:50px;">
                    <img style="transform:rotate(180deg);" src="../../assets/content/icons/arrow.svg" />
                    <span style="margin-left:10px; font-weight:500;">{{ i18NPrefix + 'back' | translate }}</span>
                </div>
            </div>
            <div class="col-sm-6 page-header">
                <h2 class="text-center">{{ i18NPrefix + 'news' | translate }}</h2>
                <hr>
            </div>
        </ng-container>
        
        <div class="col-sm-12" *ngFor="let newsItem of newsInstances">
            <app-news-list-item [showAll]="showAll" [item]="newsItem"></app-news-list-item>
        </div>

        <div *ngIf="!showAll" class="col-sm-12 text-center" style="margin-top:30px; margin-bottom:15px;">
            <a class="aBlack"
            [routerLink]="['/news']" [routerLinkActive]="['is-active']" queryParamsHandling='merge'
            [queryParams]="{showAll: true}">{{ i18NPrefix + 'allNews' | translate }}</a>
        </div>
        
    </div>
</div>
