#password{
    letter-spacing:5px;
    font-size:16pt;
    color:black;
  }

  .form-group input,.input-group input,.input-group span, .medium select, .form-group select {
	color:#000000;
	font-size:15px;
  
  }
  