<form *ngIf="form" [formGroup]="form">
    <div class="col-sm-12">
        <div class="heading">
            <h3>{{ i18NPrefix + (isCorresponding ? 'correspondingAddress' : 'address') | translate }}</h3>
            <hr>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="addressEdited">
        <!-- readonly street + streetnumber-->
        <div class="inner-addon right-addon simple-input">
            <label for="streetAndStreetNumber">{{ i18NPrefix + 'streetAndStreetNumber' | translate }}</label>
            <img *ngIf="addressEdited" src="../../assets/content/icons/home 2.svg" class="icon" />
            <input [readonly]="true" type="text" id="streetAndStreetNumber"
                   value="{{form.value.street +' '+ form.value.streetNumber}}">
        </div>
    </div>
    <div class="col-sm-8" *ngIf="!addressEdited">
        <!-- editable street-->
        <div class="inner-addon right-addon simple-input" *ngIf="form.get('street'); let control">
            <label for="street">{{ i18NPrefix + 'street' | translate }}</label>
            <input type="text" id="street"
                   formControlName="street" [formControl]="control"
                   appValidationIsInvalid
                   [control]="control"
                   [or]="alreadySubmitted">
            <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
        </div>
    </div>
    <div class="col-sm-4" *ngIf="!addressEdited">
        <!-- editable streetnumber-->
        <div class="inner-addon right-addon simple-input" *ngIf="form.get('streetNumber'); let control">
            <label for="streetNumber">{{ i18NPrefix + 'streetNumber' | translate }}</label>
            <img *ngIf="addressEdited" src="../../assets/content/icons/home 2.svg" class="icon" />
            <input type="text" id="streetNumber"
                   formControlName="streetNumber"
                   [formControl]="control"
                   appValidationIsInvalid
                   [control]="control"
                   [or]="alreadySubmitted">
            <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="addressEdited">
        <!-- readonly city + postal code-->
        <div class="simple-input">
            <label for="cityAndPostalCode">{{ i18NPrefix + 'cityAndPostalCode' | translate }}</label>
            <input [readonly]="true" type="text" id="cityAndPostalCode"
                   value="{{form.value.city + ', ' + form.value.postalCode}}">
        </div>
    </div>
    <div class="col-sm-8" *ngIf="!addressEdited;">
        <!-- editable city -->
        <div class="simple-input" *ngIf="form.get('city'); let control">
            <label for="city">{{ i18NPrefix + 'city' | translate }}</label>
            <input type="text" id="city"
                   formControlName="city"
                   [formControl]="control"
                   appValidationIsInvalid
                   [control]="control"
                   [or]="alreadySubmitted">
            <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
        </div>
    </div>
    <div class="col-sm-4" *ngIf="!addressEdited">
        <!-- editable postal code-->
        <div class="simple-input" *ngIf="form.get('postalCode'); let control">
            <label for="postalCode">{{ i18NPrefix + 'postalCode' | translate }}</label>
            <input type="text" id="postalCode"
                   formControlName="postalCode"
                   [formControl]="control"
                   appValidationIsInvalid
                   [control]="control"
                   [or]="alreadySubmitted">
            <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="addressEdited">
         <div class="simple-input">
             <label for="countryCodeInput">{{ i18NPrefix + 'country' | translate }}</label>
             <input id="countryCodeInput" type="text" [readonly]="true" value="{{'enum.country.iso.' + form.value.countryCode | translate}}" />
         </div>
    </div>
     <div *ngIf="!addressEdited">
         <div class="col-sm-12" *ngIf="form.get('countryCode'); let control">
             <div class="form-group simple-input">
                 <label for="countryCode">{{ i18NPrefix + 'country' | translate }}</label>
                 <select class="form-control input-lg custom-select"
                         id="countryCode"
                         formControlName="countryCode"
                         name="countryCode"
                         [formControl]="control"
                         appValidationIsInvalid
                         [control]="control"
                         [or]="alreadySubmitted">
                     <option style="display:none;" disabled [selected]="!form.get('countryCode').value">{{ i18NPrefix + 'country' | translate }}</option>
                     <ng-container *ngFor="let country of isoCountryList()">
                         <option value="{{country}}">{{ 'enum.country.iso.' + country | translate }}</option>
                     </ng-container>
                 </select>
             </div>
             <app-validation-errors [control]="control"
                                    [or]="alreadySubmitted"></app-validation-errors>
         </div>
     </div>
    <!-- permanent address buttons -->
    <div *ngIf="addressEdited" class="col-xs-6 marginSelfServiceCard">
        <button (click)="addressEdit()" class="secondary">
            <span class="glyphicon glyphicon-pencil"></span>
            {{ i18NPrefix + 'editAddress' | translate }}
        </button>
    </div>

    <div *ngIf="!addressEdited" class="col-xs-6 marginSelfServiceCard">
        <button (click)="addressEditSave()" class="save-button secondary">
            {{ i18NPrefix + 'saveAddress' | translate }}
        </button>
    </div>
    <div *ngIf="!addressEdited" class="col-xs-6 marginSelfServiceCard">
        <button (click)="addressEditCancel()" class=" secondary">
            {{ i18NPrefix + 'cancelAddress' | translate }}
        </button>
    </div>

    <!--<div class="col-xs-12">
        <br>
        <div *ngIf="!isCorresponding" class="checkbox">
            <div class="checkbox-group">
                <label class="checkbox-control control--checkbox">
                    {{ i18NPrefix + 'contactIsDifferent' | translate }}
                    <input type="checkbox" [checked]="correspondingDifferent" (change)="correspondingIsDifferentCheck()" />
                    <div id="inline" class="control__indicator"></div>
                </label>
            </div>
        </div>
    </div>-->
</form>
