<div class="message-box" style="cursor:default !important;" *ngIf="showNotification()">
    <div class="container-fluid hidden-sm hidden-xs">
        <div class="row">
            <div class="dashboard-notif-box">
                <div class="col-sm-2 dashboard-notif-item">
                    <div *ngIf="afterDueDate()">
                        <span style="position: absolute; bottom: 27px; color:red; padding:0px; font-size: 11px; font-weight: bold;">
                            <img src="../../assets/content/icons/bell.svg" class="icon" />{{ i18NPrefix + 'afterDueDate' | translate }}
                        </span>
                        <span id="dateofEfficiency" style="font-size: 16px;">{{notification.dateofEfficiency}}</span>
                        <span class="text-gray" style="font-size:16px; float:right;">|</span>
                    </div>
                    <ng-container *ngIf="!afterDueDate()">
                        <span id="dateofEfficiency" style="font-size: 16px;">{{notification.dateofEfficiency}}</span>
                        <span class="text-gray" style="font-size:16px; float:right;">|</span>
                    </ng-container>

                </div>
                <div class="col-sm-3 dashboard-notif-item">
                    <div style="font-weight:bold; font-size: 16px; word-break: break-word; max-height: 3.1em; overflow: hidden;">{{notification.contractName}}</div>
                </div>
                <div class="col-sm-2 dashboard-notif-item">
                    <span class="text-gray" style="font-size: 14px;">{{notification.contractPartnerName}}</span>
                </div>
                <div class="col-sm-3 dashboard-notif-item">
                    <span style="font-weight:bold; color:red; font-size: 15px; float:left;">{{notification.paymentAmount | number}}&nbsp;{{notification.paymentCurrency}}</span>

                    <span style="font-weight:bold; font-size: 15px; float:right;">{{ 'enum.NotificationFrequency.' + notification.frequency | translate }}</span>

                </div>


                <div class="col-sm-2 dashboard-notif-item" *ngIf="!notification.standingOrder">
                    <div class="dashboard-checkbox-border" style="width:150px; display: table; position:relative;top: -10px;" (click)="solved()">
                        <div class="dashboard-checkbox-group" style="display: table-cell; vertical-align: middle; ">
                            <label class="dashboard-checkbox-control dashboard-control--checkbox">
                                <span style="margin-left: 20px">{{ i18NPrefix + 'paid' | translate }}</span>
                                <input type="checkbox" class="dashboard-notif-checkbox" (change)="solved()">
                                <div id="dashboard-inline" class="dashboard-control__indicator"></div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 dashboard-notif-item" *ngIf="notification.standingOrder" style="position: relative; bottom: 10px;">
                    <div class="dashboard-standingOrder" style="display: table; ">
                        <div style="display: table-cell; vertical-align: middle;text-align: center">
                            <span style="font-weight:bold;">{{ i18NPrefix + 'standingOrder' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid visible-sm visible-xs">
        <div class="row">
            <div class="col-xs-6">
                <div style="font-weight:bold; font-size: 16px; overflow: auto; white-space: nowrap; text-overflow: ellipsis;">{{notification.contractName}}</div>
            </div>
            <div class="col-xs-6">
                <div class="pull-left" *ngIf="afterDueDate()">
                    <span style="color:red; padding:0px; font-size: 11px; font-weight: bold;">
                        <img src="../../assets/content/icons/bell.svg" class="icon" />{{ i18NPrefix + 'afterDueDate' | translate }}
                    </span>
                    <span id="dateofEfficiency" style="font-size: 16px;">{{notification.dateofEfficiency}}</span>
                </div>
                <div class="dashboard-checkbox-group pull-right" *ngIf="!notification.standingOrder">
                    <label class="dashboard-checkbox-control dashboard-control--checkbox">
                        <span style="margin-left: 50px">{{ i18NPrefix + 'paid' | translate }}</span>
                        <input type="checkbox" class="dashboard-notif-checkbox" (change)="solved()">
                        <div id="dashboard-inline" class="dashboard-control__indicator"></div>
                    </label>
                </div>
                <div class="dashboard-standingOrder-mobile pull-right" *ngIf="notification.standingOrder">
                    <div class="text-center">
                        <span style="font-weight:bold;">{{ i18NPrefix + 'standingOrder' | translate }}</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" *ngIf="notification.contractPartnerName">
                <span class="text-gray" style="font-size: 12px;">{{notification.contractPartnerName}}</span>
            </div>

            <div class="col-xs-4">
                <span id="dateofEfficiency" style="font-size: 14px;">{{notification.dateofEfficiency}}</span>
                <span class="text-gray">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                <span style="font-size: 14px;">{{ 'enum.NotificationFrequency.' + notification.frequency | translate }}</span>
            </div>

            <div class="col-xs-6 text-right">
                <span style="font-weight:bold; color:red;">{{notification.paymentAmount}}&nbsp;{{notification.paymentCurrency}}</span>
            </div>
        </div>
    </div>
</div>
