<div class="message-box" (click)="showEdit()">
    <div class="hidden-xs">
        <div class="row">
            <div class="col-sm-10">
                <h4 style="font-weight:bolder; font-size:16px !important;">
                    <!-- https://redmine.bcas.cz/issues/187 - sender ze zatim nebude zobrazovat, protoze se nezasila -->
                    <!-- <span>{{message.sender}}</span>
                    <span class="text-gray" style="font-size:12px; margin-left:15px; margin-right: 15px;"> &#9632; </span> -->
                    {{message.subject}}
                   
                </h4>



            </div>
            <div class="col-sm-2">
                <div class="message-date" style="padding-top:0px !important; padding-right:10px; float:right;">
                    <div class="text-gray" style="position: absolute; right: 105px; font-size:25px; padding-left:20px;padding-right:20px;"> | </div>  <span style="position:relative; top:9px; font-weight:bold; font-size:16px">{{message.dateSent}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="message-body">{{ message.body }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4" *ngFor="let attachment of message.attachments" style="position: relative;">
                <a class="btn attachment" [href]="getAttachmentUrl(attachment)" target="_blank">
                    <div class="row">
                        <img class="attachment-icon-left" src="../assets/content/icons/file 3.svg" />
                        <span class="attachment-text">{{ attachment.name }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="visible-xs">
            <div class="row">
                <div class="col-xs-6">
                    <h5 class="font-extra">{{message.sender}}</h5>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        <div class="message-date-mobile font-normal">
                            {{message.dateSent}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 font-strong">
                    {{message.subject}}
                </div>
                <div class="col-xs-2">
                    <div class="pull-right">
                        <img *ngIf="hasAttachments" src="../assets/content/icons/file 1.svg" />
                    </div>
                </div>
            </div>
            <div class="row margin-top-small">
                <div class="col-xs-12">
                    <div class="text-gray message-body">
                        {{message.body}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
