
<app-onboarding-overview></app-onboarding-overview>

<div class="container" style="margin-bottom:15%;">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'formDescr' | translate }}</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="col-sm-12">
                <div class="heading">
                    <h3>{{ i18NPrefix + 'plannedPayments' | translate }}</h3>
                    <hr>
                </div>
            </div>
            <div class="col-sm-12">
                <p class="marginPel">
                    {{ i18NPrefix + 'paymentsDescr' | translate }}
                </p>
            </div>
            <div class="col-sm-6">
                <a [routerLink]="['/binder']">
                    <button style="font-size:13px;" class="btn secondary">
                        <span>
                            <img style="transform:rotate(45deg); height:10px; width:10px;" src="../assets/content/icons/close.svg" />
                        </span>
                        {{ i18NPrefix + 'addPayment' | translate }}
                    </button>
                </a>
            </div>

        </div>


        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="col-sm-12">
                <div class="heading">
                    <h3>{{ i18NPrefix + 'notification' | translate }}</h3>
                    <hr>
                </div>
            </div>
            <div class="col-sm-12">
                <p class="marginPel">
                    {{ i18NPrefix + 'notificationsDescr' | translate }}
                </p>
            </div>
            <div class="col-sm-6">
                <a [routerLink]="['/binder']">  <button class="btn secondary">{{ i18NPrefix + 'setUpNotifications' | translate }}</button> </a>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top:3%;">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="col-sm-12">
                <div class="heading">
                    <h3>{{ i18NPrefix + 'messagesFromConsultant' | translate }}</h3>
                    <hr>
                </div>
            </div>
            <div class="col-sm-12">
                <p class="marginPel">
                    {{ i18NPrefix + 'askUs' | translate }}
                </p>
            </div>
            <div class="col-sm-6">
                <a [routerLink]="['/messages']"> <button class="btn secondary">{{ i18NPrefix + 'writeMessage' | translate }}</button></a>
            </div>

        </div>


        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="col-sm-12">
                <div class="heading">
                    <h3>{{ i18NPrefix + 'selfservice' | translate }}</h3>
                    <hr>
                </div>
            </div>
            <div class="col-sm-12">
                <p class="marginPel">
                    {{ i18NPrefix + 'selfserviceDescr' | translate }}
                </p>
            </div>
            <div class="col-sm-6">
                <a [routerLink]="['/selfservice']"><button click class="btn secondary">{{ i18NPrefix + 'overlook' | translate }}</button></a>
            </div>

        </div>
    </div>
</div>
