<form role="form" *ngIf="form" (ngSubmit)="onSubmit(form)">
    <div *ngIf="notificationEdit.enabled" style="cursor:default !important;" class="message-box">
        <div class="container-fluid">
            <div *ngIf="!edited" class="row">
                <div class="col-sm-3 col-md-2 text-center" style="padding-top:15px;">
                        <h4 style="margin-bottom: 0px;">
                            <span tooltip="{{ i18NPrefix + 'dateOfStart' | translate }}" tooltipPlacement="top">
                                {{ notificationEdit.dateOfStart }}
                            </span>
                        </h4>
                        <ng-container *ngIf="notificationEdit.frequency !== 'Jednorázově'">
                            <img src="../../assets/content/icons/update.svg" />
                            <span class="text-gray" style="font-size: 12px" tooltip="{{ i18NPrefix + 'frequency' | translate }}" tooltipPlacement="top">
                                {{ 'enum.NotificationFrequency.' + notificationEdit.frequency | translate }}
                            </span>
                        </ng-container>
                    <!--<div class="text-center hidden-sm hidden-xs" style="padding: 0px; position:absolute;right:13%;">
                        <span class="text-gray" style="font-size:25px;"> | </span>
                    </div>-->
                </div>

                <div class="col-sm-4 col-md-6 notification-description" style="padding-top:15px;">
                    <h4 style="font-weight:bold;">
                        <span class="wide-text-dots" tooltip="{{ i18NPrefix + 'description' | translate }}" tooltipPlacement="top">
                            {{notificationEdit.description}}
                        </span>
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2" style="padding-top:10px;">
                    <button (click)="showEdit()" class="secondary" *ngIf="!edited">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{ i18NPrefix + 'edit' | translate }}
                    </button>
                    <button (click)="showEdit()" class="secondary" *ngIf="edited">
                        {{ i18NPrefix + 'cancel' | translate }}
                    </button>
                </div>
                <div class="col-xs-6 col-sm-2" style="padding:0px;">
                    <ul class="nav nav-pills">
                        <li id="listMobileNotification" style="padding-top: 10px; float: right; padding-left: 0px !important;"><a (click)="deleteNotification()" id="delete" style="color:#E43024"><img src="../../assets/content/icons/delete.svg" class="icon" style="padding-bottom:2px; margin-right:10px" />{{ i18NPrefix + 'delete' | translate }}</a></li>
                    </ul>
                </div>
            </div>
            <div *ngIf="edited" class="row">
                <div class="col-sm-3 col-lg-2 form-group" *ngIf="form.get('dateOfStart'); let control" style="padding-right:0px;">
                    <div class="input-group date datepicker" style="margin-top:12px;">
                        <input onclick="setMinToday('#form-dateOfStart')"
                               data-date-start-date="'0'"
                               class="todayDatepicker form-control datepickerfix" placeholder="{{ i18NPrefix + 'date' | translate }}" type="text"
                               name="dateOfStart"
                               autocomplete="off"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted"
                               data-provide="datepicker"
                               (focusout)="dateChanged($event)"
                               (keyup)="validateDateInPast()">
                    </div>
                    <div class="form-group alert alert-danger" *ngIf="dateInPastError">
                        {{ 'global.' + 'validation.dateInPast' | translate }}
                    </div>

                </div>
                <div class="col-sm-5 col-lg-2 simple-input form-group" *ngIf="form.get('description'); let control">
                    <input class="form-control input-lg" type="text"
                           placeholder="{{ i18NPrefix + 'description' | translate }}"
                           id="form-description"
                           name="description"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
                <div class="col-sm-4 col-lg-2 form-group" *ngIf="form.get('frequency'); let control" style="padding-top:12px;">
                    <select class="form-control input-lg"
                            id="form-frequency"
                            name="frequency"
                            [formControl]="control"
                            appValidationIsInvalid
                            [control]="control"
                            [or]="alreadySubmitted">
                        <ng-container *ngFor="let freq of notificationFrequencyList()">
                            <option value="{{ freq }}">{{ 'enum.NotificationFrequency.' + freq | translate }}</option>
                        </ng-container>
                    </select>
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
                <!-- <div class="col-sm-2" style="padding-top:00px;">
        <div class="checkbox-border checkbox">
            <div class="checkbox-group">
                <label class="checkbox-control control--checkbox">
                    {{ i18NPrefix + 'solved' | translate }}
                    <input id="solved" type="checkbox">
                    <div class="control__indicator"></div>
                </label>
            </div>
        </div>
    </div> -->
                <div class="col-sm-3 visible-md visible-sm"></div>
                <div class="col-xs-6 col-sm-3 col-lg-2">
                    <button style="font-size:15px; margin-top: 10px;" type="submit" class="btn btn-danger btn-primary btn-lg primary">
                        <span [innerHTML]="i18NPrefix + 'save' | translate"></span>
                        <i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2" style="padding-top:10px;">
                    <button (click)="showEdit()" class="secondary" *ngIf="!edited">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{ i18NPrefix + 'edit' | translate }}
                    </button>
                    <button (click)="showEdit()" class="secondary" *ngIf="edited">
                        {{ i18NPrefix + 'cancel' | translate }}
                    </button>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-2">
                    <ul class="nav nav-pills">
                        <li style="padding-top:10px; "><a (click)="deleteNotification()" id="delete" style="color:#E43024"><img src="../../assets/content/icons/delete.svg" class="icon" style="padding-bottom:2px; margin-right:10px" />{{ i18NPrefix + 'delete' | translate }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="row" *ngIf="edited && submitError">
                <div class="col-md-12">
                    <div class="form-group alert alert-danger">
                        {{ i18NPrefix + 'error' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
