<div *ngIf="relogin()">
	<!--
		This case is used only when login form is shown - when new login password is sent to email and
		application is redirected to /login component.
	-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-login-inner-part></app-login-inner-part>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="!relogin()">
	<!--
		This case must be used if current url is /portal.
	-->
    <div class="col-md-6">
        <app-login-inner-part></app-login-inner-part>
    </div>
</div>
