<form role="form" *ngIf="form" (ngSubmit)="onSubmit(form)">
    <div class="row">
        <div class="col-md-3" *ngIf="form.get('dateOfStart'); let control">
            <div id="datepickersNotify" class="input-group date datepicker" data-datepicker-startDate="" style="width:100%;">
                <input onclick="setMinToday('#form-dateOfStart')" type="text"
                       id="form-dateOfStart"
                       placeholder="{{ i18NPrefix + 'paymentNotificationDate' | translate }}"
                       name="dateOfStart"
                       data-date-start-date="'0'"
                       class="datepickerfix form-control"
                       [formControl]="control"
                       autocomplete="off"
                       data-provide="datepicker"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       (focusout)="dateChanged($event)"
                       (keyup)="validateDateInPast()"
                       (input)="validateDateInPast()"
                       tooltip="{{ i18NPrefix + 'paymentNotificationDate' | translate }}" tooltipPlacement="top">
            </div>
            <div class="form-group alert alert-danger" *ngIf="dateInPastError">
                {{ 'global.' + 'validation.dateInPast' | translate }}
            </div>
        </div>

        <div class="col-md-3" *ngIf="form.get('frequency'); let control">
            <div class="form-group">
                <select class="form-control input-lg custom-select"
                        id="form-frequency"
                        name="frequency"
                        [formControl]="control"
                        appValidationIsInvalid
                        (change)="updatingNotification()"
                        [control]="control"
                        [or]="alreadySubmitted"
                        tooltip="{{ i18NPrefix + 'frequency' | translate }}" tooltipPlacement="top">
                    <option style="display:none;" disabled [selected]="!form.get('frequency').value">{{ i18NPrefix + 'frequency' | translate }}</option>
                    <ng-container *ngFor="let freq of notificationFrequencyList()">
                        <option value="{{freq}}">{{ 'enum.NotificationFrequency.' + freq | translate }}</option>
                    </ng-container>
                </select>
            </div>
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>
        </div>

        <div class="col-md-2" *ngIf="form.get('paymentAmount'); let control">
            <div class="form-group">
                <input type="text" class="form-control input-lg"
                       id="form-paymentAmount"
                       name="paymentAmount"
                       placeholder="{{ i18NPrefix + 'paymentNotificationAmount' | translate }}"
                       [formControl]="control"
                       appValidationIsInvalid
                       (change)="updatingNotification()"
                       [control]="control"
                       [or]="alreadySubmitted"
                       onkeypress="return digitsAndComma(event)"
                       tooltip="{{ i18NPrefix + 'paymentNotificationAmount' | translate }}" tooltipPlacement="top">
            </div>
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>
        </div>

        <div class="col-md-2" *ngIf="form.get('paymentCurrency'); let control">
            <div class="form-group">
                <select class="form-control input-lg"
                        id="form-paymentCurrency"
                        name="paymentCurrency"
                        [formControl]="control"
                        appValidationIsInvalid
                        (change)="updatingNotification()"
                        [control]="control"
                        [or]="alreadySubmitted"
                        tooltip="{{ i18NPrefix + 'paymentNotificationCurrency' | translate }}" tooltipPlacement="top">
                    <option style="display:none;" value="" disabled [selected]="!form.get('paymentCurrency').value">{{ i18NPrefix + 'paymentNotificationCurrency' | translate }}</option>
                    <ng-container *ngFor="let paymentCurrency of paymentCurrencyList()">
                        <option value="{{paymentCurrency}}">{{ paymentCurrency }}</option>
                    </ng-container>
                </select>
            </div>
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>
        </div>

        <div class="col-md-2">
            <div class="checkbox checkbox-group pull-left" *ngIf="form.get('standingOrder'); let control">
                <label class="checkbox-control control--checkbox">
                    {{ i18NPrefix + 'standingOrder' | translate }}
                    <input type="checkbox"
                           id="form-standingOrder"
                           name="standingOrder"
                           [formControl]="control"
                           appValidationIsInvalid
                           (change)="updatingNotification()"
                           [control]="control"
                           [or]="alreadySubmitted">
                    <div id="inline" class="control__indicator"></div>
                </label>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
            <div class="pull-right remove-icon-margin">
                <a class="aRed" (click)="this.notification.prescriptId ? modalToRemovePayment(this.notification.prescriptId) : removeNewNotification()" style="text-decoration:none">
                    <img src="../assets/content/icons/delete.svg" title="{{ i18NPrefix + 'removeNotification' | translate }}" />

                    <!-- {{ i18NPrefix + 'removeNotification' | translate }} -->
                </a>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="submitError">
        <div class="col-md-12">
            <div class="form-group alert alert-danger">
                {{ i18NPrefix + 'error' | translate }}
            </div>
        </div>
    </div>
</form>


<div *ngIf="this.notification.prescriptId" id="{{this.notification.prescriptId}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ i18NPrefix + 'modal.deleteNotification.title' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ i18NPrefix + 'modal.deleteNotification.text' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="removeNotification()" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteNotification.yes' | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteNotification.no' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
