<div id="message-to-consultant" class="consultant-message">
    <div class="row">
        <div id="consultant-message-left" class="col-sm-6">
            <form role="form" *ngIf="form" (ngSubmit)="onSubmit(form)">
                <div class="col-sm-9">
                    <h3 class="mobile-text-center">{{ i18NPrefix + 'sendMessageToConsultant' | translate }}</h3>
                </div>
      
                    <div class="col-sm-10" *ngIf="form.get('subject'); let control">
                        <div class="simple-input">
                            <label for="messageSubject">{{ i18NPrefix + 'subject' | translate }}</label>
                            <input type="text"
                                   id="form-subject"
                                   name="subject"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   maxlength="100"
                                   [or]="alreadySubmitted"
                                   (keyup)="onInputChange($event)">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>

                        </div>

                    </div>
                    <div class="col-sm-12 text-gray">
                        <div class="counter">
                            {{subjectInputCount}} / 100
                        </div>
                    </div>
               
                
                    <div class="col-sm-10" *ngIf="form.get('body'); let control">
                        <div class="simple-input">
                            <label for="messageText">{{ i18NPrefix + 'yourMessage' | translate }}</label>
                            <input type="text"
                                   id="form-body"
                                   name="body"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   maxlength="1000"
                                   [or]="alreadySubmitted"
                                   (keyup)="onInputChange($event)">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                    <div class="col-sm-12 text-gray">
                        <div class="counter">
                            {{bodyInputCount}} / 1000
                        </div>
                    </div>


               
                <div class="col-sm-10">
                    <div class="simple-input">
                        <ng-container *ngIf="!attachmentName">
                            <a class="aRed" onclick="$('#messageAttachment').click()">{{ i18NPrefix + 'attachFile' | translate }}</a>
                            <input type="file" id="messageAttachment" (change)="onFileChange($event)" style="display: none">
                            <div class="col-sm-12">
                                <div *ngIf="maxFileSize" class="alert alert-danger alert-dismissible" role="alert">
                                    <div [innerHTML]="'global.errors.' + 'maxFileSizeMessage' | translate"></div>
                                    <button (click)="onCancelEMessage()" type="button" class="close alertClose-custom" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="attachmentName">
                            <label for="attachment">{{ i18NPrefix + 'attachment' | translate }}</label>
                            <br />
                            <span class="pull-left">{{ attachmentName }}</span>
                            <span class="pull-right" title="{{ i18NPrefix + 'removeAttachment' | translate }}"><img (click)="removeAttachment()" style="cursor:pointer;" src="../assets/content/icons/delete.svg" /></span>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm-5">
                    <br />
                    <button class="primary">{{ i18NPrefix + 'send' | translate }}</button>
                </div>
                <div [class.bigger]="showMessage" [class.smaller]="!showMessage" class="col-sm-10" style="margin-top: 10px;">
                    <div [class.deleteInfo]="showMessageErrorS" [class.showInfo]="showMessageSuccess" [class.hideInfo]="!showMessageSuccess" class="alert alert-info" role="alert">{{ i18NPrefix + 'send.success' | translate }}</div>
                    <div [class.showInfo]="showMessageError" [class.hideInfo]="!showMessageError" class="alert alert-danger" role="alert">{{ i18NPrefix + 'send.error' | translate }}</div>
                </div>
                <div class="col-sm-10">
                    <br />
                    <p>Stisknutím tlačítka Odeslat potvrzuji seznámení se s <a target="_blank" href="../../../assets/content/files/gdpr_prohlaseni_o_ochrane_osobnich_udaju_a_souboru_cookie_id_180088_revize_sk_25_6_2018.pdf" style="color:#E43024;text-decoration:underline;">Prohlášením o ochraně osobních údajů a souborech cookie</a>.</p>
                </div>
            </form>
        </div>
        <div id="consultant-message-right" class="col-sm-6">
            <div class="row">

                <br *ngIf="consultant" />

                <div class="col-xs-12 visible-xs" *ngIf="consultant">
                    <img id="consultant-image" [src]="'data:image/jpg;base64,' + consultant.photo.data" />
                </div>
                <div class="col-sm-12" *ngIf="consultant">
                    <table class="table-center">
                        <tr>
                            <td>
                                <p class="text-gray"><small>{{ i18NPrefix + 'yourConsultant' | translate }}</small></p>
                                <p style="font-weight:bold;">{{consultant.firstName + ' ' + consultant.lastName}}</p>
                                <p><a href="{{'mailto:' + consultant.emailAddress}}" class="aRed">{{consultant.emailAddress}}</a></p>
                                <p>{{consultant.contactPhone}}</p>
                            </td>
                            <td class="hidden-xs" style="padding-left:30px;">
                                <img id="consultant-image" [src]="'data:image/jpg;base64,' + consultant.photo.data" />
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="col-sm-12">
                    <table id="Dtable" class="table-center">
                        <tr>
                            <td>
                                <p class="text-gray"><small>{{ i18NPrefix + 'yourBranch' | translate }}</small></p>
                                <p style="font-weight:bold;">{{ i18NPrefix + 'branch' | translate }}</p>
                                <p>{{ i18NPrefix + 'branchAddress' | translate }}</p>
                                <p>{{ i18NPrefix + 'branchCity' | translate }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
