<div>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3 redirect-login-failed">
            <div class="alert alert-danger" role="alert" *ngIf="redirectLoginFailed">
                {{ i18NPrefix + 'redirectLoginFailed' | translate }}
            </div>
            <!-- <div class="alert alert-info" role="alert" *ngIf="invalidated">
                {{ i18NPrefix + 'invalidated' | translate }}
            </div> -->
        </div>
        <app-login></app-login>
        <app-registration></app-registration>
    </div>
    <br />
    <br />
</div>

<div>
    <br />
    <br />
	<br />

</div>

