<div [formGroup]="sourceOfFinances" *ngIf="sourceOfFinances">
    <div class="aml-page">
        <div class="row">
            <div class="col-sm-12 fix-padding">
                <div class="heading">
                    <h3>{{ i18NPrefix + 'header' | translate }}</h3>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="positionSourcesError && alreadySubmitted" class="col-sm-12 text-center alert alert-danger">
                Musí být označen původ finančních prostředků.
            </div>
        </div>
        <div class="row" style="min-height:90px;">
            <div class="col-sm-2 form-group">
                <div class="checkbox checkbox-group pull-left">
                    <label class="checkbox-control control--checkbox">
                        Zaměstnanec
                        <input id="positionOfSource-employee" (change)="updatingPositionsOfSource('employee')" type="checkbox">
                        <div id="inline" class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div *ngIf="employeePositionSource">
                <div class="col-sm-7 form-group">
                    <div *ngIf="sourceOfFinances.get('employeeJob'); let control">
                        <label for="form-employeeJob">Zaměstnanec - obor a pozice</label>
                        <input autocapitalize="none" type="text"
                               id="form-employeeJob"
                               name="employeeJob"
                               class="form-control input-lg"
                               placeholder="Zaměstnanec - obor a pozice"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div *ngIf="sourceOfFinances.get('expectedIncomeEmployee'); let control">
                        <label for="form-expectedIncomeEmployee">očekávaná výše příjmů Kč/rok</label>
                        <input autocapitalize="none" type="text"
                               id="form-expectedIncomeEmployee"
                               name="expectedIncomeEmployee"
                               onkeypress="return digitsAndComma(event)"
                               [formControl]="control"
                               class="form-control input-lg"
                               placeholder="očekávaná výše příjmů Kč/rok"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="min-height:90px;">
            <div class="col-sm-2 form-group">
                <div class="checkbox checkbox-group pull-left">
                    <label class="checkbox-control control--checkbox">
                        Podnikatel
                        <input id="positionOfSource-osvc" (change)="updatingPositionsOfSource('osvc')" type="checkbox">
                        <div id="inline" class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div *ngIf="osvcPositionSource">
                <div class="col-sm-7 form-group">
                    <div *ngIf="sourceOfFinances.get('osvcJob'); let control">
                        <label for="form-osvcJob">Podnikatel - obor a pozice</label>
                        <input autocapitalize="none" type="text"
                               id="form-osvcJob"
                               name="osvcJob"
                               class="form-control input-lg"
                               placeholder="Podnikatel - obor a pozice"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>

                <div class="col-sm-3 form-group">
                    <div *ngIf="sourceOfFinances.get('expectedIncomeOsvc'); let control">
                        <label for="form-expectedIncomeOsvc">očekávaná výše příjmů Kč/rok</label>
                        <input autocapitalize="none" type="text"
                               id="form-expectedIncomeOsvc"
                               class="form-control input-lg"
                               onkeypress="return digitsAndComma(event)"
                               placeholder="očekávaná výše příjmů Kč/rok"
                               name="expectedIncomeOsvc"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="min-height:90px;">
            <div class="col-sm-2 form-group">
                <div class="checkbox checkbox-group pull-left">
                    <label class="checkbox-control control--checkbox">
                        Jiný původ
                        <input id="positionOfSource-other" (change)="updatingPositionsOfSource('other')" type="checkbox">
                        <div id="inline" class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div *ngIf="otherPositionSource" style="min-height:90px;">
                <div class="col-sm-7 form-group">
                    <div *ngIf="sourceOfFinances.get('otherJob'); let control">
                        <label for="form-otherJob">jiný původ</label>
                        <input autocapitalize="none" type="text"
                               id="form-otherJob"
                               name="otherJob"
                               class="form-control input-lg"
                               placeholder="jiný původ"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <div *ngIf="sourceOfFinances.get('expectedIncomeOther'); let control">
                        <label for="form-expectedIncomeOther">očekávaná výše příjmů Kč/rok</label>
                        <input autocapitalize="none" type="text"
                               id="form-expectedIncomeOther"
                               name="expectedIncomeOther"
                               [formControl]="control"
                               onkeypress="return digitsAndComma(event)"
                               class="form-control input-lg"
                               placeholder="očekávaná výše příjmů Kč/rok"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 fix-padding">
                Uveďte zdroje finančích prostředků použitých pro Vaše finanční produkty:
            </div>
        </div>
        <div class="row">
            <div *ngIf="positionSourcesCheckboxesError && alreadySubmitted" class="col-sm-12 text-center alert alert-danger">
                Musí být označen zdroj finančních prostředků použitých pro Vaše finanční produkty.
            </div>
        </div>
        <div class="financialSourcesCheck">
            <div class="col-sm-3" *ngFor="let source of financialSources; index as i">
                <div class="checkbox checkbox-group pull-left">
                    <label class="checkbox-control control--checkbox">
                        {{source}}
                        <input type="checkbox"
                               id="{{'form-' + financialSourcesControls[i]}}"
                               name="{{financialSourcesControls[i]}}"
                               (change)="updatingFinancialSources(i)">
                        <div id="inline" class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-2">
                    <div class="checkbox checkbox-group pull-left">
                        <label class="checkbox-control control--checkbox">
                            jiné zdroje
                            <input type="checkbox"
                                   id="form-sourceOther"
                                   name="sourceOther"
                                   (change)="updatingFinancialSources(-1)">
                            <div id="inline" class="control__indicator"></div>
                        </label>
                    </div>
                </div>
                <div class="col-sm-10 form-group" style="min-height:90px;">
                    <div *ngIf="sourceOther && sourceOfFinances.get('sourceOtherDetail'); let control">
                        <label for="form-sourceOtherDetail">jiné příjmy</label>
                        <input autocapitalize="none" type="text"
                               id="form-sourceOtherDetail"
                               name="sourceOtherDetail"
                               class="form-control input-lg"
                               placeholder="Musí být vyplněný jiný zdroj finančních prostředků"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted"
                               tooltip="Musí být vyplněný jiný zdroj finančních prostředků" tooltipPlacement="top">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <button (click)="goBack()" class="primary" data-target="#amlCarousel" data-slide-to="0">Zpět</button>
                    <button class="primary" type="button" (click)="validateSecondPage()">Pokračovat</button>
                    <button onclick="openQuestionMarkModal('amlModalCancel')" class="primary" type="button">Zrušit</button>
                </div>
            </div>
        </div>
    </div>
</div>

