<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login JavaScript for BCAS</title>
    <meta charset="UTF-8">
</head>
<body>


<script>

    function statusChangeCallback(response) {       // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                      // The current login status of the person.
        if (response.status === 'connected') {      // Logged into your webpage and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {              // The person is logged into Facebook, but has not logged into your webpage.
            console.log("The person is logged into Facebook, but has not logged into your webpage.");
            testAPI();
        } else {                                    // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this webpage.';
        }
    }


    function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }


    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ APP_ID }}',
            cookie     : true,                     // Enable cookies to allow the server to access the session.
            xfbml      : true,                     // Parse social plugins on this webpage.
            version    : '{{ API_VERSION }}'           // Use this Graph API version for this call.
        });


        FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
        });
    };

    function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome! Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            console.log('User ID: ' + response.id);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8090/auth/facebook/validation");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                userID: response.id,
                name: response.name
            }))

            FB.login(
                function(response) {
                    console.log(response);
                },
                {
                    scope: 'public_profile',
                    auth_type: 'rerequest'
                },
                {
                    scope: 'user_likes',
                    auth_type: 'rerequest'
                }
            );
        });
    }


</script>


<!-- The JS SDK Login Button -->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="false" data-width="">
</fb:login-button>

<div id="status">
</div>

<!-- Load the JS SDK asynchronously -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v7.0&appId=1140068859701710&autoLogAppEvents=1" nonce="ZG0O2P8f"></script></body>
</html>