<html lang="en">
<head>
    <!-- from https://developers.google.com/identity/sign-in/web -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{ CLIENT_ID }}">
    <meta name="google-signin-state" content="{{ STATE }}">
    <meta name="google-signin-application_name" content="{{ APPLICATION_NAME }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<script>
    function onSignIn(googleUser) {
        /* Useful data for your client-side scripts: */
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        /* The ID token you need to pass to your backend: */
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        var thisJson = JSON.stringify({
            userGmail: profile.getEmail(),
            state: "{{ STATE }}", // same as in meta tag
            idToken: id_token
        });

        console.log(thisJson)

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:8090/auth/loginGoogle", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            userGmail: profile.getEmail(),
            state: "{{ STATE }}", // same as in meta tag
            idToken: id_token
        }));
    }
</script>
</body>
</html>