<div class="container-fluid" style="background-color:#F7F7F7;padding-bottom:60px;">
    <div class="container">
        <div class="row" style="margin-top:31px;">
            <div class="col-sm-3">
                <span style="cursor:pointer;" (click)="goBack()">
                    <img style="transform:rotate(180deg); margin-right: 10px;" src="../../../../assets/content/icons/arrow.svg" /> Zpět
                </span>
            </div>
        </div>
    </div>
    <div class="page-header" style="margin-top:0px;">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'formName' | translate }}</h2>
        <hr>
    </div>
    <div class="container">
        <div class="field-item even" property="content:encoded">
            <p>&nbsp;</p>
            <p>Tyto podmínky upravují užívání internetových stránek [<a target="_blank" style="text-decoration:underline;" href="https://klientskyportal.bcas.cz/portal">https://klientskyportal.bcas.cz/portal</a>] (dále jen „<strong>internetové stránky</strong>“) třetími osobami (dále jen „<strong>Uživatelé</strong>“). Užíváním internetových stránek vyjadřuje Uživatel svůj bezpodmínečný a bezvýhradný souhlas s&nbsp;těmito Podmínkami.</p>
            <p>Majitelem, pořizovatelem a provozovatelem internetových stránek je společnost Broker Consulting, a.s., IČO: 25221736, se sídlem Jiráskovo náměstí 2684/2, Východní Předměstí, 326 00 Plzeň, zapsaná v obchodním rejstříku vedeném Krajským soudem v Plzni, oddíl B, vložka 1121 (dále jen „<strong>BC</strong>“ nebo „<strong>my</strong>“).&nbsp;</p>
            <p>Internetové stránky jsou určeny pro osoby, které mají sídlo nebo bydliště v České republice, bez ohledu na skutečnost, že jsou nebo mohou být dostupné i pro jiné osoby. V této souvislosti upozorňujeme, že obsah internetových stránek není určen k užívání jakoukoliv osobou, která podléhá jakékoliv jurisdikci, kde by toto užívání bylo v rozporu s právními předpisy, popřípadě by podléhalo souhlasu příslušného orgánu nebo jiné oprávněné osoby, nebo kde by k tvorbě, provozování a/nebo distribuci obsahu internetových stránek nebo jakékoliv jeho části bylo vyžadováno povolení, registrace nebo splnění jakékoliv jiné podmínky.</p>
            <p><strong>Autorská práva a ochranné známky</strong></p>
            <p>Internetové stránky a jejich obsah lze užívat pouze pro osobní potřebu. Je zakázáno jakékoli kopírování, další zpracování, úprava či vytěžování internetových stránek či jejich obsahu. Dále jsou zakázány jakékoliv zásahy do technického nebo věcného charakteru internetových stránek. Užití mimo osobní potřebu je neoprávněným zásahem do práv BC a současně může být neoprávněným zásahem do práv subjektů, jejichž data, díla a jiné nehmotné statky jsou součástí obsahu internetových stránek.</p>
            <p><strong>Obsah internetových stránek a přístup k nim</strong></p>
            <p>Obsah internetových stránek je informativní. Obsah internetových stránek byl pořízen a získán ze zdrojů, které BC považuje za spolehlivé, BC nicméně neodpovídá za jeho správnost, úplnost a aktuálnost. Obsah internetových stránek je průběžně obnovován a upravován. Informace, data, názory, stanoviska nebo jiná sdělení uveřejněná na internetových stránkách musí být posuzovány ve vztahu k okamžiku jejich prvního uveřejnění na internetových stránkách.&nbsp;</p>
            <p>BC si vyhrazuje právo kdykoliv bez předchozího upozornění změnit nebo odstranit jakoukoliv část obsahu internetových stránek. BC si rovněž vyhrazuje právo omezit přístup na internetové stránky nebo k&nbsp;některým jejím částem. V&nbsp;případě potřeby může BC omezit provoz internetových stránek nebo jejich provoz ukončit.&nbsp;</p>
            <p><strong>Vyloučení odpovědnosti a záruk</strong></p>
            <p>Každý Uživatel užívá internetové stránky na vlastní riziko. BC neodpovídá za jakékoliv přímé nebo nepřímé škody vzniklé v souvislosti s užíváním internetových stránek a dále za škody vzniklé z důvodu jejich částečné a/nebo úplné nefunkčnosti. BC nezaručuje možnost připojení a bezchybné fungování internetových stránek a neodpovídá za jakékoliv přímé nebo nepřímé škody vzniklé v důsledku nemožnosti připojení k těmto stránkám a/nebo nemožnosti využívání jejich obsahu. BC neodpovídá ani neručí za závazky osob, jejichž nabídky jsou ve formě reklamy, inzerce či jinak uvedeny na internetových stránkách. BC není účastníkem žádných právních vztahů, které Uživatel naváže s takovými třetími osobami. BC neodpovídá za pravdivost, obsah a formu reklamy třetích osob na internetových stránkách.</p>
            <p><strong>Odkazy a propojení s jinými www stránkami</strong></p>
            <p>Odkazy na stránky třetích stran se poskytují jako výhoda pro Uživatele. BC neodpovídá za obsah www stránek, které jsou dostupné prostřednictvím internetových stránek, jakož ani za závazky osob, které nabízejí, poskytují nebo zprostředkovávají služby na takovýchto www stránkách. BC neodpovídá za obsah www stránek, ze kterých je možné se připojit na internetové stránky, jakož ani za závazky osob, které nabízejí, poskytují nebo zprostředkovávají služby na takovýchto www stránkách.</p>
            <p><strong>Vaše odkazy na internetové stránky</strong></p>
            <p>Odkazy na internetové stránky můžete umístit na své www stránky pouze po obdržení výslovného předchozího písemného souhlasu od BC.</p>
            <p><strong>Upozornění pro právnické osoby</strong></p>
            <p>Pokud se pro určitou službu jako Uživatel registruje právnická osoba, může tak učinit pouze prostřednictvím osoby, která je k tomu v souladu s jejími interními pravidly oprávněna. BC neodpovídá za žádnou škodu nebo újmu vzniklou třetím osobám v souvislosti s tím, že registraci provede neoprávněná osoba.</p>
            <p><strong>Ochrana osobních údajů a používání souborů cookie</strong></p>
            <p>Informace o zpracování osobních údajů Uživatelů a zásady používání souborů cookie naleznete v&nbsp;<a target="_blank" style="color:#E43024; text-decoration:underline" href="../../../../assets/content/files/gdpr_prohlaseni_o_ochrane_osobnich_udaju_a_souboru_cookie_id_180088_revize_sk_25_6_2018.pdf">Prohlášení o ochraně osobních údajů a souborech cookie.</a></p>
            <p><strong>Elektronická komunikace</strong></p>
            <p>Upozorňujeme, že při komunikaci prostřednictvím elektronické pošty (e-mailu) zpravidla nejsou zprávy bez dalšího šifrovány. Prosím vezměte na vědomí, že s&nbsp;informacemi, které nám touto cestou zašlete nebo které BC zašle na Vámi uvedený e-mailový kontakt, se tak bude moci seznámit každá osoba, která k nim získá přístup. Za zabezpečení a přístup ke kontaktním údajům, které nám Uživatel poskytne, odpovídá vždy Uživatel. BC neodpovídá za případný neoprávněný přístup třetích osob k&nbsp;informacím, které Vám pošleme, či jejich zneužití.</p>
            <p><strong>Závěrečná ustanovení, platnost a účinnost</strong></p>
            <p>Zveřejnění jakýchkoliv údajů či informací na internetových stránkách nemá povahu právního jednání směřujícího ke vzniku právního vztahu mezi BC a Uživatelem, pokud nebude v jednotlivých případech výslovně uvedeno jinak. Případný souhlas či jiné jednání Uživatele proto nemůže být za žádných okolností považováno za přijetí nabídky a nepovede bez dalšího k uzavření smlouvy.</p>
            <p>Tyto podmínky jsou platné a účinné od 25. 6. 2018. BC si vyhrazuje právo tyto podmínky kdykoliv změnit.&nbsp;</p>
            <p><strong>Pokud s&nbsp;těmito podmínkami nesouhlasíte, prosím opusťte tyto stránky a dále je nepoužívejte.</strong></p>
        </div>
    </div>
</div>
