<div>
    <div *ngIf="!logedIn()">
        <div class="container navbar hidden-xs">
            <div class="row">
                <div class="col-sm-4 text-left" style="margin-top:7px;">
                    <a><img class="img-responsive" style="cursor:default;" src="../assets/content/images/logo_tvujbroker_2.svg" width="190" height="80"></a>
                </div>
                <div class="col-sm-4 text-center">
                    <h3 style="font-weight:400;">{{ i18NPrefix + 'clientPortal' | translate }}</h3>
                </div>
                <div class="col-sm-3 text-right">
                    <h4 style="color:red;">
                        <img src="../assets/content/icons/phone.svg">
                        <strong>{{ i18NPrefix + 'phone' | translate }}</strong>
                    </h4>
                    <p style="margin-top:-10px;">
                        <strong>{{ i18NPrefix + 'phoneAvailability' | translate }}</strong>
                    </p>
                </div>
                <div class="col-sm-1 text-right">

                </div>
            </div>
        </div>
        <div class="container-fluid navbar visible-xs">
            <div class="row">
                <div class="col-xs-5">
                    <a [routerLink]="['/']"><img class="img-responsive" src="../assets/content/images/logo_tvujbroker_2.svg" width="100" height="40" /></a>
                </div>
                <div class="col-xs-5 text-left" style="padding:5px 4px 0px 4px;">
                    <span style="font-weight:500; font-size:15px; color:#E43024;">{{ i18NPrefix + 'clientPortal' | translate }}</span>
                </div>
                <div class="col-xs-2 text-center">
                    <img class="img-responsive" src="../assets/content/icons/phone.svg">
                </div>
            </div>
        </div>
        <hr id="header-hr">
    </div>

    <div *ngIf="logedIn()">
        <div class="container-fluid" style="border-bottom:1px solid #DDDEE6;">
            <div class="container">
                <div class="row hidden-xs">
                    <div class="col-sm-3" style="margin-top:28px;">
                        <a [routerLink]="['/dashboard']" onclick="setActiveNav('dashboard')">
                            <img class="img-responsive" src="../assets/content/images/logo_tvujbroker_2.svg" width="190" height="80" />
                        </a>
                    </div>
                    <div id="header-padding" style="margin-left:auto; margin-right:auto; padding:0px;">
                        <div class="col-sm-1">
                            <div id="dashboard" [routerLink]="['/dashboard']" data-toggle="tab" class="header-item" onclick="setActiveNav('dashboard')">
                                <img style="top:28px;margin:auto;bottom:45px;right:36%;position:absolute;" src="../assets/content/icons/home1.svg" />
                            </div>
                            <div id="dot" class="hidden-xs hidden-sm">
                                <div class="dot-item" style="right:3px;">
                                    <span class="glyphicon glyphicon-one-fine-dot"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">

                            <div id="binder" data-toggle="tab" [routerLink]="['/binder']" (click)="loaderDisable()" class="header-item" onclick="setActiveNav('binder')">
                                <a>{{ i18NPrefixHeader + 'binder' | translate }}</a>
                            </div>

                            <div id="dot" class="hidden-xs hidden-sm">
                                <div class="dot-item" style="right:1px;">
                                    <span class="glyphicon glyphicon-one-fine-dot"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-1">

                            <div id="finance" data-toggle="tab" [routerLink]="['/finance']" class="header-item" onclick="setActiveNav('finance')">
                                <a>{{ i18NPrefixHeader + 'finance' | translate }}</a>
                            </div>

                            <div id="dot" class="hidden-xs hidden-sm">
                                <div class="dot-item" style="right:-15px;">
                                    <span class="glyphicon glyphicon-one-fine-dot"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-2">

                            <div id="selfservice" data-toggle="tab" [routerLink]="['/selfservice']" class="header-item" onclick="setActiveNav('selfservice')">
                                <a>{{ i18NPrefixHeader + 'selfservice' | translate }}</a>
                            </div>

                            <div id="dot" class="hidden-xs hidden-sm">
                                <div class="dot-item">
                                    <span class="glyphicon glyphicon-one-fine-dot"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-1">


                            <div id="messages" data-toggle="tab" [routerLink]="['/messages']" class="header-item" onclick="setActiveNav('messages')">
                                <a>{{ i18NPrefixHeader + 'messages' | translate }}</a>
                            </div>

                            <div class="hidden-xs hidden-sm" id="dot">
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3" style="padding:32px 0px 0px">

                        <img [routerLink]="['/profile']" style="outline:none;cursor:pointer; margin-right:0.5vw;" src="../assets/content/icons/login 1.svg" />
                        <a (click)="logout()" id="logout">{{ i18NPrefixHeader + 'logout' | translate }}</a>
                    </div>
                </div>
                <div class="row visible-xs" (click)="validateBCID();" style="padding-top:10px;padding-bottom:10px;">
                    <div class="col-xs-6">
                        <img [routerLink]="['/dashboard']" src="../assets/content/images/logo_tvujbroker_2.svg" width="100" height="40" />
                    </div>
                    <div class="col-xs-6" style="padding-top:5px;">
                        <div class="pull-right">
                            <div class="col-xs-6">
                                <img [routerLink]="['/profile']" style="outline:none;cursor:pointer;" src="../assets/content/icons/login 1.svg" />
                            </div>
                            <div class="col-xs-6">
                                <button style="margin:0px;padding:0px;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span style="font-size:21px; color:#E43024;">
                                        <img style="outline:none;cursor:pointer; height: 40px; color:#E43024; outline: none; padding-bottom: 14px;" src="../assets/content/icons/menu.png" />
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav text-right">
                            <li [routerLink]="['/dashboard']">
                                <a>{{ i18NPrefixHeader + 'dashboard' | translate }}</a>
                            </li>
                            <li [routerLink]="['/binder']">
                                <a>{{ i18NPrefixHeader + 'binder' | translate }}</a>
                            </li>
                            <li [routerLink]="['/finance']">
                                <a>{{ i18NPrefixHeader + 'finance' | translate }}</a>
                            </li>
                            <li [routerLink]="['/selfservice']">
                                <a>{{ i18NPrefixHeader + 'selfservice' | translate }}</a>
                            </li>
                            <li [routerLink]="['/messages']">
                                <a>{{ i18NPrefixHeader + 'messages' | translate }}</a>
                            </li>
                            <li>
                                <a class="aRed" (click)="logout()">{{ i18NPrefixHeader + 'logout' | translate }}</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-gdpr-consents (modalClosed)="gdprModalClosed()"></app-gdpr-consents>


    <hr id="header-hr">
    <footer>
        <br>
        <div class="container">
            <div id="footer-consultant" class="row" style="border-bottom:1px solid #DDDEE6;margin-top:40px;">
                <div class="col-sm-4">
                    <h4 style="color:red;">
                        <img src="../assets/content/icons/phone.svg">
                        <strong>{{ i18NPrefixFooter + 'phone' | translate }}</strong>
                    </h4>
                    <p>{{ i18NPrefixFooter + 'phoneAvailability' | translate }}</p>
                </div>
                <div id="footer-consultant" class="col-sm-4">
                    <div *ngIf="logedIn() && consultant">
                        <div class="col-sm-6 hidden-xs text-right">
                            <img id="consultant-image" [src]="'data:image/jpg;base64,' + consultant.photo.data" />
                        </div>
                        <div style="margin-bottom:21px;" class="col-sm-6">
                            <p style="color:#9B9DA6;">{{ i18NPrefixFooter + 'yourConsultant' | translate }}</p>
                            <p>
                                <strong>{{consultant.firstName + ' ' + consultant.lastName}}</strong>
                            </p>
                            <p>
                                <a class="aRed" href="{{'mailto:' + consultant.emailAddress}}">{{consultant.emailAddress}}</a>
                            </p>
                            <p>{{consultant.contactPhone}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs" style="padding-right:0px;">
                    <div class="pull-right">
                        <img id="img-fingerplay" src="../assets/content/images/finger play.png">
                    </div>
                </div>
                <div class="col-xs-12 visible-xs text-center" style="padding-right:0px;">

                    <img id="img-fingerplay" src="../assets/content/images/finger play.png">
                </div>
            </div>
            <div class="row hidden-xs" style="margin-top:10px;">
                <div class="col-sm-3" style="padding-left:0px;">
                    &copy; {{ i18NPrefixFooter + 'BrokerConsulting' | translate }}
                </div>
                <div class="col-sm-9" style="padding-right:0px;">
                    <ul class="footer-pills pull-right">
                        <li><a *ngIf="logedIn()" [routerLink]="['/onboarding']">{{ i18NPrefixFooter + 'aboutPortal' | translate }}</a></li>
                        <li>
                            <a *ngIf="logedIn()" (click)="openGDPR()">{{ i18NPrefixFooter + 'agreeWithProcessingPersonalData' | translate }}</a>
                        </li>
                        <li>
                            <a [routerLink]="['/termConditions']" [queryParams]="{goBackRoute: getBackRoute()}">{{ i18NPrefixFooter + 'termConditions' | translate }}</a>
                        </li>
                        <li>
                            <span>{{ i18NPrefixFooter + 'version' | translate }}&nbsp;{{ version }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="visible-xs">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <br /> &copy; {{ i18NPrefixFooter + 'BrokerConsulting' | translate }}
                    </div>
                </div>
                <br />
                <div class="footer-pills">
                    <div class="col-xs-12 text-center">
                        <a *ngIf="logedIn()" [routerLink]="['/onboarding']">{{ i18NPrefixFooter + 'aboutPortal' | translate }}</a>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p>
                            <a *ngIf="logedIn()" (click)="openGDPR()">{{ i18NPrefixFooter + 'agreeWithProcessingPersonalData' | translate }}</a>
                        </p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p>
                            <a [routerLink]="['/termConditions']" [queryParams]="{goBackRoute: getBackRoute()}">{{ i18NPrefixFooter + 'termConditions' | translate }}</a>
                        </p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span>{{ i18NPrefixFooter + 'version' | translate }}&nbsp;{{ version }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </footer>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true}"></ngx-loading>



<div id="modalLogout" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ i18NPrefix + 'logout.title' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ i18NPrefix + 'logout.text' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="redirectToPortal()">
                    {{ i18NPrefix + 'logout.ok' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal AML -->
<div class="modal fade" id="amlModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">AML Aktualizace osobních údajů klienta</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>
                        Naše společnost touto cestou plní svoji zákonnou povinnost plynoucí z příslušné legislativy v souvislosti s požadavkem
                        na zajištění dlouhodobé odborné péče o klienta. Kromě aktualizace vstupních údajů potřebných pro sjednání
                        a kvalitní nastavení jednotlivých produktů je nutná i pravidelná aktualizace údajů podle zákona&nbsp;č.&nbsp;253/2008&nbsp;Sb.,
                        o některých opatřeních proti legalizaci výnosů z trestné činnosti a financování terorismu.
                        Konkrétně je tato povinnost stanovena v&nbsp;§&nbsp;8&nbsp;odst.&nbsp;7 uvedeného zákona:
                    </strong>
                    <i>„V době trvání obchodního vztahu nebo při dalších obchodech povinná osoba kontroluje platnost a úplnost identifikačních údajů klienta, informací získaných v rámci kontroly klienta ... a zaznamenává jejich změny.“</i>
                </p>
                <p>Je potřeba aktualizovat Vaše osobní údaje.</p>
                <p>Pokud chcete aktualizovat údaje nyní, stiskněte Pokračovat.</p>
            </div>
            <div class="modal-footer">
                <button [routerLink]="['/formAml']" type="button" class="btn btn-default" data-dismiss="modal">Pokračovat</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="openQuestionMarkModal('amlModalCancelReminder')">Zavřít</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal AML -->
<div class="modal fade" id="amlModalCancelReminder" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">AML Aktualizace osobních údajů klienta</h4>
            </div>
            <div class="modal-body">
                <p>
                    Váš AML dotazník můžete později kdykoliv zaktualizovat ve Vašem uživatelském profilu.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="technicalReportModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="technicalReportTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="technicalReportMessage">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>

    </div>
</div>

