.heading {
  margin-bottom: 50px;
}

.col-sm-12.fix-padding {
  padding-left: 0px !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #bcbcbc;
  cursor: not-allowed;

}

  .aml-page {
  box-shadow: 0px 0px 13px 13px #EEE;
  margin: 20px;
  padding: 33px;
  border-radius: 10px;
  min-height: 300px;
  overflow: auto;
}

.dates-of-aml-expiration {
  position: relative;
  top: 85px;
  padding: 0 50px;
}

.question-mark {
  position: relative;
  bottom: 3px;
  left: 1px;
}

  .question-mark:hover {
    cursor: pointer;
  }

.showNumberPast-icon {
  background-image: url('../../assets/content/icons/12eye.svg');
  background-repeat: no-repeat;
  position: relative;
  right: 7px;
  top: 40px;
  bottom: 0px;
  height: 21px !important;
  cursor: pointer;
  width: 30px;
  float: right;
}

.modal-content {
  margin-top: 35vh !important;
  padding-bottom: 0px !important;
}

#isPoliticallyExposed.animatedScroll, #isOsvc.animatedScroll {
  max-height: 1500px;
  transition: 0.5s all ease-in;
  margin-bottom: 50px;
}

.approve {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 25px 20px;
  margin-bottom: 25px;
}

.deleteButton {
  position: relative;
  top: 37px;
}

.radio label, .checkbox label {
  padding-left: 30px !important;
}

#inline {
  left: 0px !important;
}

.deleteButton:hover {
  cursor: pointer;
}

#aml-form .primary {
  width: 150px !important;
}

.item {
  perspective: none !important;
}

#isPoliticallyExposed, #isOsvc {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s all ease-out;
}

.checkbox {
  left: 0px !important;
  bottom: 10px !important;
}

@media screen and (max-width:992px) and (min-width:425px) {
  #aml-carousel-indicators {
    top: 150px !important;
    bottom: auto !important;
  }
}

@media screen and (max-width:425px) {
  #aml-carousel-indicators {
    top: 170px !important;
    bottom: auto !important;
  }
}

@media screen and (min-width:992px){
  #aml-carousel-indicators {
    top: 125px !important;
    bottom: auto !important;
  }
}

  #aml-carousel-indicators li:hover {
    cursor: default !important;
  }

  #aml-carousel-indicators li {
    cursor: default !important;
  }
