<div class="container">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'header' | translate }}</h2>
        <hr>
    </div>



    <form id="aml-form" *ngIf="amlForm" [formGroup]="amlForm" (ngSubmit)="submit()">

        <div id="amlCarousel" class="carousel">
            <div class="row dates-of-aml-expiration hidden-xs hidden-sm">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 text-right">
                    <div>
                        <div class="inner-addon right-addon simple-input">
                            <label for="form-datum">Poslední aktualizace tohoto dotazníku proběhla </label>
                            {{dateAcquired}}
                        </div>
                        <div class="inner-addon right-addon simple-input" style="margin-top:0px;">
                            <label for="form-datum">Platnost AML vyprší dne </label>
                            {{renewalDate}}
                        </div>
                    </div>
                </div>
            </div>
            <ol id="aml-carousel-indicators" class="carousel-indicators">
                <li data-target="#amlCarousel" class="active"></li>
                <li data-target="#amlCarousel"></li>
                <li data-target="#amlCarousel"></li>
            </ol>

            <div class="carousel-inner">
                <div class="row visible-xs visible-sm">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        <div>
                            <div class="inner-addon right-addon simple-input">
                                <label for="form-datum">Poslední aktualizace tohoto dotazníku&nbsp;proběhla&nbsp;</label>
                                {{dateAcquired}}
                            </div>
                            <div class="inner-addon right-addon simple-input">
                                <label for="form-datum">Platnost AML vyprší dne </label>
                                {{renewalDate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <aml-first-page [clientInformations]="amlForm.controls.clientInformations"></aml-first-page>
                </div>

                <div class="item">
                    <aml-second-page [sourceOfFinances]="amlForm.controls.sourceOfFinances"></aml-second-page>
                </div>

                <div class="item">
                    <aml-third-page [dateAcquired]="dateAcquired" [renewalDate]="renewalDate" [birthDate]="amlForm.controls.clientInformations.controls.birthDate.value" [identityDocument]="amlForm.controls.identityDocument"></aml-third-page>
                </div>

            </div>
        </div>
    </form>
</div>

<app-aml-modals></app-aml-modals>

<!-- Modal update -->
<div class="modal fade" id="amlModalUpdate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Potvrdit aktualizaci</h4>
            </div>
            <div class="modal-body">
                <p>
                    Vyplněné údaje budou uloženy.
                    Skutečně chcete závazně aktualizovat Vaše osobní údaje?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateAml()">Ano</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal cancel -->
<div class="modal fade" id="amlModalCancel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zrušit aktualizaci</h4>
            </div>
            <div class="modal-body">
                <p>
                    Byly provedené změny na formuláři. Aktualizaci je potřeba uložit stisknutím tlačítka Aktualizovat na poslední stránce formuláře.
                    Skutečně chcete opustit formulář bez uložení?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.history.go(-1)">Ano</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
            </div>
        </div>

    </div>
</div>
