<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'selfservice' | translate }}</h2>
        <hr>
    </div>


    <div class="container">
        <p class="text-center" style="font-weight:bold;">{{ i18NPrefix + 'whatCanDoINSelfservice' | translate }}</p>
        <br />
        <div class="row">
            <div>
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/1 povinne ruceni.svg" />
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'damageliability1' | translate }}<br />{{ i18NPrefix + 'damageliability2' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'damageliabilityDesc' | translate }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectToDamageliability()" type="button" class="btn secondary">{{ i18NPrefix + 'damageliabilityInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/2 havarijni pojisteni.svg" />
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'accidentInsurance1' | translate }}<br />{{ i18NPrefix + 'accidentInsurance2' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'accidentInsuranceDesc' | translate }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectToAccidentInsurance()" type="button" class="btn secondary">{{ i18NPrefix + 'accidentInsuranceInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/kombinovane_pojisteni_auta.svg" width="68" />
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'combinatedCarInsurance' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'combinatedCarInsuranceDesc' | translate }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectTocombinatedCarInsurance()" type="button" class="btn secondary">{{ i18NPrefix + 'combinatedCarInsuranceInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/4 pojisteni majetku.svg" />
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'proprietaryInsurance1' | translate }}<br />{{ i18NPrefix + 'proprietaryInsurance2' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'proprietaryInsuranceDesc' | translate }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectToProprietaryInsurance()" type="button" class="btn secondary">{{ i18NPrefix + 'proprietaryInsuranceInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard" style="padding: 0px 10px 19px 10px !important;">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/pojisteni_domacnosti.svg" width="68" />
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'householdInsurance1' | translate }}<br />{{ i18NPrefix + 'householdInsurance2' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'householdInsuranceDesc' | translate }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectToHouseholdInsurance()" type="button" class="btn secondary">{{ i18NPrefix + 'householdInsuranceInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/pojisteni_nemovitosti_a_domacnosti.svg" width="68" />
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'combinatedProprietaryInsurance' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'combinatedProprietaryInsuranceDesc' | translate }}</p>
                            <div class="line-height"></div>
                            <div class="line-height"></div>

                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectTocombinatedProprietaryInsurance()" type="button" class="btn secondary">{{ i18NPrefix + 'combinatedProprietaryInsuranceInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/5 zivotni pojisteni.svg" width="68"/>
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'liabilityInsurance1' | translate }}<br />{{ i18NPrefix + 'liabilityInsurance2' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'liabilityInsuranceDesc' | translate }}</p>
                            <div class="line-height"></div>

                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectToliabilityInsurance()" type="button" class="btn secondary">{{ i18NPrefix + 'liabilityInsuranceInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/9 prodej-nakup reality.svg" width="68"/>
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'employeeLiabilityInsurance' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'employeeLiabilityInsuranceDesc' | translate }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button (click)="redirectToemployeeLiabilityInsurance()" type="button" class="btn secondary">{{ i18NPrefix + 'employeeLiabilityInsuranceInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <!--<div class="selfServiceCard">
                        <div class="col-sm-12">
                            <img src="../assets/content/card-icons/7 hypoteka.svg" width="68" />
                        </div>
                        <div class="col-sm-12 selfservice-card-title">
                            <h3 class="text-center">{{ i18NPrefix + 'mortgage1' | translate }}<br />{{ i18NPrefix + 'mortgage2' | translate }}</h3>
                        </div>
                        <div class="col-sm-12 selfservice-card-desc">
                            <p class="centered-table-cell">{{ i18NPrefix + 'mortgageDesc1' | translate }}<br />{{ i18NPrefix + 'mortgageDesc2' | translate }}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6 marginSelfServiceCard">
                                <button [ngx-scroll-to]="'#message'" type="button" class="btn secondary">{{ i18NPrefix + 'mortgageInterested' | translate }}</button>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <app-messages-consultant-message-box class="newMessage"></app-messages-consultant-message-box>
        <!--NEW COMPONENT ?-->
    </div>
</div>
