<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'forName' | translate }}</h2>
        <hr>
    </div>
</div>

<div id="filterContainer" class="container-fluid hidden-xs">
    <div class="container page-header">

        <div class="row">
            <div class="col-md-4">
                <div class="inner-addon right-addon simple-input">
                    <label for="findInContracts">{{ i18NPrefix + 'findInContracts' | translate }}</label>
                    <img src="../assets/content/icons/search.svg" class="icon" />
                    <input #filterFulltextInput value="" type="text" [(ngModel)]="filterText" id="contractsSearched">
                </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3 pull-right">
                <button type="button" style="font-size:15px;" class="btn primary" data-toggle="modal" data-target="#newContract" (click)="initNewContractForm()">{{ i18NPrefix + 'addContract' | translate }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <ul class="nav nav-pills text-left">
                    <li class="nav-item active"><a (click)="filterAll()" data-toggle="tab">{{ i18NPrefix + 'all' | translate }}</a></li>

                    <li class="nav-item"><a (click)="filterActive()" data-toggle="tab">{{ i18NPrefix + 'active' | translate }}</a></li>

                    <li class="nav-item"><a (click)="filterEnded()" data-toggle="tab">{{ i18NPrefix + 'ended' | translate }}</a></li>

                    <li class="nav-item"><a (click)="filterBrokerConsulting(true)" data-toggle="tab">{{ i18NPrefix + 'fromBC' | translate }}</a></li>

                    <li class="nav-item"><a (click)="filterBrokerConsulting(false)" data-toggle="tab">{{ i18NPrefix + 'nonBC' | translate }}</a></li>
                </ul>

            </div>
            <div class="col-md-4">
            </div>
        </div>

    </div>
</div>
<!-- FILTER -->
<div id="filterContainer" class="container-fluid visible-xs">
    <div class="container page-header">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <button type="button" style="font-size:15px;" class="btn primary" data-toggle="modal" data-target="#newContract">{{ i18NPrefix + 'addContract' | translate }}</button>

            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="inner-addon right-addon simple-input">
                    <label for="findInContracts">{{ i18NPrefix + 'findInContracts' | translate }}</label>
                    <img src="../assets/content/icons/search.svg" class="icon" />
                    <input #fulltextFilterMobile type="text" [(ngModel)]="filterText" id="contractsSearched">
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:10px;padding-right:10px;">
            <div class="col-xs-12">
                <select #mobileSelect id="mobileSelect" (change)="mobileFilter($event)" class="mobile-select" style="outline-color:none;">
                    <option>{{ i18NPrefix + 'all' | translate }}</option>
                    <option>{{ i18NPrefix + 'active' | translate }}</option>
                    <option>{{ i18NPrefix + 'ended' | translate }}</option>
                    <option>{{ i18NPrefix + 'fromBC' | translate }}</option>
                    <option>{{ i18NPrefix + 'nonBC' | translate }}</option>
                </select>
            </div>
        </div>
        <div class="row">
        </div>

    </div>
</div>

<!--<div id="filterContainer" class="container-fluid visible-xs">
    <div class="container page-header">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <button type="button" style="font-size:15px;" class="btn primary" data-toggle="modal" data-target="#newContract">{{ i18NPrefix + 'addContract' | translate }}</button>

            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="inner-addon right-addon simple-input">
                    <label for="findInContracts">{{ i18NPrefix + 'findInContracts' | translate }}</label>
                    <img src="../assets/content/icons/search.svg" class="icon" />
                    <input value="" type="text" [(ngModel)]="filterText" id="contractsSearched">
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:10px;padding-right:10px;">
            <div class="col-xs-12">
                <select class="mobile-select">
                    <option>{{ i18NPrefix + 'all' | translate }}</option>
                    <option>{{ i18NPrefix + 'active' | translate }}</option>
                    <option>{{ i18NPrefix + 'ended' | translate }}</option>
                    <option>{{ i18NPrefix + 'fromBC' | translate }}</option>
                    <option>{{ i18NPrefix + 'nonBC' | translate }}</option>
                </select>
            </div>
        </div>

    </div>
</div>-->

<app-binder-new-contract #newContract (added)="onContractCreation($event)" (dataChanged)="onDataChanged()"></app-binder-new-contract>

<div id="edit_contract_dest" class="container-fluid" style="background-color:#F7F7F7">
    <div class="container">
        <app-binder-edit-contract *ngIf="showDetail"
                                  [notifications]="getContractNotifications(detailId)"
                                  (showDetail)="onShowDetailChange($event)"
                                  [contractId]="detailId"></app-binder-edit-contract>
    </div>
</div>

<div *ngIf="!showDetail">
    <div class="container-fluid" style="background-color:#F7F7F7">
        <div class="container">
            <div *ngIf="showedContracts.length > 0">
                <div *ngIf="notificationsInited">
                    <div *ngFor="let contract of showedContracts | filter : 'binder' : filterText">
                        <app-binder-contract [contract]="contract"
                                             [notifications]="getContractNotifications(contract.contractId)"
                                             (showDetail)="onShowDetailChange($event)"
                                             (detailId)="onDetailIdSelect($event)"></app-binder-contract>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color:#F7F7F7">
        <div class="text-center form-margin"><a [routerLink]="['/dashboard']">{{ i18NPrefix + 'allPlannedPayments' | translate }}</a></div>
    </div>

    <div class="container text-center">
        <div class="page-header">
            <h2 id="setNotifications" class="text-center">{{ i18NPrefix + 'notifications' | translate }}</h2>
            <hr>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <app-binder-notification *ngFor="let notification of notContractNotifications"
                                     [notification]="notification"
                                     (notificationDeleted)="notificationDeleted($event)"
                                     (notificationEdited)="notificationEdited($event)">
            </app-binder-notification>
            <app-binder-new-notification (edit)="notificationAdding($event)" (saveNotification)="saveNotification($event)" [edited]="addingNewNotification"></app-binder-new-notification>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3" style="margin: 0px auto;float: none;">
                <button type="button" style="font-size:15px;" class="btn primary" (click)="addNotification()">{{ i18NPrefix + 'addNotification' | translate }}</button>
            </div>
        </div>
    </div>
    
   
</div>

<br />

<!-- TBD pridat sedy pruh-->
