<form role="form" *ngIf="form" (ngSubmit)="onSubmit(form)">
    <div class="row">
        <div class="col-md-3" *ngIf="form.get('dateOfStart'); let control">
            <div class="input-group date datepicker datepickersNotify" style="width:100%;">
                <input onclick="setMinToday('#form-dateOfStartNotif')" type="text"
                       id="form-dateOfStartNotif"
                       placeholder="{{ i18NPrefix + 'date' | translate }}"
                       data-provide="datepicker"
                       data-date-start-date="'0'"
                       name="dateOfStart"
                       class="form-control datepickerfix"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       autocomplete="off"
                       (keyup)="validateDateInPast()"
                       [or]="alreadySubmitted"
                       (input)="validateDateInPast()"
                       (focusout)="dateChanged($event)"
                       tooltip="{{ i18NPrefix + 'date' | translate }}" tooltipPlacement="top">
            </div>
            <div class="form-group alert alert-danger" *ngIf="dateInPastError">
                {{ 'global.' + 'validation.dateInPast' | translate }}
            </div>
        </div>

        <div class="col-md-3" *ngIf="form.get('frequency'); let control">
            <div class="form-group">
                <select class="form-control input-lg custom-select"
                        id="form-frequency"
                        name="frequency"
                        [formControl]="control"
                        appValidationIsInvalid
                        [control]="control"
                        (change)="updatingNotification()"
                        [or]="alreadySubmitted"
                        tooltip="{{ i18NPrefix + 'frequency' | translate }}" tooltipPlacement="top">
                    <option style="display:none;" disabled [selected]="!form.get('frequency').value">{{ i18NPrefix + 'frequency' | translate }}</option>
                    <ng-container *ngFor="let freq of notificationFrequencyList()">
                        <option value="{{freq}}">{{ 'enum.NotificationFrequency.' + freq | translate }}</option>
                    </ng-container>
                </select>
            </div>
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>
        </div>

        <div class="col-md-6" *ngIf="form.get('description'); let control">
            <div class="form-group pull-left row">
                <input type="text" style="max-width: 95%" class="form-control input-lg pull-left"
                       placeholder="{{ i18NPrefix + 'description' | translate }}"
                       id="form-description"
                       name="description"
                       (change)="updatingNotification()"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       tooltip="{{ i18NPrefix + 'description' | translate }}" tooltipPlacement="top">
                <app-validation-errors style="position: absolute; top: 60px;" [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
            <div class="pull-right remove-icon-margin">
                <a class="aRed pull-right" (click)="this.notification.prescriptId ? modalToRemoveNotification(this.notification.prescriptId) :  removeNewNotification()" style="text-decoration:none">
                    <img src="../assets/content/icons/delete.svg" title="{{ i18NPrefix + 'removeNotification' | translate }}" />
                    <!-- {{ i18NPrefix + 'removeNotification' | translate }} -->
                </a>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="submitError">
        <div class="col-md-12">
            <div class="form-group alert alert-danger">
                {{ i18NPrefix + 'error' | translate }}
            </div>
        </div>
    </div>
</form>

<div *ngIf="this.notification.prescriptId" id="{{this.notification.prescriptId}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ i18NPrefix + 'modal.deleteNotification.title' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ i18NPrefix + 'modal.deleteNotification.text' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="removeNotification()" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteNotification.yes' | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteNotification.no' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
