.navbar h3 {
  color: #E43024;
  font-weight:100;
}

@media screen and (max-width: 768px){
  #img-fingerplay {
      margin-left: auto;
      margin-bottom: 30px;
      margin-right:auto;
  }

  #footer-consultant{
   text-align:center;
  }

}

@media screen and (min-width: 768px) {
  #img-fingerplay {

      margin-bottom: 30px;


  }
  #footer-consultant{
      text-align:left;
  }
}

.footer-pills {
  list-style-type: none;
}

.footer-pills li{
  padding-left:10px;
  float:left;
  font-size:12px;
  color:gray;
}

.footer-pills p {
  text-decoration: underline;
}

.footer-pills li:hover{
  text-decoration:none;
}

.showPassword:hover{
  cursor:pointer;
}

@media screen and (max-width: 768px) {
  .footer-pills {
      margin-left: 0px;
      text-align: justify;
      font-size: 12px;
      color: gray;
      cursor:pointer;
  }
}

/* @media screen and (min-width: 768px) {
  .footer-pills {
      margin-left: 155px;
  }
} */


  /*@media screen and (max-width:)*/


