<form role="form" class="col-md-6"
      *ngIf="form"
      (ngSubmit)="onSubmit(form)">
    <div class="col-md-12">
        <h3>{{ i18NPrefix + 'newRegistration' | translate }}</h3>
    </div>

    <div class="col-md-10" *ngIf="form.get('birthNumber'); let control">
        <div class="inner-addon right-addon simple-input">
            <label for="form-birthNumber">{{ i18NPrefix + 'birthNumber' | translate }}</label>
            <input type="text"
                   id="form-birthNumber"
                   name="birthNumber"
                   [formControl]="control"
                   appValidationIsInvalid
                   [control]="control"
                   [or]="alreadySubmitted"
                   placeholder="{{ i18NPrefix + 'birthNumber.placeholder' | translate }}">
            <app-validation-errors [control]="control"
                                   [or]="alreadySubmitted"></app-validation-errors>

            <div *ngIf="form.errors && form.errors?.divideBy" class="alert alert-danger"
                 role="alert"
                 [innerHTML]="form.errors?.divideBy | translate">
            </div>

        </div>
    </div>
    <div class="col-md-10" style="margin-top: 10px" *ngIf="form.get('captcha'); let control">
        <app-captcha-help></app-captcha-help>
        <re-captcha #captchaRef="reCaptcha" name="captcha"
                    [siteKey]="recaptchaSiteKey"
                    [formControl]="control"
                    appValidationIsInvalid
                    [control]="control"
                    [or]="alreadySubmitted">
        </re-captcha>
        <app-validation-errors [control]="control"
                               [or]="alreadySubmitted"></app-validation-errors>
    </div>



    <div class="col-md-10">

    </div>
    <!--<div class="col-md-12">
        <br>
        <div class="checkbox" *ngIf="form.get('approve'); let control">
            <div class="checkbox-group">
                <label for="form-approve" class="checkbox-control control--checkbox">
                    {{ i18NPrefix + 'agreeWithTermConditions_part1' | translate }}
                    <a href="#">{{ i18NPrefix + 'agreeWithTermConditions_part2' | translate }}</a>
                    <input type="checkbox"
                           id="form-approve"
                           name="approve"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted">
                    <div id="inline" class="control__indicator"></div>
                </label>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
        </div>
    </div>-->
    <div class="col-md-10">
        <div class="alert alert-danger"
             role="alert"
             [innerHTML]="i18NErrorPrefix + submitErrorString | translate"
             *ngIf="submitError">
        </div>
        <div class="alert alert-danger"
             role="alert"
             [innerHTML]="i18NErrorPrefix + 'captcha.error' | translate"
             *ngIf="captchaError">
        </div>
    </div>
    <div class="col-md-5">
        <br />
        <button type="submit" class="primary">
            <span [innerHTML]="i18NPrefix + 'register' | translate"></span>
            <i class="fa fa-spinner fa-spin"
               *ngIf="submitting"></i>
        </button>

    </div>
    <div class="col-md-12">
        <br />
        <p>
            {{ i18NPrefix + 'cookieFileButton' | translate }}<a target="_blank" style="color:#E43024;text-decoration:underline;" href="../../../../assets/content/files/8_usf_informace_o_zprac_os_u_-_bc_a_s_18-02.pdf">{{ i18NPrefix + 'personalInformationFile' | translate }}</a> a <a target="_blank" style="color:#E43024;text-decoration:underline;" href="../../../../assets/content/files/gdpr_prohlaseni_o_ochrane_osobnich_udaju_a_souboru_cookie_id_180088_revize_sk_25_6_2018.pdf">{{ 'root.cookieFile' | translate }}</a>.
        </p>
    </div>
</form>
