<div style="cursor:auto;" *ngIf="showDetail" class="message-box">
    <span class="text-gray hidden-xs" style="top:27px; left:30px; font-size:12px; position:relative; font-weight:500;"> &#9632; </span>
    <span class="text-gray visible-xs" style="top:25px; left:17px; font-size:12px; position:relative; font-weight:500;"> &#9632; </span>
    <span class="pull-right visible-xs" style="position: relative; bottom: 20px; right: 15px;">
        <img src="../assets/content/icons/close 2.svg" /> <a class="aBlack" (click)="close()">Zavřít</a>
    </span>
    <span class="pull-right hidden-xs">
        <img src="../assets/content/icons/close 2.svg" /> <a class="aBlack" (click)="close()">Zavřít</a>
    </span>

    <div class="container-fluid hidden-xs">
        <div class="row">
            <div class="col-sm-10" style="padding-left:45px;">
                <h4 style="font-weight:bold;">
                    {{message.subject}}
                </h4>

            </div>

            <div class="col-sm-2">
                <div class="message-date" style="padding-top:0px !important; padding-right:10px; float:right;">
                    <span class="text-gray" style="position: absolute; right: 105px; font-size:25px; padding-left:20px;padding-right:20px;"> | </span>  <span style="position:relative; top:9px; font-weight:bold; font-size:15px">{{message.dateSent}}</span>
                </div>
            </div>
        </div>

        <div id="fullMessage" class="row" style="overflow-wrap: break-word;">
            <div class="col-sm-12">
                {{ message.body }}
            </div>
        </div>
        <div id="messageAttachments" class="row">
            <div class="col-md-4 col-sm-5" *ngFor="let attachment of message.attachments">
                
                    <div class="btn attachmentD">
                        <div class="row">
                            <div class="downloadAttach">
                                <a [href]="getAttachmentUrl(attachment)" [target]="_blank">
                                    <img class="attachment-icon-left" src="../../../../assets/content/icons/file 3.svg" />
                                    <span class="attachment-text"> {{ attachment.name }}</span>

                                </a>
                            </div>

                        </div>
                    </div>
              
            </div>
            <!-- Dle analyzy: The option „Přidat do Šanonu“ is not considered within the scope of the first generation of the client portal. -->
            <!-- <div class="col-sm-2">
                <button style="font-size:13px;" class="btn secondary"><span><img style="transform:rotate(45deg); height:10px; width:10px;" src="../assets/content/icons/close.svg" /></span> Přidat do šanonu</button>
            </div> -->
        </div>
    </div>
    <div class="container-fluid visible-xs">
        <div class="mobile-msg-header">
            <div class="row">
                <div class="col-xs-9">
                    <h4 class="font-extra">{{message.subject}}</h4>
                </div>
                <div class="col-xs-3" style="padding:0px;">
                    <div class="push-right message-date-mobile">
                        <p style="position: relative; bottom: 15px; right:6px;float:right; font-weight:bold;">{{message.dateSent}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-msg-content">
            <div class="row">
                <div class="col-xs-5" style="padding-right:0px;">
                    <h5 style="margin-top:2.5px;">{{message.sender}}</h5>
                </div>
                <div class="col-xs-3">
                    <!--<small>{{message.dateSent}}</small>-->
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <!-- <img src="../assets /content/icons/send.svg" />-->
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-msg-text">
            {{message.body}}
        </div>
        <div class="col-md-4 col-sm-5" *ngFor="let attachment of message.attachments" style="margin-top:10px;">
            <div class="btn attachmentD">
                <div class="row">
                    <div class="downloadAttach">
                        <a [href]="getAttachmentUrl(attachment)" [target]="_blank">
                            <img class="message-attachment-mobile" src="../../../../assets/content/icons/file 3.svg" />
                            <span class="attachment-text"> {{ attachment.name }}</span>

                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!--<div class="row text-center">
            <a class="aRed">Přidat do šanonu</a>
        </div>-->
    </div>
</div>
