<div class="row">
    <div class="col-sm-12">
        <strong>{{ i18NPrefix + 'helpCheckFieldHeader' | translate }}</strong>
        <p><i style="color:gray;">{{ i18NPrefix + 'helpCheckField' | translate }}</i>   <span class="questionMark"><img height="15" src="../../assets/content/icons/question_mark.png" />  <span id="showHelpText" style="text-decoration:underline;color:#E43024;cursor:pointer;" class="collapsed" (click)="showHelp()" data-toggle="collapse" data-target="#showHelp">{{ i18NPrefix + 'showHint' | translate }}</span></span></p>
    </div>
</div>
<div id="showHelp" class="collapse">
    <p>{{ i18NPrefix + 'helpHeader' | translate }}  </p>
    <p>
        {{ i18NPrefix + 'helpContext' | translate }}
        
    </p>
</div>
