<form role="form" class="container"
*ngIf="form"
(ngSubmit)="onSubmit(form)">
    <div class="row" style="margin-top:50px;margin-bottom:25px;">
        <div class="col-sm-12 text-center">
            <h2>{{ i18NPrefix + 'formName' | translate }}</h2>
        </div>
    </div>
    <div class="row" style="margin-bottom:25px;">
        <div class="col-sm-12 text-center">
            <p style="font-size:16px;">{{ i18NPrefix + 'description.newOnly' | translate }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="right-addon simple-input" *ngIf="form.get('newPassword'); let control">
                <label for="form-newPassword">{{ i18NPrefix + 'newPassword' | translate }}</label>
                <a id="icon-button" (click)="newPassword.type==='password' ? newPassword.type = 'text' : newPassword.type='password'" (mousedown)="newPassword.type ='text'" (mouseup)="newPassword.type ='password'" (mouseleave)="newPassword.type='password'"
                   class="btn pull-right icon showPassword-icon" style="background-color:transparent;">
                    <img id="iconClientDetail" src="../assets/content/icons/12 eye.svg">
                </a>
                <input #newPassword
                       type="password"
                       id="form-newPassword"
                       name="newPassword"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       (keyup)="validateNewPassword()"
                       >
                <!-- <input #newPassword
           type="password"
           id="form-newPassword"
           name="newPassword"
           [formControl]="control"
           appValidationIsInvalid
           required validateEqual="newPasswordRetyped"
           reverse="true"
           [control]="control"
           [or]="alreadySubmitted"> -->
                <div *ngIf="!passwordValid"
                     class="alert alert-danger">
                    {{ 'validation.errors.passwordValidator' | translate }}
                </div>
            </div>
            <div class="right-addon simple-input" *ngIf="form.get('newPasswordRetyped'); let control">
                <label for="form-newPasswordRetyped">{{ i18NPrefix + 'newPasswordRetyped' | translate }}</label>
                <a id="icon-button" (click)="newPasswordRetyped.type==='password' ? newPasswordRetyped.type = 'text' : newPasswordRetyped.type='password'" (mousedown)="newPasswordRetyped.type ='text'" (mouseup)="newPasswordRetyped.type ='password'" (mouseleave)="newPasswordRetyped.type='password'"
                    class="btn pull-right icon showPassword-icon" style="background-color:transparent;">
                    <img id="iconClientDetail" src="../assets/content/icons/12 eye.svg">
                </a>
                <input #newPasswordRetyped
                       type="password"
                       id="form-newPasswordRetyped"
                       name="newPasswordRetyped"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted">
                <!-- <input #newPasswordRetyped
                       type="password"
                       id="form-newPasswordRetyped"
                       name="newPasswordRetyped"
                       [formControl]="control"
                       appValidationIsInvalid
                       required validateEqual="newPassword"
                       [control]="control"
                       [or]="alreadySubmitted"> -->
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
            <div class="row text-center">
            <div class="alert alert-danger"
               role="alert"
               [innerHTML]="i18NErrorPrefix + submitErrorString | translate"
               *ngIf="submitError">
            </div>
        </div>
            <div class="row text-center" style="margin-top:21px;margin-bottom:300px;">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button type="submit" class="btn primary" style="width:70%;">
                            <span [innerHTML]="i18NPrefix + 'confirm' | translate"></span>
                            <i class="fa fa-spinner fa-spin"
                               *ngIf="submitting"></i></button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>
