<div class="news">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="pull-left" style="font-weight:600;">{{ item.title }}</h4>
        </div>
        <div class="col-sm-4">
            <span class="news-date pull-right">{{ item.dateFrom }}</span>
        </div>
    </div>
    <div class="row" style="padding-right:50px;">
        <div class="col-sm-12">
            <div class="newsContext ">
                <p [innerHTML]="preview" style="font-weight:500;" class="text-gray">

                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a style="font-weight:500;" class="aRed" [routerLink]="['/newsDetail']" [queryParams]="{newsId: item.id, list: showAll}">{{ i18NPrefix + 'more' | translate }}</a>
        </div>
    </div>
</div>