<div [formGroup]="identityDocument" *ngIf="identityDocument">
    <div class="aml-page">


        <div class="col-sm-12 fix-padding">
            <div class="heading">
                <h3>{{ i18NPrefix + 'header' | translate }}</h3>
                <hr>
            </div>
        </div>
        <div *ngIf="hasPreviousValues">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <div *ngIf="identDocumentTypePast">
                        <label for="identDocumentTypePast">Druh průkazu uvedený v posledním dotazníku</label>
                        <input autocapitalize="none" type="text"
                               id="form-identDocumentTypePast"
                               name="identDocumentTypePast"
                               readonly
                               value="{{ 'enum.identDocumentType.' + identDocumentTypePast | translate }}"
                               class="form-control input-lg">
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <div *ngIf="identDocumentNumberPast">
                        <label for="identDocumentNumberPast">Číslo průkazu uvedené v posledním dotazníku</label>
                        <a (click)="numberPast.type==='password' ? numberPast.type = 'text' : numberPast.type = 'password'" (mousedown)="numberPast.type ='text'" (mouseup)="numberPast.type ='password'" (mouseleave)="numberPast.type='password'"
                           class="showNumberPast-icon">
                        </a>
                        <input #numberPast autocapitalize="none" type="password"
                               id="form-identDocumentNumberPast"
                               name="identDocumentNumberPast"
                               readonly
                               value="{{identDocumentNumberPast}}"
                               class="form-control input-lg">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 10px;">
                <div class="col-sm-12 text-center">
                    <h4><strong>Tyto údaje je třeba vyplnit znovu:</strong></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div *ngIf="identityDocument.get('identDocumentType'); let control">
                    <div class="form-group">
                        <label for="form-identDocumentType">Druh průkazu</label>
                        <select class="form-control input-lg custom-select"
                                id="form-identDocumentType"
                                name="identDocumentType"
                                [formControl]="control"
                                appValidationIsInvalid
                                [control]="control"
                                [or]="alreadySubmitted">
                            <option style="display:none;" disabled [selected]="!identityDocument.get('identDocumentType').value">Druh průkazu</option>
                            <ng-container *ngFor="let type of identDocumentTypeList()">
                                <option value="{{type}}">{{ 'enum.identDocumentType.' + type | translate }}</option>
                            </ng-container>
                        </select>
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div *ngIf="identityDocument.get('identDocumentNumber'); let control">
                    <label for="identDocumentNumber">Číslo průkazu</label>
                    <input autocapitalize="none" type="text"
                           id="form-identDocumentNumber"
                           name="identDocumentNumber"
                           class="form-control input-lg"
                           placeholder="Číslo průkazu"
                           appBlockCopyPaste
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <div *ngIf="identityDocument.get('identIssuedBy'); let control">
                    <label for="form-identIssuedBy">Vydáno kým</label>
                    <input autocapitalize="none" type="text"
                           id="form-identIssuedBy"
                           name="identIssuedBy"
                           class="form-control input-lg"
                           placeholder="Vydáno kým"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
            </div>
            <div class="col-sm-6">
                <div *ngIf="identityDocument.get('identValidTill'); let control">
                    <div class="input-group date datepicker datepickersNotify" style="width:100%;">
                        <label>Platnost do</label>
                        <input type="text"
                               id="form-identValidTill"
                               placeholder="Platnost do"
                               data-provide="datepicker"
                               name="identValidTill"
                               class="form-control datepickerfix"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               autocomplete="off"
                               [or]="alreadySubmitted"
                               (input)="validateDateInPast()"
                               (keyup)="validateDateInPast()"
                               (focusout)="dateChanged($event)">
                    </div>
                    <!--<app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>-->
                    <div *ngIf="datepickerValidE" class="col-sm-12 text-center alert alert-danger">                        
                        Datum nesmí být prázdné a nesmí být v minulosti.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 fix-padding">
            <div class="heading">
                <h3>Prohlášení klienta</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" *ngIf="alreadySubmitted && !approve">
                <div style="color:#E43024">Bez potvrzení prohlášení o pravdivosti a úplnosti nelze údaje aktualizovat.</div>
            </div>
        </div>
        <div class="approve">
            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox checkbox-group pull-left">
                        <label class="checkbox-control control--checkbox" style="font-size:15px!important;">
                            Prohlašuji, že všechny zde uvedené údaje jsou pravdivé, úplné a správné, a zavazuji se, že bez zbytečného odkladu oznámím BC jakoukoli jejich změnu.
                            Pokud klient odmítne na některou z otázek odpovědět či odpoví nepravdivě, nebo neúplně, je BC oprávněna odmítnout poskytnutí služby nebo uskutečnění obchodu.
                            Klient odpovídá za újmu způsobenou nepravdivým, neúplným nebo nepřesným zodpovězením výše uvedených otázek. Klient prohlašuje, že byl seznámen s tím, jakým způsobem
                            jsou ve společnosti Broker Consulting, a.s. zpracovávány osobní údaje (včetně rodného čísla a dalších důvěrných informací) (dále také "osobní údaje").
                            Dále také potvrzuje, že je mu znám obsah dokumentu informace o zpracování osobních údajů klientů Broker Consulting, a.s., který zpracování osobních údajů
                            společnosti Broker Consulting, a.s., popisuje a jehož aktuální znění je dostupné na webové adrese www.bcas.cz, případně v obchodních místech společnosti
                            Broker Consulting, a.s.
                            <input (change)="updatingApprove()" type="checkbox">
                            <div id="inline" class="control__indicator"></div>
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button (click)="goBack()" class="primary" type="button" data-target="#amlCarousel" data-slide-to="1">Zpět</button>
                    <button class="primary" type="button" (click)="validateThirdPage()">Aktualizovat</button>
                    <button onclick="openQuestionMarkModal('amlModalCancel')" class="primary" type="button">Zrušit</button>
                    <button id="amlSubmitButton" style="visibility:hidden;" type="submit"></button>
                </div>
            </div>
        </div>
    </div>
</div>
