<div [formGroup]="clientInformations" *ngIf="clientInformations">
    <div class="aml-page">
        <div class="aml-client">
            <div class="col-sm-12 fix-padding">
                <div class="heading">
                    <h3>{{ i18NPrefix + 'header' | translate }}</h3>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-3 form-group">
                    <div *ngIf="clientInformations.get('firstName'); let control">
                        <label for="form-firstName">Jméno <span (click)="setNonEditableProperty('Jméno')" tooltip="Zobrazit nápovědu" tooltipPlacement="top" onclick="openQuestionMarkModal('amlModalNonEditable')" class="question-mark"><img height="15" src="../../../assets/content/icons/question_mark.png" /></span></label>
                        <input autocapitalize="none" type="text"
                               id="form-firstName"
                               name="firstName"
                               class="form-control input-lg"
                               placeholder="Jméno"
                               readonly
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 form-group">
                    <div *ngIf="clientInformations.get('surname'); let control">
                        <label for="form-surname">Příjmení <span (click)="setNonEditableProperty('Příjmení')" tooltip="Zobrazit nápovědu" tooltipPlacement="top" onclick="openQuestionMarkModal('amlModalNonEditable')" class="question-mark"><img height="15" src="../../../assets/content/icons/question_mark.png" /></span></label>
                        <input autocapitalize="none" type="text"
                               id="form-surname"
                               name="surname"
                               class="form-control input-lg"
                               readonly
                               placeholder="Příjmení"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 form-group">
                    <div *ngIf="clientInformations.get('registrationNumber'); let control">
                        <label for="form-registrationNumber">Rodné číslo <span (click)="setNonEditableProperty('Rodné číslo')" tooltip="Zobrazit nápovědu" tooltipPlacement="top" onclick="openQuestionMarkModal('amlModalNonEditable')" class="question-mark"><img height="15" src="../../../assets/content/icons/question_mark.png" /></span></label>
                        <input autocapitalize="none" type="text"
                               id="form-registrationNumber"
                               onkeypress="return digitsAndComma(event)"
                               name="registrationNumber"
                               class="form-control input-lg"
                               placeholder="Rodné číslo"
                               [formControl]="control"
                               appValidationIsInvalid
                               readonly
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 form-group">
                    <div *ngIf="clientInformations.get('birthDate'); let control">
                        <label for="form-birthDate">Datum narození <span (click)="setNonEditableProperty('Datum narození')" tooltip="Zobrazit nápovědu" tooltipPlacement="top" onclick="openQuestionMarkModal('amlModalNonEditable')" class="question-mark"><img height="15" src="../../../assets/content/icons/question_mark.png" /></span></label>
                        <input autocapitalize="none" type="text"
                               id="form-birthDate"
                               name="birthDate"
                               class="form-control input-lg"
                               placeholder="Datum narození"
                               [formControl]="control"
                               appValidationIsInvalid
                               readonly
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>

                </div>
                <!--<div class="col-sm-4 col-md-3 form-group">
            <div *ngIf="clientInformations.get('birthDate'); let control">
                <div class="input-group date datepicker datepickersNotify" style="width:100%;">
                    <label>Datum narození</label>
                    <input type="text"
                           id="form-birthDate"
                           placeholder="Datum narození"
                           name="birthDate"
                           class="form-control datepickerfix"
                           [formControl]="control"
                           appValidationIsInvalid
                           readonly
                           [control]="control"
                           autocomplete="off"
                           [or]="alreadySubmitted">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
            </div>
        </div>-->
            </div>
            <div class="row">
                <div class="col-sm-2 form-group">
                    <label for="form-gender">Pohlaví <span (click)="setNonEditableProperty('Pohlaví')" tooltip="Zobrazit nápovědu" tooltipPlacement="top" onclick="openQuestionMarkModal('amlModalNonEditable')" class="question-mark"><img height="15" src="../../../assets/content/icons/question_mark.png" /></span></label>
                    <input autocapitalize="none" type="text"
                           id="form-gender"
                           name="gender"
                           readonly
                           value="{{ 'enum.gender.' + clientInformations.get('gender').value | translate }}"
                           class="form-control input-lg"
                           placeholder="Pohlaví">
                </div>
                <div class="col-sm-5 form-group">
                    <div *ngIf="clientInformations.get('birthPlace'); let control">
                        <label for="form-birthPlace">Místo narození</label>
                        <input autocapitalize="none" type="text"
                               id="form-birthPlace"
                               name="birthPlace"
                               class="form-control input-lg"
                               placeholder="Místo narození"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>

                <div class="col-sm-5 form-group">
                    <div *ngIf="clientInformations.get('citizenshipCountryCode'); let control">
                        <label for="form-citizenshipCountryCode">Státní občanství</label>
                        <select class="form-control input-lg custom-select"
                                id="form-citizenshipCountryCode"
                                name="citizenshipCountryCode"
                                appValidationIsInvalid
                                [formControl]="control"
                                [control]="control"
                                [or]="alreadySubmitted"
                                (change)="updatingCitizenshipCountryCode()">
                            <option style="display:none;" disabled [selected]="!clientInformations.get('citizenshipCountryCode').value">Státní občanství</option>
                            <ng-container *ngFor="let countryCode of countryCodeList()">
                                <option value="{{countryCode}}">{{ 'enum.country.iso.' + countryCode | translate }}</option>
                            </ng-container>
                        </select>
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="font-weight:bolder;" class="col-sm-12 form-group">
                    Další státy, kde jste přihlášen/a k trvalému pobytu či pobytu delšímu než jeden rok

                    <!--<div *ngIf="clientInformations.get('companyName'); let control">
                <label for="form-companyName">Další státy, kde jste přihlášen-a k trvalému pobytu či pobytu delšímu než jeden rok</label>
                <input autocapitalize="none" type="text"
                       id="form-companyName"
                       name="companyName"
                       class="form-control input-lg"
                       placeholder="Obchodní firma, odlišující dodatek"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       tooltip="Obchodní firma, odlišující dodatek" tooltipPlacement="top">
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>-->
                </div>
            </div>
            <div *ngFor="let country of otherCountryRelations; index as i">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="form-countryCode">Stát</label>
                            <select class="form-control input-lg custom-select"
                                    id="{{'form-countryCode' + i}}"
                                    name="{{'countryCode' + i}}"
                                    value="{{country.countryCode ? country.countryCode : null}}"
                                    (change)="updatingOtherCountryRelationsState($event,i)">

                                <option style="display:none;" disabled [selected]="!country.countryCode">Stát</option>
                                <ng-container *ngFor="let countryCode of countryCodeList()">
                                    <option value="{{countryCode}}">{{ 'enum.country.iso.' + countryCode | translate }}</option>
                                </ng-container>
                            </select>
                            <div *ngIf="country.countryCodeE && alreadySubmitted" class="col-sm-12 text-center alert alert-danger">
                                Toto pole nesmí být prázdné
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="form-relationType">Druh pobytu</label>
                            <select class="form-control input-lg custom-select"
                                    id="{{'form-relationType' + i}}"
                                    name="{{'relationType' + i}}"
                                    value="{{country.relationType ? country.relationType : null}}"
                                    (change)="updatingOtherCountryRelationsType($event,i)">
                                <option style="display:none;" disabled [selected]="!country.relationType">Druh pobytu</option>
                                <ng-container *ngFor="let type of typeOfRelationList()">
                                    <option value="{{type}}">{{ 'enum.relationType.' + type | translate }}</option>
                                </ng-container>
                            </select>
                            <div *ngIf="country.relationTypeE && alreadySubmitted" class="col-sm-12 text-center alert alert-danger">
                                Toto pole nesmí být prázdné
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <img (click)="deleteOtherCountryRelations(i)" class="deleteButton" src="../../../assets/content/icons/delete.svg" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:30px;">
                <div class="col-sm-4">
                    <button type="button" (click)="addOtherCountryRelations()" class="primary">Přidat další pobyt</button>
                </div>
            </div>
            <div class="col-sm-12 fix-padding">
                <div class="heading">
                    <h3>Adresa trvalého bydliště:</h3>
                    <hr>
                </div>
            </div>
            <div class="aml-permanent-address" *ngIf="clientInformations.get('permanentAddress')">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <div *ngIf="clientInformations.get('permanentAddress').get('street'); let control">
                            <label for="form-permanentStreet">Ulice</label>
                            <input autocapitalize="none" type="text"
                                   id="form-permanentStreet"
                                   name="street"
                                   class="form-control input-lg"
                                   placeholder="Ulice"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div *ngIf="clientInformations.get('permanentAddress').get('streetNumber'); let control">
                            <label for="form-permanentStreetNumber">Č.p.</label>
                            <input autocapitalize="none" type="text"
                                   id="form-permanentStreetNumber"
                                   name="streetNumber"
                                   class="form-control input-lg"
                                   placeholder="Č.p."
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted"
                                   tooltip="číslo popisné" tooltipPlacement="top">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <div *ngIf="clientInformations.get('permanentAddress').get('city'); let control">
                            <label for="form-permanentCity">Město</label>
                            <input autocapitalize="none" type="text"
                                   id="form-permanentCity"
                                   name="city"
                                   class="form-control input-lg"
                                   placeholder="Město"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div *ngIf="clientInformations.get('permanentAddress').get('postalCode'); let control">
                            <label for="form-permanentPostalCode">PSČ</label>
                            <input autocapitalize="none" type="text"
                                   id="form-permanentPostalCode"
                                   onkeypress="return digitsAndComma(event)"
                                   name="postalCode"
                                   class="form-control input-lg"
                                   placeholder="PSČ"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted"
                                   tooltip="poštovní směrovací číslo" tooltipPlacement="top">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <div *ngIf="clientInformations.get('permanentAddress').get('countryCode'); let control">
                            <label for="form-permanentCountryCode">Země</label>
                            <select class="form-control input-lg custom-select"
                                    id="form-permanentCountryCode"
                                    name="countryCode"
                                    appValidationIsInvalid
                                    [formControl]="control"
                                    [control]="control"
                                    [or]="alreadySubmitted">
                                <option style="display:none;" disabled [selected]="!clientInformations.get('permanentAddress').get('countryCode').value">Země</option>
                                <ng-container *ngFor="let countryCode of countryCodeList()">
                                    <option value="{{countryCode}}">{{ 'enum.country.iso.' + countryCode | translate }}</option>
                                </ng-container>
                            </select>
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 fix-padding" style="margin: 15px 0px;">
                    Fyzická osoba samostatně výdělečně činná? <span tooltip="Zobrazit nápovědu" tooltipPlacement="top" onclick="openQuestionMarkModal('amlModalOsvc')" class="question-mark"><img height="15" src="../../../assets/content/icons/question_mark.png" /></span>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2" tooltip="Označte, jestli se jedná o osobu samostatně výdělečně činnou" tooltipPlacement="top">
                    <div class="checkbox checkbox-group pull-left">
                        <label class="checkbox-control control--checkbox">
                            ANO
                            <input type="checkbox"
                                   id="osvc-yes"
                                   (change)="updatingIsOsvc($event)">
                            <div id="inline" class="control__indicator"></div>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2" tooltip="Označte, jestli se jedná o osobu samostatně výdělečně činnou" tooltipPlacement="top">
                    <div class="checkbox checkbox-group pull-left">
                        <label class="checkbox-control control--checkbox">
                            NE
                            <input type="checkbox"
                                   id="osvc-no"
                                   (change)="updatingIsOsvc($event)">
                            <div id="inline" class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="isOsvc" class="aml-client">
            <div class="col-sm-12 fix-padding">
                <div class="heading">
                    <h3>{{ i18NPrefix + 'header.second' | translate }}</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div *ngIf="clientInformations.get('companyName'); let control">
                        <label for="form-companyName">Obchodní firma, odlišující dodatek</label>
                        <input autocapitalize="none" type="text"
                               id="form-companyName"
                               name="companyName"
                               class="form-control input-lg"
                               placeholder="Obchodní firma, odlišující dodatek"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>
            <div class="aml-company-address" *ngIf="clientInformations.get('companyAddress')">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <div *ngIf="clientInformations.get('companyAddress').get('street'); let control">
                            <label for="form-companyStreet">Ulice</label>
                            <input autocapitalize="none" type="text"
                                   id="form-companyStreet"
                                   name="street"
                                   class="form-control input-lg"
                                   placeholder="Ulice"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div *ngIf="clientInformations.get('companyAddress').get('streetNumber'); let control">
                            <label for="form-companyStreetNumber">Č.p.</label>
                            <input autocapitalize="none" type="text"
                                   id="form-companyStreetNumber"
                                   name="streetNumber"
                                   class="form-control input-lg"
                                   placeholder="Č.p."
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted"
                                   tooltip="číslo popisné" tooltipPlacement="top">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <div *ngIf="clientInformations.get('companyAddress').get('city'); let control">
                            <label for="form-companyCity">Město</label>
                            <input autocapitalize="none" type="text"
                                   id="form-companyCity"
                                   name="city"
                                   class="form-control input-lg"
                                   placeholder="Město"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <div *ngIf="clientInformations.get('companyAddress').get('postalCode'); let control">
                            <label for="form-companyPostalCode">PSČ</label>
                            <input autocapitalize="none" type="text"
                                   id="form-companyPostalCode"
                                   name="postalCode"
                                   onkeypress="return digitsAndComma(event)"
                                   class="form-control input-lg"
                                   placeholder="PSČ"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted"
                                   tooltip="poštovní směrovací číslo" tooltipPlacement="top">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <div *ngIf="clientInformations.get('companyAddress').get('countryCode'); let control">
                            <label for="form-companyCountryCode">Země</label>
                            <select class="form-control input-lg custom-select"
                                    id="form-companyCountryCode"
                                    name="countryCode"
                                    appValidationIsInvalid
                                    [formControl]="control"
                                    [control]="control"
                                    [or]="alreadySubmitted"
                                    tooltip="Země" tooltipPlacement="top">
                                <option style="display:none;" disabled [selected]="!clientInformations.get('companyAddress').get('countryCode').value">Země</option>
                                <ng-container *ngFor="let countryCode of countryCodeList()">
                                    <option value="{{countryCode}}">{{ 'enum.country.iso.' + countryCode | translate }}</option>
                                </ng-container>
                            </select>
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <div *ngIf="clientInformations.get('osvcRegistrationNumber'); let control">
                        <label for="form-osvcRegistrationNumber">Identifikační číslo</label>
                        <input class="form-control input-lg"
                               placeholder="Identifikační číslo"
                               autocapitalize="none" type="text"
                               id="form-osvcRegistrationNumber"
                               name="osvcRegistrationNumber"
                               onkeypress="return digitsAndComma(event)"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
                <div class="col-sm-8 form-group">
                    <div *ngIf="clientInformations.get('subjectOfMainActivity'); let control">
                        <label for="form-subjectOfMainActivity">Převažující předmět činnosti</label>
                        <input autocapitalize="none" type="text"
                               id="form-subjectOfMainActivity"
                               class="form-control input-lg"
                               placeholder="Převažující předmět činnosti"
                               name="subjectOfMainActivity"
                               [formControl]="control"
                               appValidationIsInvalid
                               [control]="control"
                               [or]="alreadySubmitted">
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </div>
            </div>
            <p>Je-li jedním z předmětů činnosti klienta uvedená činnost, zaškrkněte:</p>
            <div class="acitivitiesCheck">
                <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let activity of activityForEnt; index as i">
                    <div class="checkbox checkbox-group pull-left">
                        <label class="checkbox-control control--checkbox">
                            {{activity.name}}
                            <input type="checkbox"
                                   id="{{'form-' + activity.activityId}}"
                                   (change)="updatingOtherActivities($event,i)">
                            <div id="inline" class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 fix-padding">
            <div class="heading">
                <h3>{{ i18NPrefix + 'header.third' | translate }}</h3>
                <hr>
            </div>
        </div>
        <div *ngIf="!hasPreviousValues">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>V posledním dotazníku jste uvedli, že nejste politicky exponovanou osobou.</h4>
                </div>
            </div>
        </div>
        <div *ngIf="hasPreviousValues">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <div *ngIf="pepPositionPast">
                        <label for="pepPositionPast">Funkce PEP uvedená v posledním dotazníku</label>
                        <input autocapitalize="none" type="text"
                               id="form-pepPositionPast"
                               name="pepPositionPast"
                               readonly
                               value="{{pepPositionPast}}"
                               class="form-control input-lg">
                    </div>
                </div>
                <div class="col-sm-6 form-group">
                    <div *ngIf="pepRelationPast">
                        <label for="identDocumentNumberPast">Vztah k PEP uvedený v posledním dotazníku</label>
                        <input autocapitalize="none" type="text"
                               id="form-pepRelationPast"
                               name="pepRelationPast"
                               readonly
                               value="{{pepRelationPast}}"
                               class="form-control input-lg">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; margin-bottom: 10px;">
                <div class="col-sm-12 text-center">
                    <h4><strong>Tyto údaje je třeba vyplnit znovu:</strong></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center alert alert-danger" *ngIf="alreadySubmitted && isPoliticallyExposedE">
                Musí být označeno, zda jste politicky exponovaná osoba.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 fix-padding" style="margin: 15px 0px;">
                Jste politicky exponovanou osobou? <span tooltip="Zobrazit nápovědu" tooltipPlacement="top" onclick="openQuestionMarkModal('amlModalPEP')" class="question-mark"><img height="15" src="../../../assets/content/icons/question_mark.png" /></span>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2" tooltip="Označte, jestli se jedná o PEP" tooltipPlacement="top">
                <div class="checkbox checkbox-group pull-left">
                    <label class="checkbox-control control--checkbox">
                        ANO
                        <input type="checkbox"
                               id="polliticallyExposed-yes"
                               (click)="updatingIsPoliticallyExposed($event)"
                               (change)="updatingIsPoliticallyExposed($event)">
                        <div id="inline" class="control__indicator"></div>
                    </label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2" tooltip="Označte, jestli se jedná o PEP" tooltipPlacement="top">
                <div class="checkbox checkbox-group pull-left">
                    <label class="checkbox-control control--checkbox">
                        NE
                        <input type="checkbox"
                               id="polliticallyExposed-no"
                               (click)="updatingIsPoliticallyExposed($event)"
                               (change)="updatingIsPoliticallyExposed($event)">
                        <div id="inline" class="control__indicator"></div>
                    </label>
                </div>
            </div>
        </div>

        <div id="isPoliticallyExposed">
            <p>Byla zvolena možnost ANO, v tom případě uveďte funkci politicky exponované osoby a v případě, že se jedná o osobu blízkou, specifikujte vztah k této osobě:</p>
            <div>

                <div class="row">
                    <div class="col-sm-8 form-group">
                        <div *ngIf="clientInformations.get('pepPosition'); let control">
                            <label for="form-pepPosition">Funkce</label>
                            <input autocapitalize="none" type="text"
                                   id="form-pepPosition"
                                   name="pepPosition"
                                   class="form-control input-lg"
                                   placeholder="Funkce"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted"
                                   tooltip="Funkce politicky exponované osoby" tooltipPlacement="top">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <div *ngIf="clientInformations.get('pepRelation'); let control">
                            <label for="form-pepRelation">Vztah</label>
                            <input autocapitalize="none" type="text"
                                   id="form-pepRelation"
                                   name="pepRelation"
                                   class="form-control input-lg"
                                   placeholder="Vztah"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted"
                                   tooltip="Vztah k politicky exponované osobě" tooltipPlacement="top">
                            <app-validation-errors [control]="control"
                                                   [or]="alreadySubmitted"></app-validation-errors>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pull-right">
                <div class="pull-right">
                    <button class="primary" type="button" (click)="validateFirstPage()">Pokračovat</button>
                    <button onclick="openQuestionMarkModal('amlModalCancel')" class="primary" type="button">Zrušit</button>
                </div>
            </div>
        </div>
    </div>
</div>
