 <!-- Modal osvc-->
<div class="modal fade" id="amlModalOsvc" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fyzická osoba samostatně výdělečně činná </h4>
            </div>
            <div class="modal-body">
                <p>
                    Výkonem samostatné výdělečné činnosti se rozumí především: provozování živnosti na základě
                    oprávnění provozovat živnost, podnikání v zemědělství, výkon umělecké nebo jiné tvůrčí činnosti na základě autorskoprávních
                    vztahů a činnost společníka veřejné obchodní společnosti nebo komplementáře
                    komanditní společnosti vykonávané pro tuto společnost.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal PEP -->
<div class="modal fade" id="amlModalPEP" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Politicky exponovaná osoba (PEP) </h4>
            </div>
            <div class="modal-body">
                <p>
                    Politicky exponovanou osobou (dále jen PEP) se v souladu se zákonem AML rozumí zejména fyzická osoba,
                    která je nebo byla ve významné veřejné funkci s celostátním nebo regionálním významem. Nejčastěji se bude jednat
                    například o starostu, hejtmana, náměstka ministra, vysokého důstojníka ozbrojených sil nebo sboru od hodnosti majora, člena řídícího orgánu
                    politické strany, člena parlamentu, člena statutárního orgánu obchodní korporace ovládané státem atd. PEP je také osoba blízká ke všem uvedeným
                    osobám. Osobou blízkou se rozumí zejména manžel, partner, rodič, potomek, sourozenec, prarodič apod.
                    Povinnosti a omezení vztahující se k PEP se uplatní ještě nejméně po dobu
                    12 měsíců ode dne, kdy PEP přestala vykonávat příslušnou funkci.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal surname -->
<div class="modal fade" id="amlModalNonEditable" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{nonEditableProperty}} klienta</h4>
            </div>
            <div class="modal-body">
                <p>Pro změnu tohoto údaje kontaktujte Vašeho konzultanta.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            </div>
        </div>

    </div>
</div>


