<div id="termConditions" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="page-header">
                            <h1 class="text-center">{{ i18NPrefix + 'formName' | translate }}</h1>
                            <hr>
                        </div>
                    </div>

                    <div class="container-fluid" style="background-color:#F7F7F7;padding-bottom:60px;">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi imperdiet, mauris ac auctor dictum,
                            nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Mauris dolor felis, sagittis at,
                            luctus sed, aliquam non, tellus. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                            corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Nullam feugiat, turpis
                            at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Nullam
                            at arcu a est sollicitudin euismod. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum
                            in, elit. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis
                            enim ipsum id lacus. Etiam neque. Vivamus porttitor turpis ac leo. Vivamus luctus egestas leo.
                            Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus
                            in lacus. Mauris dictum facilisis augue. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Neque porro quisquam est, qui dolorem ipsum
                            quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt
                            ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                        <p>Nullam dapibus fermentum ipsum. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat
                            ante, in pharetra metus odio a lectus. Mauris dolor felis, sagittis at, luctus sed, aliquam non,
                            tellus. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Vivamus porttitor turpis
                            ac leo. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. In sem justo, commodo
                            ut, suscipit at, pharetra vitae, orci. Pellentesque pretium lectus id turpis. Nulla pulvinar
                            eleifend sem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                            velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                            voluptatem. Fusce suscipit libero eget elit. Etiam commodo dui eget wisi. Pellentesque arcu.</p>

                        <p>Donec quis nibh at felis congue commodo. Et harum quidem rerum facilis est et expedita distinctio.
                            Mauris dictum facilisis augue. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                            saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Nunc dapibus tortor
                            vel mi dapibus sollicitudin. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                            magnam aliquam quaerat voluptatem. Etiam posuere lacus quis dolor. Nam sed tellus id magna elementum
                            tincidunt. Aliquam in lorem sit amet leo accumsan lacinia. Vivamus porttitor turpis ac leo. Nullam
                            at arcu a est sollicitudin euismod. Vivamus ac leo pretium faucibus. Vivamus porttitor turpis
                            ac leo.</p>

                        <p>Pellentesque sapien. Integer vulputate sem a nibh rutrum consequat. Maecenas aliquet accumsan leo.
                            Et harum quidem rerum facilis est et expedita distinctio. Integer tempor. Donec ipsum massa,
                            ullamcorper in, auctor et, scelerisque sed, est. Nullam faucibus mi quis velit. Pellentesque
                            sapien. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Aliquam erat volutpat.</p>

                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut
                            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Maecenas aliquet accumsan leo. Aenean placerat. Fusce dui leo, imperdiet in, aliquam
                            sit amet, feugiat eu, orci. Fusce consectetuer risus a nunc. Aliquam erat volutpat. Donec iaculis
                            gravida nulla. Pellentesque pretium lectus id turpis. Etiam posuere lacus quis dolor. Sed elit
                            dui, pellentesque a, faucibus vel, interdum nec, diam. Nullam lectus justo, vulputate eget mollis
                            sed, tempor sed magna. Maecenas sollicitudin. Praesent id justo in neque elementum ultrices.
                            Pellentesque pretium lectus id turpis.</p>

                    </div>


                    <div class="modal-footer">

                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-2 pull-left ">
                                <button style="font-size:15px;  border-color:#E43024; color:black;" type="button" class="btn-lg btn btn-default" data-dismiss="modal">{{ i18NPrefix + 'close' | translate }}</button>
                            </div>
                            <div class="col-md-4"></div>
                            <!--<div class="col-md-2">
            <div class="row text-center">
                <img src="../../assets/content/icons/delete.svg" /> <a class="aRed"></a>
            </div>
        </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
