
body {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.primary {
  background-color: #E43024;
  border-color: #E43024;
  font-size: 15px;
  font-weight: normal;
  border-radius: 5px;
  color: white;
  border: 1px solid #E43024;
  width: 100%;
  height: 50px;
}

.newsContext img {
  width: 54%;
}

.liste {
  text-align: center;
  width: 33px;
  float: left;
}

.message-attachment-mobile {
  position: absolute;
  left: 14%;
  top:14px;
}

.newsContext {
  overflow-wrap: break-word;
}

.modal-content {
  background-clip: border-box !important;
}

.questionMark {
  bottom: 1.5px;
  left: 3px;
  position: relative;
}

#messageLister {
  margin: 0 auto;
  /* min-width: 100px; */
  /*max-width: 130px;*/
}

p {
  font-weight: 500;
}

.bodyContent {
  margin-top: 25px;
  min-height: 53px;
}

.message-body-text{
  word-break:break-word;
}

label.labelMobile {
  color: #9B9DA6;
  font-size: 9px;
  font-weight: normal;
  margin-bottom: 0px;
}

.mobile-msg-text{
  word-break:break-word;
}

.message-body {
  word-break: break-word;
  max-height: 5em;
  line-height: 1.3em;
  overflow: hidden;
  margin-top:5px;
}

@media screen and (max-width: 1200px) {
  .nav > li > a {
    padding: 10px 0px !important;
  }

  .nav li {
    top: 5px;
    padding-left: 18px !important;
    font-size: 15px;
    font-weight: 500;
  }

}

#amlCarousel .item{
  min-height:300px;
  opacity:0;
}

#amlCarousel .item.active{
  opacity:1;
  transition: 1s all ease-in-out;
}

.bigger {
  height: 50px;
  transition: 0.8s all ease-in-out;
}

.smaller {
  height: 0px;
  transition: 1.9s all ease-in-out;
}

.hideInfo {
  opacity: 0;
  transition: 0.9s all ease-in-out;
}

.deleteInfo {
  display: none;
}

.showInfo {
  opacity: 1;
  transition: 0.9s all ease-in-out;
}

#backFromChangePassword {
  margin-bottom: 45px;
}

@media screen and (max-width: 950px) {
  #newContractModal {
    width: 100% !important;
  }
}

@media screen and (min-width: 950px) {
  #newContractModal {
    width: 95% !important;
  }
}

.nav li {
  top: 5px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 500;
}

ul li:hover {
}

a.active {
  border-bottom: 3px solid #E43024;
  border-radius: 0px;
  color: #E43024;
}

.nav > li > a:focus, .nav > li > a:hover {
  color: red;
}

#homeIcon {
  margin-top: 5px;
  cursor: pointer;
}

#iconClientDetail {
  padding-right: 15px;
  margin-top: 5px;
  cursor: pointer;
}

#logout {
  color: #E43024;
  text-decoration: underline;
  font-weight: 500;
}

.aRed {
  font-weight: 400;
  color: #E43024;
  text-decoration: underline;
}

.downloadAttach {
  padding-top: 15px;
  height: 50px;
}

.aBlack {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

a {
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .navbar {
    padding-top: 10px;
    margin-bottom: 10px;
    padding-right: 30px;
  }
  .row {
    margin-left: 0px !important;
    margin-right:0px !important;
  }
  #listMobileNotification {
    margin-right:33%;
  }

}

@media screen and (min-width: 768px) {
  .navbar {
    padding-top: 20px;
  }
 
}

.logo {
  max-width: 180px;
  max-height: 80px;
}

hr {
  border-color: #E43024;
}

#header-hr {
  margin-top: 0px;
  border-color: #DDDEE6;
  margin-bottom: 0px;
}

.primary:hover, .primary:active, .primary:focus {
  background-color: #B72319;
  border-color: #B72319;
  outline-color: transparent;
  border-radius: 5px;
  color: white;
}

.secondary {
  background-color: white;
  border-color: #E43024;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #E43024;
  width: 100%;
  height: 50px;
}

  .secondary:hover, .secondary:focus, .secondary:active {
    color: black;
    border-color: #B72319;
    background-color: transparent;
    outline-color: transparent;
  }

  .secondary span {
    color: #E43024;
    padding-right: 3px;
  }

.back, .back:hover, .back:focus, .back:active, .back:visited {
  border-color: transparent;
  background-color: transparent;
  outline-color: transparent;
  font-size: 16pt;
}

  .back span {
    color: #E43024;
    padding-right: 3px;
  }

.upload {
  background-color: rgba(183, 36, 25, 0.034);
  border-color: #E43024;
  font-size: 16pt;
  padding: 15px 5px;
  border-radius: 5px;
  color: #535353;
  border: 1px solid #E43024;
  font-weight: bolder;
}

  .upload span {
    color: #E43024;
    padding: 0 10px;
    font-size: 16pt;
  }

.checkbox {
  left: 10px;
}

.checkbox-border {
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: #30BB97 1px solid;
  width: 100%;
  height: 50px;
  text-align: center;
}

  .checkbox-border input {
  }

#inline {
  left: -10px;
}

.checkbox-group {
  display: inline-block;
  font-weight: 500;
  padding-top: 15px;
}

.checkbox-control {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 13px !important;
}

  .checkbox-control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

#addNewExpense .col-sm-4, #addNewExpense .col-sm-2, #addNewExpense .col-sm-3{
  padding:1.5px;
}

.control__indicator {
  position: absolute;
  top: 0px;
  height: 20px;
  width: 20px;
  background: transparent;
  right: 75px;
  border: 1px solid #30BB97;
  border-radius: 5px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.checkbox-control:hover input ~ .control__indicator,
.checkbox-control input:focus ~ .control__indicator {
  background: #ccc;
}

.checkbox-control input:checked ~ .control__indicator {
  background: #30BB97;
}

.checkbox-control:hover input:not([disabled]):checked ~ .control__indicator,
.checkbox-control input:checked:focus ~ .control__indicator {
  background: #30BB97;
}

.checkbox-control input:disabled ~ .control__indicator {
  background: transparent;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #30BB97;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #30BB97;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

  .select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #30BB97;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

    .select select::-ms-expand {
      display: none;
    }

    .select select:hover,
    .select select:focus {
      color: #000;
      background: #ccc;
    }

    .select select:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

input[type="date"].form-control {
  margin-right: 21px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.normal-select {
  padding-top: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #DDDEE6;
  padding-bottom: 15px;
  font-weight: 500;
  padding-left: 15px;
  background: #F7F7F7;
  color: gray;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: transparent !important;
  color: #E43024 !important;
  border-bottom: 1px solid #E43024 !important;
  border-radius: 0px !important;
  border-bottom-width: 3px !important;
  padding-bottom: -100px !important;
  text-decoration: none !important;
}

li a:hover {
  cursor: pointer;
}

li {
  font-size: 12pt;
  font-weight: 500;
}

a {
  color: black;
}

.nav > li > a:focus, .nav > li > a:hover {
  color: #E43024;
  background-color: transparent;
  text-decoration: none !important;
}

.simple-input input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #DDDEE6;
  padding-bottom: 5px;
  padding-left: 3px;
  width: 100%;
  font-weight: bold;
}

.simple-input {
  margin-top: 13px;
}

  .simple-input input:active, .simple-input input:focus {
    border-bottom: 1px solid #E43024;
  }

  .simple-input label {
    color: #9B9DA6;
    font-weight: 400;
  }

  .simple-input input[readonly]:active, .simple-input input[readonly]:focus, .simple-input input[readonly] {
    border-bottom: none;
  }

.heading hr {
  border: none;
  width: 40px;
  color: #E43024;
  background-color: #e43024;
  height: 3px;
  margin-top: -3px;
  margin-bottom: 0px;
  float: left;
}

.heading {
  margin-bottom: 21px;
}

.form-group input, .input-group input, .input-group span, .medium select {
  background-color: #F7F7F7;
  color: #000000;
  font-size: 16px;
  border-color: #F7F7F7;
  height: 3em;
  max-width: 100%;
  padding-left: 21px;
}

/*TBD*/
.form-margin {
  margin-top: 11px;
  margin-bottom: 11px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #E43024;
}

.page-header {
  border-bottom: none;
}

  .page-header hr {
    border: none;
    width: 70px;
    color: #E43024;
    background-color: #e43024;
    height: 4px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

.centering {
  margin-left: auto !important;
  margin-right: auto !important;
}
/* style icon */


.inner-addon .icon {
  position: absolute;
  padding: 15px;
  pointer-events: none;
  height: 50px;
  width: 50px;
  color: #E43024;
  font-size: 18px;
}

.historyContracts-row {
  border-bottom: 1px solid #c6c6c6;
}

.row.historyContracts-row span {
  /*position:absolute;
  top:26px;
  color:black;*/
}

.row.historyContracts-row .col-sm-3 {
  padding: 15px 0px !important;
}

@media screen and (max-width: 400px) {
  #historyContracts-header {
    padding: 0px 21px 0px 0px;
  }
}

@media screen and (min-width: 400px) {
  #historyContracts-header {
    padding: 0px 0px 15px 0px;
  }
}

#historyContracts-header {
  border-bottom: 1px solid #E43024;
  margin-top: 23px;
}

  #historyContracts-header .col-sm-3 {
    padding: 0px !important;
  }

.classic-href {
  color: #0000FF;
  text-decoration: underline;
}

.full-width-container {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  -webkit-box-shadow: 0px 10px 13px -8px #dddee6;
  -moz-box-shadow: 0px 10px 13px -8px #dddee6;
  box-shadow: 0px 10px 13px -8px #dddee6;
  background: white;
  margin-bottom: 80px;
  padding-bottom: 75px;
  margin-top: 50px;
}

/* align icon */
.left-addon .icon {
  left: 0px;
}

.right-addon .icon {
  right: 0px;
  bottom: 0px;
}

@media (min-width: 992px) {
  .showPassword-icon {
    position: relative !important;
    right: 0px !important;
    top: 21px !important;
    bottom: 0px !important;
  }
}

@media (max-width:991px) {
  .showPassword-icon {
    position: relative !important;
    right: 0px !important;
    top: 7px !important;
    bottom: 0px !important;
  }
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.save-button {
  border: 1px solid #30BB97;
}

  .save-button:hover {
    border: 1px solid #30BB97;
  }

.navbar-inverse {
  background-color: white;
  border-color: white;
}

  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #E43024;
    border-color: white;
  }

  .navbar-inverse .navbar-toggle {
    border-color: white;
  }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background-color: transparent;
    }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 250px;
  max-width: 300px;
  background-color: white;
  border-radius: 5px;
  margin: 15px auto 30px auto;
}

#carousel-indicators-login {
  top: 350px;
}

.carousel-indicators li {
  border-color: #DDDEE6;
  background-color: #DDDEE6;
}

.carousel-indicators .active {
  background-color: #E43024;
  border-color: #E43024;
}

.card p {
  color: #9B9DA6;
}


.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control {
  margin-top: 120px;
  width: 0%;
}

.grey-container {
  background-color: #F7F7F7;
}

@media screen and (min-width: 768px) {
  .item {
    padding-left: 150px;
    padding-right: 150px;
  }
  .notification-description {
    text-align:left;
  }

}

.datepickerfix {
  background-image: url(../icons/calendar.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 93%;
}

#icon-button:focus, #icon-button:active {
  box-shadow: none;
  outline: none;
}

@media screen and (min-width:768px) {
  .message-box {
    max-width: 100%;
    min-height: 80px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    padding: 10px 30px 10px 30px;
    cursor: pointer;
  }
}

.activeMessagePage {
  text-decoration: none!important;
  -webkit-text-decoration-color: #e43024;
  text-decoration-color: #e43024;
  font-weight: bolder !important;
  border-bottom: 3px solid #e43024
}

@media screen and (max-width:768px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.message-date-mobile {
  padding-top: 5px;
}

@media screen and (max-width:768px) {
  .message-box {
    width: 100%;
    min-height: 80px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    padding: 10px;
    cursor: pointer;
  }

  .notification-description {
    text-align:center;
  }

  .mobile-text-center {
    text-align: center !important;
    padding-bottom: 10px;
  }
}

button {
  white-space: normal !important;
}


.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-strong {
  font-weight: 500;
}

.font-extra {
  font-weight: 600;
}

.margin-top-small {
  margin-top: 10px !important;
}

.message-date {
  height: 40px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  border-radius: 3px;
}

.text-gray {
  color: #9B9DA6;
  font-weight: 400;
}

.line-gray {
  border-color: #9B9DA6;
}

@media screen and (max-width: 768px) {
  .consultant-message {
    padding: 15px;
  }
}

@media screen and (min-width: 768px) {
  .consultant-message {
    padding: 15px 50px 15px 50px;
  }
}

.consultant-message {
  margin-top:15px;
  border-radius: 8px;
  min-height: 300px;
  max-width: 100%;
  background-color: white;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
}


@media screen and (max-width: 768px) {
  #consultant-message-left {
    border: none;
  }
}

@media screen and (min-width: 768px) {
  #consultant-message-left {
    border-right: 1px solid #DDDEE6;
  }
}

#consultant-message-left {
  padding: 0px 0px 30px 0px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

#consultant-image {
  max-height: 100px;
  max-width: 100px;
}

#consultant-message-right {
}

@media screen and (max-width: 768px) {

  .finance-box, .finance-box input, .finance-box-lg {
    text-align: center;
  }

  .finance-box-lg {
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    background-color: white;
    min-height: 525px;
    margin-top: 25px;
  }

    .finance-box-lg .col-xs-3, .finance-box-lg .col-xs-4, .finance-box-lg .col-xs-1 {
      padding:0px;
    }

  .modal-content {
    max-width: 100% !important;
  }

  .modal-dialog {
    margin: 0px;
  }

  .news-padding {
    padding-right: 0px;
  }

  .news {
    padding: 20px 0px 20px 40px;
  }

  .newsDate {
    width: 50%;
  }

  #consultant-message-right {
    text-align: center;
  }

  #Dtable {
    border-top: 1px solid #DDDEE6;
    margin-top: 10px;
  }

    #Dtable td {
      padding-top: 15px;
    }

  .table-center {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .finance-box-lg {
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    padding: 20px 0px 20px 20px;
    background-color: white;
    min-height: 525px;
    margin-top: 25px;
    margin-right: 10px;
  }

  .news {
    padding: 20px 20px 20px 40px;
  }

  #consultant-message-right {
    padding-left: 10%;
  }

  .news-padding {
    padding-right: 50px;
  }
}

.line-height {
  min-height: 1.1em;
  max-height: 1.1em;
}

.max-height-card {
  height: 125px;
}

.selfservice-card-title {
  height: 90px;
  max-height: 90px;
}

.selfservice-card-desc {
  display: table;
  height: 120px;
  max-height: 120px;
}

.centered-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.selfServiceCard {
  max-width: 100%;
  min-height: 310px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0px 30px 19px 30px;
}

  .selfServiceCard p {
    color: #9B9DA6;
    font-weight: 400;
    font-size: 15px;
  }

#responseMessage {
  padding-top: 15px;
  padding-left: 80px;
}

#fullMessageBox {
  max-width: 100%;
  min-height: 150px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  padding: 25px 25px 25px 50px;
}

#closeMessage {
  padding-top: 15px;
  max-width: 100%;
}

#deleteMessage {
  padding-top: 15px;
  padding-left: 60px;
}

#fullMessage {
  text-align: left;
  padding: 30px 0px 0px 15px;
}

  #fullMessage a, #deleteMessage a, #closeMessage a {
    margin-left: 10px;
  }

.navBox {
  /*max-height:300px;
      border-width:3px;
      border-bottom:3px solid #E43024;*/
}

li:focus {
  outline-color: white;
}

#messageAttachments {
  padding: 30px 31px 25px 15px;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.attachment {
  background-color: rgba(252, 232, 232,0.3);
  border-color: #E43024;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  padding-top: 15px;
  border: 1px solid #E43024;
  width: 100%;
  height: 50px;
}

.attachmentD {
  background-color: rgba(252, 232, 232,0.3);
  border-color: #E43024;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #E43024;
  width: 100%;
  height: 50px;
  padding: 0px 1px;
}

  .attachment img, .attachmentD img {
    position: absolute;
  }

.monthly {
  font-size: 21px;
  color: #9B9DA6;
}

.marginSelfServiceCard {
  margin-top: 21px;
}

.marginTop {
  margin-bottom: 50px;
}

#filterContainer {
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
}

#insurance-right {
  text-align: center;
  vertical-align: middle;
  padding-top: 160px;
  line-height: 10px;
}

.iframe-window {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 800px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  border-radius: 8px;
}

.news {
  min-height: 210px;
  padding: 20px 20px 20px 40px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  border-radius: 8px;
  margin-top: 15px;
}

.news:last-child{
  margin-bottom:15px;
}

.alertClose-custom {
  position: relative !important;
  top: -19px !important;
  right: -15px !important;
  color: inherit !important;
}

.news-date {
  font-size: 14px;
  background-color: #F7F7F7;
  padding: 5px 10px 5px 10px;
}

#globalModal {
  background-color: rgba(255, 255, 255, 0.95);
  /*max-height:90%;*/
  padding-left: 0px;
}

div#globalModal.modal.fade.in {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.modal-content {
  margin-top: 100px;
  box-shadow: none;
  border: 0.3px #DDDEE6 solid;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
  padding-bottom: 21px;
}

#carousel-indicators-onboarding {
  bottom: -20px !important;
}

.rowMarginTop {
  margin-top: 25px;
}

.item {
  padding-left: 0px;
  padding-right: 0px;
}

.modalh2 {
  font-weight: 400;
}

.modalBoardingContent {
  padding-left: 10%;
  padding-right: 10%;
}

.modalButton {
  padding-left: 10%;
  padding-right: 10%;
}

.marginPel {
  margin-top: 1.5%;
  line-height: 24px;
}

.header-item {
  outline: none !important;
  height: 102px;
  width: auto;
  text-align: center;
  padding-top: 35px;
  margin: auto;
}

.dot-item {
  height: 102px;
  width: auto;
  text-align: center;
  padding-top: 40px;
  margin: auto;
  font-size: 9px;
  color: rgba(221, 222, 230, 0.4);
  top: -5px;
  right: 9px;
  position: absolute;
}

#dot {
  margin: 0px;
  padding: 0px;
}


.header-item:hover {
  border-bottom: 3.5px solid #E43024;
  cursor: pointer;
}

body:focus {
  outline: none;
}

.header-col {
  height: 98px;
}

.header-item a:hover {
  text-decoration: none !important;
}

.header-item a {
  font-weight: 500;
  font-size: 15px;
}

.header-item.active {
  border-bottom: 3.5px solid #E43024;
}

.glyphicon.glyphicon-one-fine-dot:before {
  content: "\25cf";
  font-size: 1.5em;
}

.mobile-select {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 21px;
  border: none;
  border-bottom: 1px solid #DDDEE6;
  padding-bottom: 15px;
  color: #E43024;
  font-weight: 500;
  padding-left: 15px;
  background: url('../icons/arrow-select.svg') no-repeat;
  background-position-x: 100.2%;
  background-position-y: 26%;
}

select::-ms-expand {
  display: none;
}

.mobile-select option {
  color: #E43024;
  font-weight: 500;
  text-align: center;
}

select.mobile-select:focus {
  outline-color: #E43024;
}

.header-item:focus {
  outline-color: transparent;
  border-bottom: 3px solid #E43024;
}

.mobile-msg-header {
  border-bottom: 1px solid #DDDEE6;
}

.mobile-msg-content {
  padding-top: 10px;
}

#upload_link {
  text-decoration: none !important;
}

#upload {
  display: none !important
}

.localization-btn {
  margin-top: 20px;
  padding: 0px;
  width: 60px !important;
}

.localization-item {
  font-size: 18px;
  color: #000 !important;
  text-decoration: none !important;
  font-weight: bold;
}

.localization-dropdown-menu {
  min-width: 0px !important;
}

.datepicker-addon {
  background-color: #F7F7F7 !important;
  border: none;
  border-color: #F7F7F7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  font-size: 15px;
}

.dz-message {
  min-height: 110px !important;
}

.tooltip-arrow {
  border-bottom-color: #E43024 !important;
  border-top-color: #E43024 !important;
}

.tooltip-inner {
  border-color: black !important;
  background-color: #E43024;
  color: white;
}

.tooltip.in {
  opacity: 1;
}

#header-padding .col-sm-1, #header-padding .col-sm-2{
  padding:0px !important;
}

.dashboard-notif-item {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 10px;
}

.dashboard-notif-box {
  min-height: 80px;
  padding-top:25px;
}

.dashboard-notif-checkbox {
  cursor: pointer;
}


.wide-text-dots {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.remove-icon-fix {
  position: absolute;
  right: 40px;
  top: 6px;
  text-decoration: none;
}

.attachment-icon-left {
  top: 15px;
  left: 30px;
}

.attachment-text {
  margin-left: 20%;
  display: block;
  max-width: 63%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.global-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 450px;
  opacity: 1;
  text-align: center;
  font-weight: bold;
  display: none;
  z-index: 999;
}

.global-alert-custom {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 550px;
  opacity: 1;
  text-align: left;
  display: none;
  z-index: 999;
}

.contract-warn-inner {
  margin-top: 5px;
}

@media screen and (min-width: 960px) {
  .finance-box-lg {
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    padding: 20px 0px 20px 20px;
    background-color: white;
    min-height: 525px;
    margin-top: 25px;
    margin-right: 10px;
    min-width: 455px !important;
  }
  .finance-box {
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    padding: 20px 0px 20px 20px;
    background-color: white;
    min-height: 250px;
    margin-top: 25px;
    margin-right: 10px;
    min-width: 375px !important;
  }
}

@media screen and (max-width: 960px) {
  .finance-box {
    -webkit-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -15px rgba(0,0,0,0.75);
    padding: 20px 0px 20px 20px;
    background-color: white;
    min-height: 250px;
    margin-top: 25px;
    margin-right: 10px;
  }
}

  /*@media screen and (max-width: 768px) {
        #footer-consultant {
            margin-left:auto;
            margin-right:auto;
        }
    }

@media screen and (min-width: 768px) {
    #footer-consultant {
        text-align: left;
    }
}*/



  /*# sourceMappingURL=style.css.map */
