<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div [routerLink]="[backlink]" 
                    [queryParams]="{showAll: fromList}" 
                    style="cursor:pointer; max-width:80px; margin-top:50px;">
                    <img style="transform:rotate(180deg);" src="../../../assets/content/icons/arrow.svg" /> <span style="margin-left:10px; font-weight:500;">{{ i18NPrefix + 'back' | translate }}</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="page-header">

                    <h2 class="text-center">{{ i18NPrefix + 'formHeading' | translate }}</h2>
                    <hr>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="news">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <h3 style="font-weight:600;">{{ item.title }}</h3>
                </div>
                <div class="col-xs-4 hidden-xs">
                    <div class="pull-right news-date">
                        {{ item.dateFrom }}
                    </div>

                </div>
                <div class="col-sm-6 text-center visible-xs">
                    <div class="news-date">
                        {{ item.dateFrom }}
                    </div>
                </div>

            </div>
            <div class="row news-padding">
                <div class="col-sm-12">
                    <div class="newsContext" style="padding-bottom:0px;">
                        <p [innerHTML]="item.content" style="font-weight:500;" class="text-gray">
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:15px; margin-top:15px;">
            <div class="col-sm-12 text-center">
                <a class="aBlack"
                    [routerLink]="['/news']"
                    [queryParams]="{showAll: true}">{{ i18NPrefix + 'allNews' | translate }}</a>
            </div>
        </div>

        <div class="consultant-message">
            <div class="row">
                <div id="consultant-message-left" class="col-sm-6">
                    <form role="form" *ngIf="form" (ngSubmit)="onSubmit(form)">
                        <div class="col-sm-9">
                            <h3>{{ i18NPrefix + 'needHelp' | translate }}</h3>
                            <p class="text-gray" style="font-weight:500;">{{ i18NPrefix + 'askUs' | translate }}</p>
                        </div>
                        <div class="col-xs-12 text-center visible-xs" style="margin-bottom:30px;">
                            <div class="row">
                                <h3 style="color:#E43024;font-weight:bold;"><img src="../../../assets/content/icons/phone.svg" />{{ i18NPrefix + 'phone' | translate }}</h3>
                            </div>
                            <div class="row">
                                <p style="font-weight:500;">{{ i18NPrefix + 'phoneAvailability' | translate }}</p>
                            </div>
                            <div class="row">
                                <a class="aRed">{{ i18NPrefix + 'www' | translate }}</a>
                            </div>
                        </div>
                        <div class="col-sm-10" style="margin-top:10px;" *ngIf="form.get('nameSurname'); let control">
                            <div class="simple-input">
                                <label for="clientName">{{ i18NPrefix + 'nameAndSurname' | translate }}</label>
                                <input type="text"
                                    id="form-nameSurname"
                                    name="nameSurname"
                                    [formControl]="control"
                                    appValidationIsInvalid
                                    [control]="control"
                                    [or]="alreadySubmitted">
                                <app-validation-errors [control]="control"
                                                    [or]="alreadySubmitted"></app-validation-errors>
                            </div>
                        </div>
                        <div class="col-sm-10" *ngIf="form.get('emailAddress'); let control">
                            <div class="simple-input">
                                <label for="email">{{ i18NPrefix + 'yourEmail' | translate }}</label>
                                <input type="text"
                                    id="form-emailAddress"
                                    name="emailAddress"
                                    [formControl]="control"
                                    appValidationIsInvalid
                                    [control]="control"
                                    [or]="alreadySubmitted">
                                <app-validation-errors [control]="control"
                                                    [or]="alreadySubmitted"></app-validation-errors>
                            </div>
                        </div>
                        <div class="col-sm-10" *ngIf="form.get('phoneNumber'); let control">
                            <div class="simple-input">
                                <label for="telephoneNumber">{{ i18NPrefix + 'yourPhone' | translate }}</label>
                                <input type="text"
                                    id="form-phoneNumber"
                                    name="phoneNumber"
                                    [formControl]="control"
                                    appValidationIsInvalid
                                    [control]="control"
                                    [or]="alreadySubmitted">
                                <app-validation-errors [control]="control"
                                                    [or]="alreadySubmitted"></app-validation-errors>
                            </div>
                        </div>
                        <div class="col-sm-10" *ngIf="form.get('body'); let control">
                            <div class="simple-input">
                                <label for="messageText">{{ i18NPrefix + 'messageText' | translate }}</label>
                                <input type="text"
                                    id="form-body"
                                    name="body"
                                    [formControl]="control"
                                    appValidationIsInvalid
                                    [control]="control"
                                    [or]="alreadySubmitted">
                                <app-validation-errors [control]="control"
                                                    [or]="alreadySubmitted"></app-validation-errors>
                            </div>
                        </div>
                        <div class="col-sm-5" style="margin-top: 15px;">
                            <button class="primary">{{ i18NPrefix + 'send' | translate }}</button>
                        </div>
                        <div [class.bigger]="showMessage" [class.smaller]="!showMessage" class="col-sm-10" style="margin-top: 10px;">
                            <div [class.deleteInfo]="showMessageErrorS" [class.showInfo]="showMessageSuccess" [class.hideInfo]="!showMessageSuccess" class="alert alert-info" role="alert">{{ i18NPrefix + 'send.success' | translate }}</div>
                            <div [class.showInfo]="showMessageError" [class.hideInfo]="!showMessageError" class="alert alert-danger" role="alert">{{ i18NPrefix + 'send.error' | translate }}</div>
                        </div>

                        <div class="col-sm-9" style="margin-top: 10px;">
                            <p>Stiskem tlačítka Registrovat se potvrzuji seznámení se s <a target="_blank" style="color:#E43024;text-decoration:underline;" href="../../../../assets/content/files/8_usf_informace_o_zprac_os_u_-_bc_a_s_18-02.pdf">Informací o zpracování osobních údajů</a> a <a target="_blank" style="color:#E43024;text-decoration:underline;" href="../../../../assets/content/files/gdpr_prohlaseni_o_ochrane_osobnich_udaju_a_souboru_cookie_id_180088_revize_sk_25_6_2018.pdf">Prohlášením o ochraně osobních údajů a souborech cookie</a>.</p>
                        </div>
                    </form>
                </div>
                <div id="insurance-right" class="col-sm-6 hidden-xs">
                    <div class="row">
                        <h2 style="color:#E43024;font-weight:bold;"><img src="../../../assets/content/icons/phone.svg" />{{ i18NPrefix + 'phone' | translate }}</h2>
                    </div>
                    <div class="row" style="margin-right:5px;">
                        <p style="font-weight:500;">{{ i18NPrefix + 'phoneAvailability' | translate }}</p>
                    </div>
                    <div class="row" style="margin-left:0px;">
                        <a class="aRed">{{ i18NPrefix + 'www' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
