﻿@media screen and (max-width: 768px) {

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 250px;
        width: 250px;
        background-color: white;
        margin-bottom: 30px;
        margin-top: 15px;
        border-radius: 5px;
        
    }

    .item {
       padding-left:0px;
       padding-right:0px;
        margin-left:auto;
        margin-right:auto;
    }

}

#mobile-container-carousel{
    padding-left:0px;
    padding-right:0px;
}

#mycarousel-mobile{
    height:350px;
}

#grey-container {
    background-color: #F7F7F7;
}

   