﻿<div class="container-fluid hidden-xs hidden-sm" style="background-color:#F7F7F7; height:500px;">
    <div class="container">

        <div class="page-header">
            <h2 class="text-center">{{ i18NPrefix + 'formHeading' | translate }}</h2>
            <hr>
        </div>

        <div style="height:350px;" id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center">
                <div class="item active">

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/1 povinne ruceni.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'damageliability' | translate }}</h3>
                                    <p class="clearfix">
                                        {{ i18NPrefix + 'damageliabilityDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/2 havarijni pojisteni.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'accidentInsurance' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'accidentInsuranceDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/3 cestovni pojisteni.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'voyagePolicy' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'voyagePolicyDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">

                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/4 pojisteni majetku.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'proprietaryInsurance' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'proprietaryInsuranceDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/5 zivotni pojisteni.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'lifeInsurance' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'lifeInsuranceDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/6 penzijni pojisteni.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'superannuation' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'superannuationDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>



                <div class="item">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/7 hypoteka.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'mortgage' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'mortgageDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/8 uspora na energiich.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'savings' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'savingsDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="card">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/9 prodej-nakup reality.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'buysell' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'buysellDesc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span><img style="transform:rotate(180deg);" src="../../assets/content/icons/arrow.svg" /></span>
                <span class="sr-only">{{ i18NPrefix + 'Previous' | translate }}</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span><img src="../../assets/content/icons/arrow.svg" /></span>
                <span class="sr-only">{{ i18NPrefix + 'Next' | translate }}</span>
            </a>
        </div>
    </div>
</div>





<div id="mobile-container-carousel" class="container-fluid visible-xs visible-sm" style="background-color:#F7F7F7; height:500px;">
    <div id="mobile-container-carousel" class="container">

        <div class="page-header">
            <h2 class="text-center" style="font-weight:lighter;">{{ i18NPrefix + 'formHeading' | translate }}</h2>
            <hr>
        </div>

        <div id="myCarousel-mobile" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol id="carousel-indicators-login" class="carousel-indicators">
                <li data-target="#myCarousel-mobile" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="1"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="2"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="3"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="4"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="5"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="6"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="7"></li>
                <li data-target="#myCarousel-mobile" data-slide-to="8"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center">
                <div class="item active">

                    <div class="row">

                            <div class="card mobile">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/1 povinne ruceni.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'damageliability' | translate }}</h3>
                                    <p class="clearfix">
                                        {{ i18NPrefix + 'damageliabilityDesc' | translate }}
                                    </p>
                                </div>
                            </div>

                       </div>
                    </div>
                    <div class="item">
                        <div class="row">

                                <div class="card mobile">
                                    <div class="col-xs-12">
                                        <img src="../../assets/content/card-icons/2 havarijni pojisteni.svg" />
                                        <br />
                                        <h3>{{ i18NPrefix + 'accidentInsurance' | translate }}</h3>
                                        <p>
                                            {{ i18NPrefix + 'accidentInsuranceDesc' | translate }}
                                        </p>
                                    </div>
                                </div>

                        </div>
                    </div>
                 <div class="item">
                    <div class="row">

                            <div class="card mobile">
                                <div class="col-xs-12">
                                    <img src="../../assets/content/card-icons/3 cestovni pojisteni.svg" />
                                    <br />
                                    <h3>{{ i18NPrefix + 'voyagePolicy' | translate }}</h3>
                                    <p>
                                        {{ i18NPrefix + 'voyagePolicyDesc' | translate }}
                                    </p>
                                </div>
                            </div>

                    </div>
                </div>

                 <div class="item">
                     <div class="row">

                             <div class="card mobile">
                                 <div class="col-xs-12">
                                     <img src="../../assets/content/card-icons/4 pojisteni majetku.svg" />
                                     <br />
                                     <h3>{{ i18NPrefix + 'proprietaryInsurance' | translate }}</h3>
                                     <p>
                                        {{ i18NPrefix + 'proprietaryInsuranceDesc' | translate }}
                                     </p>
                                 </div>
                             </div>

                     </div>
                 </div>

                 <div class="item item-mobile">
                     <div class="row">

                             <div class="card mobile">
                                 <div class="col-xs-12">
                                     <img src="../../assets/content/card-icons/5 zivotni pojisteni.svg" />
                                     <br />
                                     <h3>{{ i18NPrefix + 'lifeInsurance' | translate }}</h3>
                                     <p>
                                        {{ i18NPrefix + 'lifeInsuranceDesc' | translate }}
                                     </p>
                                 </div>
                             </div>

                     </div>
                 </div>

                 <div class="item">
                     <div class="row">

                             <div class="card mobile">
                                 <div class="col-xs-12">
                                     <img src="../../assets/content/card-icons/6 penzijni pojisteni.svg" />
                                     <br />
                                     <h3>{{ i18NPrefix + 'superannuation' | translate }}</h3>
                                     <p>
                                        {{ i18NPrefix + 'superannuationDesc' | translate }}
                                     </p>
                                 </div>
                             </div>

                     </div>
                 </div>




                 <div class="item">
                     <div class="row">

                             <div class="card mobile">
                                 <div class="col-xs-12">
                                     <img src="../../assets/content/card-icons/7 hypoteka.svg" />
                                     <br />
                                     <h3>{{ i18NPrefix + 'mortgage' | translate }}</h3>
                                     <p>
                                        {{ i18NPrefix + 'mortgageDesc' | translate }}
                                     </p>
                                 </div>
                             </div>

                     </div>
                 </div>

                 <div class="item">
                     <div class="row">

                             <div class="card mobile">
                                 <div class="col-xs-12">
                                     <img src="../../assets/content/card-icons/8 uspora na energiich.svg" />
                                     <br />
                                     <h3>{{ i18NPrefix + 'savings' | translate }}</h3>
                                     <p>
                                        {{ i18NPrefix + 'savingsDesc' | translate }}
                                     </p>
                                 </div>
                             </div>

                     </div>
                 </div>

                 <div class="item">
                     <div class="row">

                             <div class="card mobile">
                                 <div class="col-xs-12">
                                     <img src="../../assets/content/card-icons/9 prodej-nakup reality.svg" />
                                     <br />
                                     <h3>{{ i18NPrefix + 'buysell' | translate }}</h3>
                                     <p>
                                        {{ i18NPrefix + 'buysellDesc' | translate }}
                                     </p>
                                 </div>
                             </div>

                     </div>
                 </div>



            </div>
            <!-- Left and right controls -->
            <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span><img style="transform:rotate(180deg);" src="../../assets/content/icons/arrow.svg" /></span>
                <span class="sr-only">{{ i18NPrefix + 'Previous' | translate }}</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span><img src="../../assets/content/icons/arrow.svg" /></span>
                <span class="sr-only">{{ i18NPrefix + 'Next' | translate }}</span>
            </a>-->
        </div>
    </div>
</div>
