<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="font-extra">{{consent.consentTypeName}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>{{consent.consentText}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9">
                <br>
                <div class="checkbox pull-right" style="margin-right: 15px;">
                    <div class="checkbox-group">
                        <label class="checkbox-control control--checkbox">
                            {{ i18NPrefix + 'acceptConsent' | translate }}
                            <input type="checkbox" 
                                [checked]="consent.accepted"
                                (change)="acceptedChanged($event)" 
                                [disabled]="!editable" />
                            <div id="inline" class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
