<div class="message-box" style="cursor:default !important;" *ngIf="showNotification()">
    <div class="container-fluid hidden-sm hidden-xs">
        <div class="row" >
            <div class="col-md-12 dashboard-notif-box">
                <div class="dashboard-notif-item" style="min-width:130px; position: relative;">
                    <div *ngIf="afterDueDate()" style="position: relative; top: -10px">
                        <span style="color:red; padding:0px; font-size: 11px; font-weight: bold;">
                            <img src="../../assets/content/icons/bell.svg" class="icon"/>{{ i18NPrefix + 'afterDueDate' | translate }}</span>
                        <span id="dateofEfficiency" style="font-size: 16px;">{{notification.dateofEfficiency}}</span>
                    </div>                    
                    <ng-container *ngIf="!afterDueDate()">
                        <span id="dateofEfficiency" style="font-size: 16px;">{{notification.dateofEfficiency}}</span>
                    </ng-container>
                </div>
                <div class="dashboard-notif-item" style="min-width:10px;">
                    <span class="text-gray hidden-xs" style="font-size:22px;">|</span>
                </div>
                <div class="dashboard-notif-item" style="width:30%" *ngIf="notification.contractName">
                    <span style="font-weight:bold; font-size: 16px;">{{notification.contractName}}</span>
                </div>
                <div class="dashboard-notif-item" style="width:70%">
                    <span style="font-size: 16px;">{{notification.description}}</span>
                </div>
                <div class="dashboard-notif-item" style="max-width: 190px">
                    <div class="dashboard-checkbox-border pull-right" style="width:150px; display: table;" (click)="solved()">
                        <div class="dashboard-checkbox-group" style="display: table-cell; vertical-align: middle; ">
                            <label class="dashboard-checkbox-control dashboard-control--checkbox">
                                <span style="margin-left: 20px">{{ i18NPrefix + 'paid' | translate }}</span>
                                <input type="checkbox" class="dashboard-notif-checkbox" (change)="solved()">
                                <div id="dashboard-inline" class="dashboard-control__indicator"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>    
    
    <div class="container-fluid visible-sm visible-xs">
            <div class="row">
                <div class="col-xs-12">
                    <span style="font-weight:bold; font-size: 16px;">{{notification.contractName}}</span>
                </div>
                <div class="col-xs-6">
                    <span style="font-size: 14px;">{{notification.description}}</span>
                </div>
                <div class="col-xs-6">
                    <div class="pull-left" *ngIf="afterDueDate()">
                        <span style="color:red; padding:0px; font-size: 11px; font-weight: bold;">
                            <img src="../../assets/content/icons/bell.svg" class="icon" />{{ i18NPrefix + 'afterDueDate' | translate }}
                        </span>
                        <span id="dateofEfficiency" style="font-size: 16px;">{{notification.dateofEfficiency}}</span>
                    </div>
                    <div class="dashboard-checkbox-group pull-right">
                        <label class="dashboard-checkbox-control dashboard-control--checkbox">
                            <span style="margin-left: 40px">{{ i18NPrefix + 'paid' | translate }}</span>
                            <input type="checkbox" class="dashboard-notif-checkbox" (change)="solved()">
                            <div id="dashboard-inline" class="dashboard-control__indicator"></div>
                        </label>
                    </div>
                </div>
    
                <div class="col-xs-8">
                    <span id="dateofEfficiency" style="font-size: 14px;">{{notification.dateofEfficiency}}</span>
                    <span class="text-gray">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                    <span style="font-size: 14px;">{{ 'enum.NotificationFrequency.' + notification.frequency | translate }}</span>
                </div>
            </div>
        </div>
</div>
