


.dashboard-checkbox {
	left: 10px;
  }
  
.dashboard-checkbox-border {
  cursor:pointer;
	font-size: 13px;
	font-weight: 500;
	border-radius: 5px;
	border: #30BB97 1px solid;
	width: 100%;
	height: 50px;
	text-align: center;
	}
	
.dashboard-checkbox-group {
		display: inline-block;
		padding-top: 0px;
	}
	
.dashboard-checkbox-control {
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 12pt;
		margin: 0px;
	}
	
.dashboard-checkbox-control input {
				position: absolute;
				z-index: -1;
				opacity: 0;
		}
	
.dashboard-control__indicator {
		position: absolute;
		top: 0px;
		height: 20px;
		width: 20px;
		background: transparent;
		right: 75px;
		border: 1px solid #30BB97;
		border-radius: 5px;
	}
	
	.dashboard-checkbox-control input:disabled ~ .dashboard-control__indicator {
		background: transparent;
		opacity: 0.6;
		pointer-events: none;
	}
	
	.dashboard-control__indicator:after {
		content: '';
		position: absolute;
		display: none;
	}
	
	#dashboard-inline {
    left: 10px;
	}

