<div class="message-box" style="height:auto; cursor:default;" onready="$('[data-toggle=tooltip]').tooltip();">
    <div class="container-fluid" style="background-color:#FFFFFF">
        <div class="row hidden-xs">
            <div class="col-sm-4">
                <h4 style="font-weight:bold;"><span class="wide-text-dots" tooltip="{{ i18NPrefix + 'contractName' | translate }}" tooltipPlacement="top">{{contract.productGroupName}}</span></h4>
                <span tooltip="{{ i18NPrefix + 'contractNumber' | translate }}" tooltipPlacement="top">{{contract.contractNumber}}</span>
                <br />
                <span class="text-gray" style="font-size: 12px" *ngIf="contract.closedBC">{{ i18NPrefix + 'isClosedBC' | translate }}</span>
                <div>
                <span class="text-gray" style="font-size: 12px" >{{ contract.note}}</span></div>
            </div>
            <div class="col-sm-2" style="padding-top:10px;">
                <div class="message-date">
                    <span tooltip="{{ i18NPrefix + 'signed' | translate }}" tooltipPlacement="top">{{contract.signDate}}</span>
                </div>
            </div>
            <div class="col-sm-3" style="padding-top:20px;">
                <div class="text-gray">
                    <div style="padding-bottom: 30px; text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" tooltip="{{ i18NPrefix + 'partner' | translate }}" tooltipPlacement="top">{{contract.partnerName}}</div>
                </div>
            </div>
            <!--<div class="col-sm-1" style="padding-top:15px;">
                <div id="attachments">
                    <div *ngIf="hasAttachments">
                        <img src="../../assets/content/icons/file2.svg" class="icon" />
                    </div>
                </div>
            </div>-->
            <div class="col-sm-3 col-xs-6 pull-right" style="padding-top:5px;">
                <div *ngIf="!editShow">
                    <button (click)="showEdit()" class="secondary">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{ i18NPrefix + 'edit' | translate }}
                    </button>
                </div>
            </div>

        </div>
        <div *ngIf="hasNotifications()" class="hidden-xs">
            <div class="row">
                <hr id="header-hr" />
            </div>
            <div style="padding-top:15px;">
                <div class="row" *ngFor="let notification of payments">
                    <div class="col-sm-2">
                        <p *ngIf="notification.isFirst" style="font-weight:bold;color:#E43024">{{ i18NPrefix + 'payments' | translate }}</p>
                    </div>
                    <div class="col-sm-2" style="padding:0px;">
                        <p style="font-weight:bold;color:#E43024">
                            <span tooltip="{{ i18NPrefix + 'paymentNotificationAmount' | translate }}" tooltipPlacement="top">
                                {{notification.notification.paymentAmount | number }}&nbsp;{{notification.notification.paymentCurrency}}
                            </span>
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <!-- <p *ngIf="notification.standingOrder" style="font-weight:bold;">Trvaly prikaz, </p> -->
                        <p style="font-weight:bold;">
                            <span tooltip="{{ i18NPrefix + 'frequency' | translate }}" tooltipPlacement="top">
                                {{ 'enum.NotificationFrequency.' + notification.notification.frequency | translate }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div style="padding-top:5px;">
                <div class="row" *ngFor="let notification of otherNotifications">
                    <div class="col-sm-2">
                        <p *ngIf="notification.isFirst" style="font-weight:bold;">{{ i18NPrefix + 'notifications' | translate }}</p>
                    </div>
                    <div class="col-sm-2">
                        <p>
                            <span tooltip="{{ i18NPrefix + 'dateOfStart' | translate }}" tooltipPlacement="top">
                                {{notification.notification.dateOfStart}}
                            </span>
                        </p>
                    </div>
                    <div class="col-sm-8" style="color:#9B9DA6;">
                        <p class="text-gray">
                            <span tooltip="{{ i18NPrefix + 'description' | translate }}" tooltipPlacement="top">
                                {{notification.notification.description}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-contract" class="visible-xs">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <label class="labelMobile" for="contractNameMobile">{{ i18NPrefix + 'contractName' | translate }}</label>
                    <h4 id="contractNameMobile"><span class="wide-text-dots"><strong>{{contract.productGroupName}}</strong></span></h4>
                </div>
                <div class="col-xs-12 text-center">
                    <label class="labelMobile" for="contractNumberMobile">{{ i18NPrefix + 'contractNumber' | translate }}</label>
                    <h4 id="contractNumberMobile"><span>{{contract.contractNumber}}</span></h4>
                    <h5 class="text-gray" style="font-size:12px;margin-bottom: 15px;" *ngIf="contract.closedBC">{{ i18NPrefix + 'isClosedBC' | translate }}</h5>
                    <h5 class="text-gray" style="font-size:12px;margin-bottom: 15px;" >{{ contract.note}}</h5>
                </div>

                <div class="col-xs-6 text-center">
                    <label for="contractSignDateMobile" class="labelMobile">{{ i18NPrefix + 'signed' | translate }}</label>
                    <h5 id="contractSignDateMobile"><span><strong>{{contract.signDate}}</strong></span></h5>
                </div>
                <div class="col-xs-6 text-center">
                    <label for="contractPartnerMobile" class="labelMobile">{{ i18NPrefix + 'partner' | translate }}</label>
                    <h5 id="contractPartnerMobile"><span>{{contract.partnerName}}</span></h5>
                </div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6" style="margin-top:10px;">
                    <div *ngIf="!editShow">
                        <button (click)="showEdit()" class="secondary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{ i18NPrefix + 'edit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <hr style="padding:0px 3px; border-color:#9B9DA6;margin:10px 0px 5px 0px;" />
            <div *ngIf="hasNotifications()" id="notifications-mobile">
                <div class="row" *ngFor="let notification of payments" style="font-weight:bold;color:#E43024">
                    <div class="col-xs-12">
                        <h5 style="font-weight:bold;" *ngIf="notification.isFirst">{{ i18NPrefix + 'payments' | translate }}</h5>
                    </div>
                    <div class="col-xs-5">
                        <label class="labelMobile" for="amountPaymentMobile">{{ i18NPrefix + 'paymentNotificationAmount' | translate }}</label>
                        <h5 style="font-weight:bold;" id="amountPaymentMobile">{{notification.notification.paymentAmount}} {{notification.notification.paymentCurrency}}</h5>
                    </div>
                    <div class="col-xs-7">
                        <label class="labelMobile" for="frequencyPaymentMobile">{{ i18NPrefix + 'frequency' | translate }}</label>
                        <h5 style="font-weight:bold;" id="frequencyPaymentMobile">{{ 'enum.NotificationFrequency.' + notification.notification.frequency | translate }}</h5>
                    </div>
                </div>
                <hr style="padding:0px 3px; border-color:#9B9DA6;margin:5px 0px;" />
                <div class="row" *ngFor="let notification of otherNotifications">
                    <div class="col-xs-12">
                        <h5 *ngIf="notification.isFirst" style="font-weight:bold;">{{ i18NPrefix + 'notifications' | translate }}</h5>
                    </div>
                    <div class="col-xs-5">
                        <label class="labelMobile" for="signNotificationMobile">{{ i18NPrefix + 'dateOfStart' | translate }}</label>
                        <h5 id="signNotificationMobile">{{notification.notification.dateOfStart}}</h5>
                    </div>
                    <div class="col-xs-7">
                        <label class="labelMobile" for="describeNotifyMobile">{{ i18NPrefix + 'description' | translate }}</label>
                        <h5 id="describeNotifyMobile">{{notification.notification.description}}</h5>
                    </div>
                </div>
            </div>


    </div>
</div>

