.modal-content{
  font-size:12px;
}

.page-header{
  border-bottom: none;

}

.page-header hr{
  border:none;
  width: 100px;
  color: #E43024;
  background-color:#e43024;
  height:3px;
  margin-top:10px;
  margin-bottom:0px;
}

.form-group input,.input-group input,.input-group span, .medium select{
  background-color:#F7F7F7;
  color:#000000;
  font-size:15px;
  border-color:#F7F7F7;

}

.form-control:focus{
  box-shadow:none;
  border: 5px solid #E43024;
}

.modal-body{
  border-top: none;
}

.modal-content{
  padding-left: 5%;
  padding-right:5%;
}

#upload-box{
  margin-top:40px;
  font-size: 12px;
  border: 0.5px #E43024 dashed;
  text-align:center;
  margin-bottom: 20px;


}


#upload-box span{
  color:#E43024;
  font-size:40px;
  padding-top:10px;
  padding-bottom: 10px;

}

#upload {
display: none;
}

#upload-box p{
  font-weight: 500;
  font-size: 15px;
}

#upload-box #grey{
  color:rgb(161, 161, 161);
  font-size: 12px;
  font-weight: 300;

}

#upload-box a{
  text-decoration-line: underline;
  color:#E43024;
  padding-bottom: 15px;
  font-weight: 100;
  font-size:12px;

}

.medium input{
  max-width:100%;
}

#currency{
  max-width: 60px;
}



.heading hr{
  border:none;
  width: 40px;
  color: #E43024;
  background-color:#e43024;
  height:3px;
  margin-top:-5px;
  margin-bottom:0px;
  float:left;
}

.heading{
 margin-bottom: 21px;
}

#datepickers .input-group {
  max-width: 100%;
}

@media screen and (max-width: 992px){
.medium select,.input-group{
  margin-top: 15px;
}



}

@media screen and (min-width:992px){
#permanent{
  margin-left: -30px;
}

#partner{
  float:right;
}


}

.modal-lg{
  width: 85%;
}


.btn-primary,.btn-primary.active.focus{
  background-color:rgb(228, 48, 36);
  border-color:rgb(228, 48, 36);
}

.btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus
, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
  background-color:rgb(228, 48, 36);
  border-color:rgb(228, 48, 36);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 48, 36,.6);
}

.btn-primary.focus, .btn-primary:focus{
  background-color:rgb(228, 48, 36);
}

.btn-primary:hover{
  background: rgb(228, 48, 36);
  border-color:rgb(228, 48, 36);
}

.datepicker-addon {
  background-color: #F7F7F7;
  border: none;
  border-color: #F7F7F7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  font-size: 15px;
}

.remove-icon-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dz-message {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
}

.attachment-download {
  font-size: 11px;
  color: #E43024;
  
	animation: downloading 1s linear infinite;
	animation-play-state: running;
}

.attachment-download-visible {
  visibility: visible;
}

.attachment-download-hidden {
  visibility: hidden;
}

@keyframes downloading {
  50% {
    opacity: 0;
  }
}


