<form class="container form-margin" style="background-color:#FFFFFF" *ngIf="form" (ngSubmit)="onSubmit(form)">
    <div class="container-fluid">
        <div class="row" style="margin-top:30px;">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div (click)="backToBinder()" style="cursor:pointer; max-width:80px;">
                        <img style="transform:rotate(180deg);" src="../../assets/content/icons/arrow.svg" />
                        <span style="margin-left:10px; font-weight:500;">{{ i18NPrefix + 'back' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" [hidden]="!deletedAttachment">
            <div class="col-sm-12 text-center" style="padding-bottom:10px;">
                <span style="color:#E43024;">{{i18NPrefix + 'deletedAttachment' | translate}}</span>
            </div>
        </div>
        <div class="row">
            <div class="page-header">
                <h1 class="text-center">{{ i18NPrefix + 'formName' | translate }}</h1>
                <hr>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 text-center" style="padding-bottom:10px;">
                <span tooltip="{{ i18NPrefix + 'state' | translate }}" tooltipPlacement="top" [style.color]="getColorOfState()"><strong>{{i18NPrefix + contract.state | translate}}</strong></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group" *ngIf="form.get('productGroupName'); let control">
                <input class="form-control input-lg" placeholder="{{ i18NPrefix + 'contractName' | translate }}" type="text"
                       id="form-productGroupName"
                       name="productGroupName"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       [readonly]="contract.closedBC"
                       list="contractName-options"
                       autocomplete="off"
                       tooltip="{{ i18NPrefix + 'contractName' | translate }}" tooltipPlacement="top">
                <datalist id="contractName-options">
                    <option *ngFor="let contractName of getContractNames()" [value]="contractName">{{contractName}}</option>
                </datalist>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>

            <div class="col-sm-4 form-group" *ngIf="form.get('contractNumber'); let control">
                <input class="form-control input-lg" placeholder="{{ i18NPrefix + 'contractNumber' | translate }}" type="text"
                       id="form-contractNumber"
                       name="contractNumber"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       [readonly]="contract.closedBC"
                       tooltip="{{ i18NPrefix + 'contractNumber' | translate }}" tooltipPlacement="top">
                <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
            </div>

            <div class="col-sm-4 form-group" *ngIf="form.get('partnerName'); let control">
                <input class="form-control input-lg" placeholder="{{ i18NPrefix + 'partner' | translate }}" type="text"
                       id="form-partnerName"
                       name="partnerName"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       [readonly]="contract.closedBC"
                       list="partnerName-options"
                       autocomplete="off"
                       tooltip="{{ i18NPrefix + 'partner' | translate }}" tooltipPlacement="top">
                <datalist id="partnerName-options">
                    <option *ngFor="let partnerName of getPartnerNames()" [value]="partnerName">{{partnerName}}</option>
                </datalist>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
        </div>

        <!-- datapickery -->

        <div id="datepickers" class="row">
            <div class="col-md-3 col-lg-2 form-group" *ngIf="form.get('signDate'); let control">
                <div *ngIf="!contract.closedBC" id="datepickerSign" class="input-group date datepicker">
                    <input class="datepickerfix form-control" placeholder="{{ i18NPrefix + 'signed' | translate }}" type="text"
                           id="form-signDate"
                           name="signDate"
                           [formControl]="control"
                           data-provide="datepicker"
                           appValidationIsInvalid
                           [control]="control"
                           autocomplete="off"
                           [or]="alreadySubmitted"
                           [readonly]="contract.closedBC"
                           (focusout)="dateChanged($event)"
                           tooltip="{{ i18NPrefix + 'signed' | translate }}" tooltipPlacement="top">
                </div>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>

                <div *ngIf="contract.closedBC" id="datepickerSign" class="input-group">
                    <input class="datepickerfix form-control" placeholder="{{ i18NPrefix + 'signed' | translate }}" type="text"
                           id="form-signDate"
                           name="signDate"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           autocomplete="off"
                           [or]="alreadySubmitted"
                           [readonly]="contract.closedBC"
                           tooltip="{{ i18NPrefix + 'signed' | translate }}" tooltipPlacement="top">
                </div>
            </div>

            <div class="col-md-3 col-lg-2" *ngIf="form.get('validFrom'); let control">
                <!-- datapickery -->
                <div *ngIf="!contract.closedBC" id="datumOd" class="input-group date datepicker">
                    <input onclick="maxDate($('#form-validToEdit').val(),true)" class="form-control datepickerfix" placeholder="{{ i18NPrefix + 'validFrom' | translate }}" type="text"
                           id="form-validFromEdit"
                           name="validFrom"
                           data-provide="datepicker"
                           [formControl]="control"
                           appValidationIsInvalid
                           autocomplete="off"
                           [control]="control"
                           [or]="alreadySubmitted"
                           [readonly]="contract.closedBC"
                           (focusout)="dateChanged($event)"
                           tooltip="{{ i18NPrefix + 'validFrom' | translate }}" tooltipPlacement="top">
                </div>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>

                <div *ngIf="contract.closedBC" id="datumOd" class="input-group">
                    <input class="form-control datepickerfix" placeholder="{{ i18NPrefix + 'validFrom' | translate }}" type="text"
                           id="form-validFromEdit"
                           name="validFrom"
                           [formControl]="control"
                           appValidationIsInvalid
                           autocomplete="off"
                           [control]="control"
                           [or]="alreadySubmitted"
                           [readonly]="contract.closedBC"
                           tooltip="{{ i18NPrefix + 'validFrom' | translate }}" tooltipPlacement="top">
                </div>
            </div>

            <div class="col-md-3 col-lg-2" *ngIf="form.get('validTo'); let control">
                <div *ngIf="!contract.closedBC" id="datumDo" class="input-group date datepicker">
                    <input onclick="minDate($('#form-validFromEdit').val(),true)" class="form-control datepickerfix" placeholder="{{ i18NPrefix + 'validTo' | translate }}" type="text"
                           id="form-validToEdit"
                           name="validTo"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           autocomplete="off"
                           data-provide="datepicker"
                           [or]="alreadySubmitted"
                           [readonly]="contract.closedBC"
                           (focusout)="dateChanged($event)"
                           tooltip="{{ i18NPrefix + 'validTo' | translate }}" tooltipPlacement="top">

                </div>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>

                <div *ngIf="contract.closedBC" id="datumDo" class="input-group">
                    <input class="form-control datepickerfix" placeholder="{{ i18NPrefix + 'validTo' | translate }}" type="text"
                           id="form-validToEdit"
                           name="validTo"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           autocomplete="off"
                           [or]="alreadySubmitted"
                           [readonly]="contract.closedBC"
                           tooltip="{{ i18NPrefix + 'validTo' | translate }}" tooltipPlacement="top">

                </div>
            </div>

            <div class="col-lg-6 visible-lg hidden-md" *ngIf="form.errors && form.errors?.dates && alreadySubmitted">
                <div class="alert alert-danger"
                     role="alert"
                     [innerHTML]="form.errors?.dates | translate"
                     style="height: 45px !important">
                </div>
            </div>
        </div>

        <div class="row hidden-lg" *ngIf="form.errors && form.errors?.dates && alreadySubmitted">
            <div class="col-md-8">
                <div class="alert alert-danger"
                     role="alert"
                     [innerHTML]="form.errors?.dates | translate">
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h4>{{ i18NPrefix + 'contractOwner' | translate }}</h4>
                    <hr>
                </div>
            </div>
        </div>



        <!-- <div class="row">
            <div class="col-md-4 form-group">
                <input type="text" class="form-control input-lg" placeholder="{{ i18NPrefix + 'nameAndSurname' | translate }}" />
            </div>
            <div class="col-md-3 form-group">
                <div id="datepickerOfBirth" class="input-group date datepicker" data-provide="datepicker">
                    <input type="text" class="form-control" placeholder="{{ i18NPrefix + 'birthday' | translate }}">
                    <div class="input-group-addon datepicker-addon">
                        <img src="../../assets/content/icons/calendar.svg" />
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-4 form-group" *ngIf="form.get('contractOwner'); let control">
                <input class="form-control input-lg" placeholder="{{ i18NPrefix + 'nameAndSurname' | translate }}" type="text"
                       id="form-contractOwner"
                       name="contractOwner"
                       [formControl]="control"
                       appValidationIsInvalid
                       [control]="control"
                       [or]="alreadySubmitted"
                       [readonly]="contract.closedBC"
                       tooltip="{{ i18NPrefix + 'nameAndSurname' | translate }}" tooltipPlacement="top">
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>



            <!-- <div class="col-md-4 form-group">
                <input type="text" class="form-control input-lg" placeholder="{{ i18NPrefix + 'nameAndSurname' | translate }}" />
            </div> -->
            <!--TBD-->
            <!-- <div class="col-md-3 form-group">
                <div id="datepickerOfBirth" class="input-group date datepicker" data-provide="datepicker">
                    <input type="text" class="form-control" placeholder="{{ i18NPrefix + 'birthday' | translate }}">
                    <div class="input-group-addon datepicker-addon">
                        <img src="../../assets/content/icons/calendar.svg" />
                    </div>
                </div>
            </div> -->

            <div class="col-md-3 form-group" *ngIf="form.get('contractOwnerBirthDate'); let control">
                <div *ngIf="!contract.closedBC" id="contractOwnerBirthDate" class="input-group date datepicker">
                    <input onclick="setMaxToday('#form-contractOwnerBirthDateEdit');"
                           class="form-control datepickerfix" placeholder="{{ i18NPrefix + 'birthday' | translate }}" type="text"
                           id="form-contractOwnerBirthDateEdit"
                           name="contractOwnerBirthDate"
                           [formControl]="control"
                           data-provide="datepicker"
                           autocomplete="off"
                           [readonly]="contract.closedBC"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted"
                           (focusout)="dateChanged($event)"
                           tooltip="{{ i18NPrefix + 'birthday' | translate }}" tooltipPlacement="top">
                </div>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>

                <div *ngIf="contract.closedBC" id="contractOwnerBirthDate" class="input-group">
                    <input class="form-control datepickerfix" placeholder="{{ i18NPrefix + 'birthday' | translate }}" type="text"
                           id="form-contractOwnerBirthDateEdit"
                           name="contractOwnerBirthDate"
                           [formControl]="control"
                           autocomplete="off"
                           [readonly]="contract.closedBC"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted"
                           tooltip="{{ i18NPrefix + 'birthday' | translate }}" tooltipPlacement="top">
                </div>
            </div>
        </div>

        <!-- Payment notifications -->



        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h4>{{ i18NPrefix + 'noteForMe' | translate }}</h4>
                    <hr>
                </div>
            </div>
        </div>

        <!-- Notes -->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" *ngIf="form.get('note'); let control">
                    <input type="text" class="form-control input-lg"
                           id="form-note"
                           name="note"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted"
                           tooltip="{{ i18NPrefix + 'noteForMe' | translate }}" tooltipPlacement="top">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
                <ng-container *ngIf="!contract.closedBC">

                    <div class="checkbox" *ngIf="form.get('accessBC'); let control">
                        <div class="checkbox-group">
                            <label class="checkbox-control control--checkbox">
                                {{ i18NPrefix + 'shareWithBC' | translate }}
                                <input type="checkbox"
                                       id="form-accessBC"
                                       name="accessBC"
                                       [formControl]="control"
                                       appValidationIsInvalid
                                       [control]="control"
                                       [or]="alreadySubmitted">
                                <div id="inline" class="control__indicator"></div>
                            </label>
                        </div>
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>
                </ng-container>
                <ng-container *ngIf="contract.closedBC">
                    <div class="checkbox" *ngIf="form.get('markedAsTerminated'); let control">
                        <div class="checkbox-group">
                            <label class="checkbox-control control--checkbox">
                                {{ i18NPrefix + 'markAsTerminated' | translate }}
                                <input type="checkbox"
                                       id="form-markedAsTerminated"
                                       name="markedAsTerminated"
                                       [formControl]="control"
                                       appValidationIsInvalid
                                       [control]="control"
                                       [or]="alreadySubmitted">
                                <div id="inline" class="control__indicator"></div>
                            </label>
                        </div>
                        <app-validation-errors [control]="control"
                                               [or]="alreadySubmitted"></app-validation-errors>
                    </div>

                </ng-container>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h4>{{ i18NPrefix + 'paymentNotification' | translate }}</h4>
                    <hr>
                </div>
            </div>
        </div>



        <app-binder-contract-payment #pay *ngFor="let notification of payments"
                                     [notification]="notification"
                                     [contractId]="contractId"
                                     [contractName]="getContractName()"
                                     [contractPartnerName]="getContractPartnerName()"
                                     (errorOccured)="notificationError($event)"
                                     (remove)="removePayment($event)"
                                     (update)="updatingNotification($event)"></app-binder-contract-payment>

        <div class="row">
            <a class="aRed" style="margin-left:15px;" (click)="addPayment()">{{ i18NPrefix + 'addNewPayment' | translate }}</a>
        </div>

        <!-- Other notifications -->

        <div class="row">
            <div class="col col-md-12">
                <div class="heading">
                    <h4>{{ i18NPrefix + 'otherNotification' | translate }}</h4>
                    <hr>
                </div>
            </div>
        </div>

        <app-binder-contract-notification #not *ngFor="let notification of otherNotifications"
                                          [notification]="notification"
                                          [contractId]="contractId"
                                          [contractName]="getContractName()"
                                          [contractPartnerName]="getContractPartnerName()"
                                          (errorOccured)="notificationError($event)"
                                          (remove)="removeNot($event)"
                                          (update)="updatingNotification($event)"></app-binder-contract-notification>

        <div class="row">
            <a class="aRed" style="margin-left:15px;" (click)="addNotification()">{{ i18NPrefix + 'addNewNotification' | translate }}</a>
        </div>


        <div *ngIf="contract.hasAttachments" class="row">
            <div class="col-md-3 col-sm-4" *ngFor="let attachment of contract.attachments" style="margin-top: 5px;">

                <div class="btn attachmentD">
                    <div #attWrapper class="row">
                        <div class="downloadAttach">
                            <a [href]="getFileUrl(attachment)" [target]="'_blank'">
                                <img class="attachment-icon-left" src="../../../../assets/content/icons/file 3.svg" />
                                <span class="attachment-text"> {{ attachment.name }}</span>
                            </a>
                            <!--<div class="visible-md visible-lg visible-xl">
                                <a [href]="!IEorME && attachment.blobUrl ? attachment.blobUrl : ''" target="_blank">

                                </a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md">
                                <div *ngIf="getIsSafari()">
                                    <a *ngIf="loaded" [target]="getIsSafari() ? '_blank' : '_self'" [download]="attachment.name" [href]="attachment.img">
                                        <img class="attachment-icon-left" src="../../../../assets/content/icons/file 3.svg" />
                                        <span class="attachment-text"> {{ attachment.name }}</span>
                                    </a>
                                </div>
                                <div *ngIf="!getIsSafari()">
                                    <a [href]="!IEorME && attachment.blobUrl ? attachment.blobUrl : ''" target="_blank">
                                        <img class="attachment-icon-left" src="../../../../assets/content/icons/file 3.svg" />
                                        <span class="attachment-text"> {{ attachment.name }}</span>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="IEorME" class="visible-md visible-lg visible-xl">
                                <div (click)="downloadIEorME(attachment)">
                                    <img class="attachment-icon-left" src="../../../../assets/content/icons/file 3.svg" />
                                    <span class="attachment-text"> {{ attachment.name }}</span>
                                </div>
                            </div>-->
                        </div>
                        <a *ngIf="attachment.createdByClient"
                           (click)="removeAttachmentModal($event, attachment)"
                           class="remove-icon-margin remove-icon-fix"
                           style="text-decoration:none;">
                            <img src="../../../../assets/content/icons/delete.svg" />
                        </a>
                    </div>
                </div>
                <!--<span [ngClass]="attachmentsDownloadMap.get(attachment.name) === true ? 'attachment-download attachment-download-visible' : 'attachment-download attachment-download-hidden'">stahování přílohy...</span>-->
            </div>
        </div>

        <div class="row">
            <!--<div id="upload-box" class="col-sm-12" style="padding-top:10px;">-->
            <!--<span class="glyphicon glyphicon-cloud-upload"></span>
            <p>Nahrát dokumenty</p>
            <p id="grey">Přetáhněte sem potřebné dokumenty nebo</p>
            <p><input id="upload" type="file"/><a id="upload_link" href="#">vyberte z vašeho počítače</a></p>-->
            <!--</div>-->
            <!--<button (click)="uploadAttach()" class="btn">Nahrát přílohu</button>-->
            <div class="col-md-12">
                <!-- <div id="myDropzoneEdit" class="dropzone"></div> -->
                <dropzone #dropzone class="dropzone" [useDropzoneClass]="useDropzoneClass" *ngIf="type === 'component'" class="dropzone-container"
                          [config]="config" [disabled]="disabled" fxLayout="row" fxLayoutAlign="start strech" fxFlex="auto"
                          [message]="message" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
                <div class="col-md-12 text-center">
                    <div *ngIf="maxFileSize" class="alert alert-danger alert-dismissible" role="alert">
                        <div [innerHTML]="'binder.contract.edit.error.maxFileSize' | translate"></div>
                        <button (click)="onCancel('maxFileSize')" type="button" class="close alertClose-custom" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="maxNumOfFiles" class="alert alert-danger alert-dismissible" role="alert">
                        <div [innerHTML]="'binder.contract.edit.error.maxNumOfFiles' | translate"></div>
                        <button (click)="onCancel('maxNumOfFiles')" type="button" class="close alertClose-custom" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 alert alert-danger text-center"
                     role="alert"
                     [innerHTML]="i18NErrorPrefix + submitErrorString | translate"
                     *ngIf="submitError">
                </div>
                <div class="col-md-12 alert alert-warning text-left"
                     role="alert"
                     *ngIf="submitWarning">
                    <span style="font-weight: bold">{{ i18NPrefix + 'warn' | translate }}</span>
                    <ng-container *ngIf="updatePrescriptWarn && updatePrescriptWarn.length > 0">
                        <div class="contract-warn-inner">
                            <span>{{ i18NPrefix + 'warn.updatePrescripts' | translate }}</span>
                            <ul>
                                <li *ngFor="let prescript of updatePrescriptWarn">
                                    <span *ngIf="prescript.typeOfNotification && prescript.typeOfNotification.toLowerCase() === 'payment'">
                                        {{ i18NPrefix + 'warn.updatePaymentPrescripts' | translate : {dateOfStart: prescript.dateOfStart, frequency: ( 'enum.NotificationFrequency.' + prescript.frequency | translate ), paymentAmount: prescript.paymentAmount, paymentCurrency: prescript.paymentCurrency} }}
                                    </span>
                                    <span *ngIf="prescript.typeOfNotification && prescript.typeOfNotification.toLowerCase() === 'other'">
                                        {{ i18NPrefix + 'warn.updateNotificationPrescripts' | translate : {dateOfStart: prescript.dateOfStart, frequency: ( 'enum.NotificationFrequency.' + prescript.frequency | translate ), description: prescript.description} }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="removePrescriptWarn && removePrescriptWarn.length > 0">
                        <div class="contract-warn-inner">
                            <span>{{ i18NPrefix + 'warn.removePrescripts' | translate }}</span>
                            <ul>
                                <li *ngFor="let prescript of removePrescriptWarn">
                                    <span *ngIf="prescript.typeOfNotification && prescript.typeOfNotification.toLowerCase() === 'payment'">
                                        {{ i18NPrefix + 'warn.updatePaymentPrescripts' | translate : {dateOfStart: prescript.dateOfStart, frequency: ( 'enum.NotificationFrequency.' + prescript.frequency | translate ), paymentAmount: prescript.paymentAmount, paymentCurrency: prescript.paymentCurrency} }}
                                    </span>
                                    <span *ngIf="prescript.typeOfNotification && prescript.typeOfNotification.toLowerCase() === 'other'">
                                        {{ i18NPrefix + 'warn.updateNotificationPrescripts' | translate : {dateOfStart: prescript.dateOfStart, frequency: ( 'enum.NotificationFrequency.' + prescript.frequency | translate ), description: prescript.description} }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="addAttWarn && addAttWarn.length > 0">
                        <div class="contract-warn-inner">
                            <span>{{ i18NPrefix + 'warn.addAttachments' | translate }}</span>
                            <ul>
                                <li *ngFor="let att of addAttWarn">
                                    {{ att.fileName }}
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="removeAttWarn && removeAttWarn.length > 0">
                        <div class="contract-warn-inner">
                            <span>{{ i18NPrefix + 'warn.removeAttachments' | translate }}</span>
                            <ul>
                                <li *ngFor="let att of removeAttWarn">
                                    {{ att.name }}
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" style="padding-left: 0px;">
                    <button style="font-size:15px; " type="submit" class="btn btn-danger btn-primary btn-lg pull-left col-sm-12">
                        <span [innerHTML]="i18NPrefix + 'save' | translate"></span>
                        <i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>
                    </button>
                </div>

                <div class="col-md-2">
                    <button style="font-size:15px;  border-color:#E43024; color:black;" type="button"
                            class="btn-lg btn btn-default pull-left col-sm-12" (click)="cancel()" data-dismiss="modal">
                        {{ i18NPrefix + 'cancel' | translate }}
                    </button>
                </div>

                <div class="col-md-8 pull-right" *ngIf="!contract.closedBC">
                    <div class="row">
                        <a class="aRed" (click)="deleteContractModal()">
                            <img src="../../assets/content/icons/delete.svg" style="margin-right: 20px" />{{ i18NPrefix + 'deleteContract' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="modalDeleteAttachment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ i18NPrefix + 'modal.deleteAttachment.title' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ i18NPrefix + 'modal.deleteAttachment.text' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="removeAttachment()" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteAttachment.yes' | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteAttachment.no' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modalDeleteContract" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ i18NPrefix + 'modal.deleteContract.title' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ i18NPrefix + 'modal.deleteContract.text' | translate }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteContract()" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteContract.yes' | translate }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 80px;">
                    {{ i18NPrefix + 'modal.deleteContract.no' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
