<form role="form" class="container" *ngIf="form" (ngSubmit)="onSubmit(form)">
    <div class="row" style="margin-top:50px;margin-bottom:25px;">
        <div class="col-sm-12 text-center">
            <h2>{{ i18NPrefix + 'formName' | translate }}</h2>
        </div>
    </div>
    <div class="row" style="margin-bottom:25px;">
        <div class="col-sm-12 text-center">
            <p style="font-size:16px;">{{ i18NPrefix + 'description' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" *ngIf="form.get('verifyCode'); let control">
            <div class="simple-input">
                <label for="form-verifyCode">{{ i18NPrefix + 'authorizationCode' | translate }}</label>
                <input type="text" id="form-verifyCode" name="verifyCode" [formControl]="control" appValidationIsInvalid [control]="control" [or]="alreadySubmitted">
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
		</div>		
		<div class="col-sm-4"></div>
		
		<ng-container *ngIf="captchaRequired">
            <div class="col-sm-4 col-sm-offset-4" *ngIf="form.get('captcha'); let control">
                <app-captcha-help></app-captcha-help>
  
                <re-captcha name="captcha"
                            [siteKey]="recaptchaSiteKey"
                            [formControl]="control"
                            appValidationIsInvalid
                            [control]="control"
                            [or]="alreadySubmitted">
                </re-captcha>
                <app-validation-errors [control]="control"
                                       [or]="alreadySubmitted"></app-validation-errors>
            </div>
		</ng-container>
    </div>
    <div class="row	">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="alert alert-danger" role="alert" [innerHTML]="i18NErrorPrefix + 'captcha.required' | translate" *ngIf="captchaRequiredInfo">
            </div>
            <div class="alert alert-danger" role="alert" [innerHTML]="i18NErrorPrefix + 'captcha.error' | translate" *ngIf="captchaError">
            </div>
            <div class="alert alert-danger" role="alert" [innerHTML]="i18NErrorPrefix + submitErrorString | translate" *ngIf="submitError">
            </div>
        </div>
    </div>
    <div class="row text-center" style="margin-top:21px;margin-bottom:300px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button type="submit" class="btn primary" style="width:70%;">
                    <span [innerHTML]="i18NPrefix + 'confirm' | translate"></span>
                    <i class="fa fa-spinner fa-spin"
                       *ngIf="submitting"></i></button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</form>
