<form role="form" *ngIf="form" (ngSubmit)="onSubmit(form)">

    <div class="row">
        <div class="col-md-12">
            <h3>{{ i18NPrefix + 'loginForm' | translate }}</h3>
        </div>
    </div>


    <!-- relogin() === false -->

    <ng-container *ngIf="!relogin()">
        <div class="row" *ngIf="showInfo()">
            <div class="col-md-10">
                <div class="alert alert-info" role="alert" [innerHTML]="i18NInfoPrefix + infoString | translate">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10" *ngIf="form.get('username'); let control">
                <div class="inner-addon right-addon simple-input">
                    <label for="form-username">{{ i18NPrefix + 'loginUserName' | translate }}</label>
                    <input autocapitalize="none" type="text"
                           id="form-username"
                           name="username"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="right-addon simple-input" *ngIf="form.get('password'); let control">
                    <label for="form-password">{{ i18NPrefix + 'password' | translate }}</label>
                    <a id="icon-button" (click)="password.type==='password' ? password.type = 'text' : password.type = 'password'" (mousedown)="password.type ='text'" (mouseup)="password.type ='password'" (mouseleave)="password.type='password'"
                       class="btn pull-right icon showPassword-icon" style="background-color:transparent;">
                        <img id="iconClientDetail" src="../assets/content/icons/12 eye.svg">
                    </a>
                    <input #password
                           type="password"
                           id="form-password"
                           name="password"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted"
                           autocomplete="off">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="captchaRequiredToSend">
            <div class="col-md-10" style="margin-top: 10px;" *ngIf="form.get('g-recaptcha-response'); let control">
                <app-captcha-help></app-captcha-help>

                <re-captcha name="captcha"
                            [siteKey]="recaptchaSiteKey"
                            [formControl]="control"
                            appValidationIsInvalid
                            [control]="control"
                            [or]="alreadySubmitted">
                </re-captcha>
                <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="alert alert-danger"
                     role="alert"
                     [innerHTML]="i18NErrorPrefix + submitErrorString | translate"
                     *ngIf="submitError">
                </div>
                <div class="alert alert-danger"
                     role="alert"
                     [innerHTML]="i18NErrorPrefix + 'captcha.required' | translate"
                     *ngIf="captchaRequiredInfo">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <br />
                <button type="submit" class="primary">
                    <span [innerHTML]="i18NPrefix + 'toLogin' | translate"></span>
                    <i class="fa fa-spinner fa-spin"
                       *ngIf="submitting"></i>
                </button>
            </div>
        </div>
    </ng-container>


    <!-- relogin() === true -->

    <ng-container *ngIf="relogin()">
        <div class="row" *ngIf="showInfo()">
            <div class="col-md-5">
                <div class="alert alert-info" role="alert" [innerHTML]="i18NInfoPrefix + infoString | translate">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5" *ngIf="form.get('username'); let control">
                <div class="inner-addon right-addon simple-input">
                    <label for="form-username">{{ i18NPrefix + 'loginUserName' | translate }}</label>
                    <input autocapitalize="none"
                           type="text"
                           id="form-username"
                           name="username"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="right-addon simple-input" *ngIf="form.get('password'); let control">
                    <label for="form-password">{{ i18NPrefix + 'password' | translate }}</label>
                    <a id="icon-button" (click)="password.type==='password' ? password.type = 'text' : password.type = 'password'" (mousedown)="password.type ='text'" (mouseup)="password.type ='password'" (mouseleave)="password.type='password'"
                       class="btn pull-right icon" style="background-color:transparent;">
                        <img id="iconClientDetail" src="../assets/content/icons/12 eye.svg">
                    </a>
                    <input #password
                           type="password"
                           id="form-password"
                           name="password"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted"
                           autocomplete="off">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="captchaRequiredToSend">
            <div class="col-md-5" style="margin-top: 10px;" *ngIf="form.get('g-recaptcha-response'); let control">
                <app-captcha-help></app-captcha-help>

                <re-captcha name="captcha"
                            [siteKey]="recaptchaSiteKey"
                            [formControl]="control"
                            appValidationIsInvalid
                            [control]="control"
                            [or]="alreadySubmitted">
                </re-captcha>
                <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="alert alert-danger"
                     role="alert"
                     [innerHTML]="i18NErrorPrefix + submitErrorString | translate"
                     *ngIf="submitError">
                </div>
                <div class="alert alert-danger"
                     role="alert"
                     [innerHTML]="i18NErrorPrefix + 'captcha.required' | translate"
                     *ngIf="captchaRequiredInfo">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <br />
                <button type="submit" class="primary">
                    <span [innerHTML]="i18NPrefix + 'toLogin' | translate"></span>
                    <i class="fa fa-spinner fa-spin"
                       *ngIf="submitting"></i>
                </button>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-10"></div>
        </div>

    </ng-container>

    <div class="row hidden-sm hidden-xs" *ngIf="!relogin()">
        <div class="col-md-4">
            <br />
            <a [routerLink]="['/forgot']">{{ i18NPrefix + 'passwordForgotten' | translate }}</a>
            <br />
        </div>

        <div class="col-md-6 text-right">
            <br />
            <a [routerLink]="['/recover']">{{ i18NPrefix + 'usernameForgotten' | translate }}</a>
            <br />
        </div>
    </div>
    <div class="row visible-sm visible-xs" *ngIf="!relogin()">
        <div class="col-xs-5">
            <br />
            <a [routerLink]="['/forgot']">{{ i18NPrefix + 'passwordForgotten' | translate }}</a>
            <br />
        </div>

        <div class="col-xs-7 text-right">
            <br />
            <a [routerLink]="['/recover']">{{ i18NPrefix + 'usernameForgotten' | translate }}</a>
            <br />
        </div>
    </div>
</form>
