<div class="container">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'profile' | translate }}</h2>
        <hr>
    </div>
    <div *ngIf="client.firstName">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1 col-xs-12">
                <form>
                    <div class="col-xs-4">
                        <div class="heading">
                            <h3>{{ i18NPrefix + 'client' | translate }}</h3>
                            <hr>
                        </div>
                    </div>

                    <div class="row" style="margin:0px;">
                        <div class="col-sm-12 client-xs-resp">
                            <div class="inner-addon right-addon simple-input">
                                <label for="clientName">{{ i18NPrefix + 'NameAndSurname' | translate }}</label>
                                <img src="../assets/content/icons/login 2.svg" class="icon" style="left: 90%;" />
                                <input [readonly]="true"
                                       value="{{getFullName()}}"
                                       type="text" id="clientName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="inner-addon right-addon simple-input">
                            <label for="birthDate">{{ i18NPrefix + 'dateOfBirth' | translate }}</label>
                            <img src="../assets/content/icons/cake.svg" class="icon" style="left: 90%;" />
                            <input [readonly]="true" type="text" id="birthDate"
                                   value='{{clientEdit.dateOfBirth}}'>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <button (click)="changePassword()" class="secondary marginSelfServiceCard">
                            {{ i18NPrefix + 'changePassword' | translate }}
                        </button>
                    </div>
                </form>

            </div>


            <!--<div class="col-md-2 hidden-sm hidden-xs"></div>-->
            <div class="col-sm-6 col-md-5 col-xs-12">
                <form role="form" *ngIf="formContacts" [formGroup]="formContacts">
                    <div class="col-sm-12">
                        <div class="heading">
                            <h3>{{ i18NPrefix + 'contacts' | translate }}</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="inner-addon right-addon simple-input" *ngIf="formContacts.get('email'); let control">
                            <label for="email">{{ i18NPrefix + 'email' | translate }}</label>
                            <img *ngIf="contactEdited" src="../assets/content/icons/email.svg" class="icon" style="left: 90%;" />
                            <input id="email"
                                   name="email"
                                   type="text"
                                   [readonly]="contactEdited"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted">
                            <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="inner-addon right-addon simple-input" *ngIf="formContacts.get('mobilePhone'); let control">
                            <label for="phoneNumber">{{ i18NPrefix + 'phoneNumber' | translate }}</label>
                            <img *ngIf="contactEdited" src="../assets/content/icons/phone.svg" class="icon" style="left: 90%;" />
                            <input id="phoneNumber"
                                   name="mobilePhone"
                                   type="text"
                                   maxlength="16"
                                   [readonly]="contactEdited"
                                   [formControl]="control"
                                   appValidationIsInvalid
                                   [control]="control"
                                   [or]="alreadySubmitted">
                            <app-validation-errors [control]="control" [or]="alreadySubmitted"></app-validation-errors>
                        </div>
                    </div>

                    <!-- contact buttons -->
                    <div *ngIf="contactEdited" class="col-xs-6 marginSelfServiceCard">
                        <button (click)="contactEdit()" class="secondary">
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{ i18NPrefix + 'editContacts' | translate }}
                        </button>
                    </div>

                    <div *ngIf="!contactEdited" class="col-xs-6 marginSelfServiceCard">
                        <button (click)="contactEditSave()" class="save-button secondary">
                            {{ i18NPrefix + 'saveContacts' | translate }}
                        </button>
                    </div>
                    <div *ngIf="!contactEdited" class="col-xs-6 marginSelfServiceCard">
                        <button (click)="contactEditCancel()" class=" secondary">
                            {{ i18NPrefix + 'cancelContacts' | translate }}
                        </button>
                    </div>
                </form>

            </div>
        </div>

        <br />
        <br />
        <br />
        <div class="row">
            <div style="padding:0px 9%; margin-right: auto;
    margin-left: auto;"><hr></div>
        </div>



        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1 col-xs-12">
                <!-- permanent address -->
                <app-profile-address #perm *ngIf="formPermanentAddressInitialized"
                                     [clientAddress]="clientEdit.permanentAddress"
                                     [isCorresponding]="false"
                                     [alreadySubmitted]="alreadySubmitted"
                                     [correspondingDifferent]="correspondingIsDifferent"
                                     [submitting]="submitting"
                                     (correspondingIsDifferent)="setCorrespondingIsDifferent($event)"
                                     (addressSave)="onSubmitAddress($event)"></app-profile-address>
            </div>
            <!--<div class="col-md-2 hidden-sm hidden-xs"></div>-->
            <div class="col-sm-6 col-md-5 col-xs-12">
                <app-profile-address #corr *ngIf="formCorrespondingAddressInitialized && correspondingIsDifferent"
                                     [clientAddress]="clientEdit.correspondingAddress"
                                     [isCorresponding]="true"
                                     [alreadySubmitted]="alreadySubmitted"
                                     [correspondingDifferent]="correspondingIsDifferent"
                                     [submitting]="submitting"
                                     (correspondingIsDifferent)="setCorrespondingIsDifferent($event)"
                                     (addressSave)="onSubmitCorrespondingAddress($event)"></app-profile-address>
            </div>
        </div>
        <div class="row">
            <div style="padding:0px 9%; margin-right: auto;
    margin-left: auto;"><hr></div>
        </div>
        <div class="row">
            <div *ngIf="client.hasAML" class="col-sm-6 col-md-5 col-md-offset-1 col-xs-12">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-10">
                            <button [routerLink]="['/formAml']" type="button" class="secondary aml-button">
                                <div class="col-xs-1">
                                    <span class="glyphicon glyphicon-pencil"></span>

                                </div>
                                <div style="padding:0px;" class="col-xs-11">
                                    Aktualizovat osobní údaje dle zákona 253/2008 Sb. (AML)
                                </div>
                            </button>
                        </div>
                        <div style="padding:0px 0px 0px 0px;" class="col-xs-2">
                            <img class="question-mark-aml-help" data-toggle="modal" data-target="#amlModalhelp" src="../assets/content/icons/question_mark.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <br />
    <!-- Modal AML napoveda-->
    <div class="modal fade" id="amlModalhelp" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Aktualizace osobních údajů klienta</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>
                            Naše společnost touto cestou plní svoji zákonnou povinnost plynoucí z příslušné legislativy v souvislosti s požadavkem
                            na zajištění dlouhodobé odborné péče o klienta. Kromě aktualizace vstupních údajů potřebných pro sjednání
                            a kvalitní nastavení jednotlivých produktů je nutná i pravidelná aktualizace údajů podle zákona&nbsp;č.&nbsp;253/2008&nbsp;Sb.,
                            o některých opatřeních proti legalizaci výnosů z trestné činnosti a financování terorismu.
                            Konkrétně je tato povinnost stanovena v&nbsp;§&nbsp;8&nbsp;odst.&nbsp;7 uvedeného zákona:
                        </strong>
                        <i>„V době trvání obchodního vztahu nebo při dalších obchodech povinná osoba kontroluje platnost a úplnost identifikačních údajů klienta, informací získaných v rámci kontroly klienta ... a zaznamenává jejich změny.“</i>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>

        </div>
    </div>
</div>


