#password{
  letter-spacing:5px;
  font-size:16pt;
  color:black;
}

.question-mark-aml-help {
  width: 19px;
  padding-top: 17px;
  cursor: pointer;
}

/*.aml-button span{
  position: relative;
  top: 10px;
  right: 5px;
}*/

.aml-button .col-xs-1 {
  padding: 10px 0px 0px 0px;
}

@media screen and (max-width: 768px) {
  .aml-button .col-xs-1 {
    padding: 0px 0px 0px 0px;
  }

  .client-xs-resp div{
    margin-top:70px;
  }
}
