<div class="row historyContracts-row">
    <div class="col-xs-3">
        <span>{{change.signDate}}</span>
    </div>
    <div class="col-xs-3">
        <span>{{change.validTo}}</span>
    </div>
    <div class="col-xs-3">
        <span>{{'enum.CPContractChangeType.' + change.type | translate}}</span>
    </div>
    <div class="col-xs-3 text-right">
        {{change.description}}
    </div>
</div>
