<form role="form" *ngIf="form" (ngSubmit)="onSubmit(form)">
    <div *ngIf="edited" class="message-box">
        <div class="container-fluid">
            <div class="row">
                <div style="padding-right:0px;" class="col-sm-3 col-lg-2 form-group" *ngIf="form.get('dateOfStart'); let control">
                    <div class="input-group date datepicker" style="margin-top:10px;">
                        <input class="form-control datepickerfix"
                               placeholder="{{ i18NPrefix + 'signed' | translate }}"
                               type="text"
                               data-date-start-date="'0'"
                               id="form-dateOfStart"
                               data-provide="datepicker"
                               autocomplete="off"
                               name="dateOfStart"
                               [formControl]="control"
                               appValidationIsInvalid
                               (keyup)="validateDateInPast()"
                               [control]="control"
                               [or]="alreadySubmitted"
                               (focusout)="dateChanged($event)"
                               tooltip="{{ i18NPrefix + 'signed' | translate }}" tooltipPlacement="top">
                    </div>
                    <div class="form-group alert alert-danger" *ngIf="dateInPastError">
                        {{ 'global.' + 'validation.dateInPast' | translate }}
                    </div>
                </div>
                <div class="col-sm-5 col-lg-4 form-group" *ngIf="form.get('description'); let control" style="padding-top:10px;">
                    <input class="form-control input-lg" type="text"
                           placeholder="{{ i18NPrefix + 'description' | translate }}"
                           id="form-description"
                           name="description"
                           [formControl]="control"
                           appValidationIsInvalid
                           [control]="control"
                           [or]="alreadySubmitted"
                           tooltip="{{ i18NPrefix + 'description' | translate }}" tooltipPlacement="top">
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
                <div class="col-sm-4 col-lg-2 form-group" style="padding-top: 10px;" *ngIf="form.get('frequency'); let control">
                    <select class="form-control input-lg"
                            id="form-frequency"
                            name="frequency"
                            [formControl]="control"
                            appValidationIsInvalid
                            [control]="control"
                            [or]="alreadySubmitted">
                        <option style="display:none;" [ngValue]="undefined" disabled [selected]="true">{{ i18NPrefix + 'frequency' | translate }}</option>
                        <ng-container *ngFor="let freq of notificationFrequencyList()">
                            <option value="{{ freq }}">{{ 'enum.NotificationFrequency.' + freq | translate }}</option>
                        </ng-container>
                    </select>
                    <app-validation-errors [control]="control"
                                           [or]="alreadySubmitted"></app-validation-errors>
                </div>
                <div class="col-sm-3 visible-md visible-sm"></div>
                <div class="col-xs-6 col-sm-3 col-lg-2" style="padding-top:10px;">
                    <button style="font-size:15px; width: 100%" type="submit" class="btn btn-danger btn-primary btn-lg primary">
                        <span [innerHTML]="i18NPrefix + 'save' | translate"></span>
                        <i class="fa fa-spinner fa-spin" *ngIf="submitting"></i>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2" style="padding-top:10px;">
                    <button (click)="reset()" class="secondary">
                        {{ i18NPrefix + 'cancel' | translate }}
                    </button>
                </div>
                <div class="col-sm-3 visible-md visible-sm"></div>
            </div>

                <div class="row" *ngIf="submitError">
                    <div class="col-md-12">
                        <div class="form-group alert alert-danger">
                            {{ i18NPrefix + 'error' | translate }}
                        </div>
                    </div>
                </div>
            </div>
    </div>

</form>
