.modal-content{
  font-size:12px;
}

.page-header{
  border-bottom: none;

}

.page-header hr{
  border:none;
  width: 100px;
  color: #E43024;
  background-color:#e43024;
  height:3px;
  margin-top:10px;
  margin-bottom:0px;
}

.form-group input,.input-group input,.input-group span, .medium select, .form-group select {
  background-color:#F7F7F7;
  color:#000000;
  font-size:15px;
  border-color:#F7F7F7;

}

.form-control:focus{
  box-shadow:none;
  border: 1px solid #E43024;
}

.modal-body{
  border-top: none;
}

.modal-content{
  padding-left: 5%;
  padding-right:5%;
}

#upload-box{
  margin-top:40px;
  font-size: 12px;
  border: 0.5px #E43024 dashed;
  text-align:center;
  margin-bottom: 20px;


}


#upload-box span{
  color:#E43024;
  font-size:40px;
  padding-top:10px;
  padding-bottom: 10px;

}

.aRed {
  font-weight: 400;
  color: #E43024;
  text-decoration: underline;
}

#upload {
display: none;
}

#upload-box p{
  font-weight: 500;
  font-size: 15px;
}

#upload-box #grey{
  color:rgb(161, 161, 161);
  font-size: 12px;
  font-weight: 300;

}

#upload-box a{
  text-decoration-line: underline;
  color:#E43024;
  padding-bottom: 15px;
  font-weight: 100;
  font-size:12px;

}

.medium input{
  max-width:100%;
}

#currency{
  max-width: 60px;
  padding-left:0px;
}



.heading hr{
  border:none;
  width: 40px;
  color: #E43024;
  background-color:#e43024;
  height:3px;
  margin-top:-5px;
  margin-bottom:0px;
  float:left;
}

.heading{
 margin-bottom: 21px;
}

#datepickers .input-group {
  max-width: 100%;
}

@media screen and (max-width: 992px){
.medium select,.input-group{
  margin-top: 15px;
}



}

@media screen and (min-width:992px){
#permanent{
  margin-left: -30px;
}

#partner{
  float:right;
}


}

.modal-lg{
  width: 90%;
}


.btn-primary,.btn-primary.active.focus{
  background-color:rgb(228, 48, 36);
  border-color:rgb(228, 48, 36);
}

.btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus
, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
  background-color:rgb(228, 48, 36);
  border-color:rgb(228, 48, 36);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(228, 48, 36,.6);
}

.btn-primary.focus, .btn-primary:focus{
  background-color:rgb(228, 48, 36);
}

.btn-primary:hover{
  background: rgb(228, 48, 36);
  border-color:rgb(228, 48, 36);
}

.checkbox {
  left: 10px;
}

.checkbox-border {
  border: #30BB97 1px solid;
  border-radius: 5px;
  font-size: 12pt;
  text-align: center;
  max-width: 100%;
}

#inline {
  left: -10px;
}

.checkbox-group {
  display: inline-block;
  padding-top: 0px;
}

.checkbox-control {
  display: block;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12pt;
}

  .checkbox-control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }

.control__indicator {
  position: absolute;
  top: 0px;
  height: 20px;
  width: 20px;
  background: transparent;
  right: 75px;
  border: 1px solid #30BB97;
  border-radius: 5px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.checkbox-control:hover input ~ .control__indicator,
.checkbox-control input:focus ~ .control__indicator {
  background: #ccc;
}

.checkbox-control input:checked ~ .control__indicator {
  background: #30BB97;
}

.checkbox-control:hover input:not([disabled]):checked ~ .control__indicator,
.checkbox-control input:checked:focus ~ .control__indicator {
  background: #30BB97;
}

.checkbox-control input:disabled ~ .control__indicator {
  background: transparent;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #30BB97;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
  background: #30BB97;
}

a{
  font-weight:400;
}

.aRed {
  font-weight: 400;
  color: #E43024;
  text-decoration: underline;
  cursor:pointer;
}

.remove-icon-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dz-message {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
}
