<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'formName' | translate }}</h2>
        <hr>
    </div>
</div>
<div id="filterContainer" class="container-fluid hidden-xs">
    <div class="container page-header">

        <div class="row">
            <div class="col-md-4">
                <div class="inner-addon right-addon simple-input">
                    <label for="findInContracts">{{ i18NPrefix + 'findInMessages' | translate }}</label>
                    <img src="../assets/content/icons/search.svg" class="icon" />
                    <input [(ngModel)]="filterText" type="text" id="contractsSearched">
                </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3 pull-right">
                <button [ngx-scroll-to]="'#message-to-consultant'" id="newMessage" type="button" style="font-size:15px;" class="btn primary">{{ i18NPrefix + 'newMessage' | translate }}</button>
            </div>
        </div>


    </div>
</div>
<!-- FILTER -->
<div id="filterContainer" class="container-fluid visible-xs">
    <div class="container page-header">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <button type="button" style="font-size:15px;" class="btn primary">{{ i18NPrefix + 'newMessage' | translate }}</button>

            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="inner-addon right-addon simple-input">
                    <label for="findInContracts">{{ i18NPrefix + 'findInMessages' | translate }}</label>
                    <img src="../assets/content/icons/search.svg" class="icon" />
                    <input [(ngModel)]="filterText" type="text" id="contractsSearched">
                </div>
            </div>
        </div>
        <div class="row" style="padding-left:10px;padding-right:10px;">
            <div class="col-xs-12">
                <select class="mobile-select" style="outline-color:none;">
                    <option>{{ i18NPrefix + 'all' | translate }}</option>
                    <option disabled>{{ i18NPrefix + 'fromConsultant' | translate }}</option>
                    <option disabled>{{ i18NPrefix + 'my' | translate }}</option>
                    <option disabled>{{ i18NPrefix + 'fromBC' | translate }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center">
                <a (click)="filterNewest()" class="aRed">{{ i18NPrefix + 'newest' | translate }}</a>
            </div>
            <div class="col-xs-6 text-center">
                <a (click)="filterUnreaded()" class=" aRed">{{ i18NPrefix + 'unreaded' | translate }}</a>
            </div>
        </div>

    </div>
</div>

<!-- END FILTER -->


<div class="contianer-fluid" style="background-color:#F7F7F7">
    <div class="container" id="container-mobile">

        <!--MESSAGES  | filter : filterText-->
        <div *ngIf="showedMessages.length > 0">
            <div *ngFor="let message of showedMessages | filter : 'messages' : filterText">
                <app-message-overview *ngIf="!showDetail" [message]="message"
                                      (showDetail)="onShowDetailChange($event)" (detailId)="onDetailIdSelect($event)"></app-message-overview>
            </div>
        </div>
        <div *ngIf="!showDetail" id="messageLister" [style.width.px]="pages.length * 33">
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="liste" *ngFor="let page of pages">
                        <a id="{{'page' + page}}" (click)="setShowedMessages(page-1)" style="text-decoration:none;" class="aRed">{{page}}</a>
                    </div>
                </div>
                <div class="col-xs-12" style="margin-top:5px;">
                    <div>Celkem ({{messages.length}})</div>
                </div>
            </div>
        </div>
        <app-message-detail *ngIf="showDetail" (showDetail)="onShowDetailChange($event)" [showedMessages]="showedMessages" [messageId]="detailId"></app-message-detail>

        <!--END MESSAGES-->
        <!-- <div class="row">
        <div class="col-sm-12 text-center" style="margin-bottom:15px;">
            <a class="aBlack">Načíst všechny</a>
        </div>
    </div> -->
        <!--CONSULTANT MESSAGE BOX-->
        <app-messages-consultant-message-box class="newMessage" (messageSent)="onMessageSent()"></app-messages-consultant-message-box>
        <!--END CONSULTANT MESSAGE BOX-->

    </div>
    </div>
