
<div id="gdprConsents" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid" style="font-size:15px;">
                    <div class="row">
                        <div class="page-header">
                            <h1 class="text-center">{{ i18NPrefix + 'formName' | translate }}</h1>
                            <hr>
                        </div>
                    </div>
                    <p>Zaškrtnutím níže uvedených polí uděluji souhlas s tím, aby společnost Broker Consulting, a. s., se sídlem Plzeň, Jiráskovo náměstí 2, PSČ 326 00, IČO 25221736, zapsaná v obchodním rejstříku vedeném u Krajského soudu v Plzni, oddíl B, vložka 1121 (dále jen „BC“), jakož i členové skupiny BC, zpracovávala mé osobní údaje v rozsahu jméno, příjmení, rodné číslo (u podnikatele fyzické osoby také obchodní firmu, IČO a sídlo), datum narození, kontaktní údaje, údaje vyplývající z finančního dotazníku/finanční analýzy, tj. zejména údaje o majetku, příjmech, údaje o zaměstnání, údaje o cílech, a dále informace o využívání produktů a služeb, případné jiné údaje získané z interakce mezi mnou a BC, a další údaje, přičemž souhlas se vztahuje jak na údaje mnou výslovně poskytnuté BC, od spolupracujících třetích stran a z dalších zdrojů uvedených v čl. 5 Informace o zpracování osobních údajů ve společnosti Broker Consulting, a.s., (dále jen <a target="_blank" class="classic-href" href="../../assets/content/files/8_usf_informace_o_zprac_os_u_-_bc_a_s_18-02.pdf">„Informace“</a>) která zpracování osobních údajů BC popisuje, a to pro následující účely.</p>
                    <p>Svůj souhlas se zpracováním osobních údajů k jednotlivým účelům vyznačte zaškrtnutím v příslušném poli:</p>
                    <div class="container-fluid" style="background-color:#F7F7F7;">
                        <app-consents-single-consent *ngFor="let consent of GDPRConsentsEdit" [consent]="consent" [editable]="isConsentEditable(consent)"></app-consents-single-consent>
                    </div><br /><br /><br />
                    <p>Souhlas je platný po dobu trvání aktivního kontaktu mezi mnou a zástupcem BC a poté po dobu tří let následujících po roce, ve kterém byl tento souhlas udělen. V případě, že po udělení souhlasu nedojde k uzavření smlouvy o čerpání produktů či služeb zprostředkovaných BC, je souhlas platný po dobu tří let následujících po roce, ve kterém došlo k poslednímu kontaktu mezi mnou a zástupcem BC. Byl jsem poučen, že udělení tohoto souhlasu je dobrovolné a že ho mohu kdykoliv zcela nebo zčásti odvolat, a to postupem uvedeným v Informaci. Za odvolání souhlasu se nepovažuje neudělení jednotlivých souhlasů v tomto dokumentu, pokud již tyto byly dříve uděleny. Jsem si zároveň vědom, že BC je v souvislosti s poskytováním realitních služeb a služeb finančního zprostředkování a poradenství ze zákona povinen (či oprávněn) zpracovávat některé mé osobní údaje a že takové zpracování mých osobních údajů není odvoláním souhlasu dotčeno.</p>
                 
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12 text-center hidden-xs">
                                <button style="font-size:15px; width: 160px; "
                                    type="button" class="btn btn-danger btn-primary btn-lg closeModal"
                                    data-dismiss="modal"
                                    (click)="updateGDPR()">{{ i18NPrefix + 'save' | translate }}</button>
								<button style="font-size:15px;  border-color:#E43024; color:black; width: 160px;"
									type="button" class="btn-lg btn btn-default closeModal"
									data-dismiss="modal"
									(click)="close()" >{{ i18NPrefix + 'cancel' | translate }}</button>
                            </div>
                            <div class="col-sm-12 text-center visible-xs">
                                <button style="font-size:15px; width: 160px; "
                                    type="button" class="btn btn-danger btn-primary btn-lg closeModal"
                                    data-dismiss="modal"
									(click)="updateGDPR()">{{ i18NPrefix + 'save' | translate }}</button>
                            </div>
                            <div class="col-sm-12 text-center visible-xs" style="margin-top: 10px;">
								<button style="font-size:15px;  border-color:#E43024; color:black; width: 160px;"
									type="button" class="btn-lg btn btn-default closeModal"
									data-dismiss="modal"
									(click)="close()" >{{ i18NPrefix + 'cancel' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

