<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="page-header">
        <h2 class="text-center">{{ i18NPrefix + 'plannedPayments' | translate }}</h2>
        <hr>
    </div>
</div>

<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="container">
        <div *ngIf="!hasPayments()">
            <div class="row">
                <div class="col-xs-2 col-sm-4"></div>
                <div class="col-xs-8 col-sm-4">
                    <div class="message-box" style="height: 120px">
                        <div class="col-xs-12 text-center">
                            <h3 style="color:red"><strong>!</strong></h3>
                            <p>
                                {{ i18NPrefix + 'noPlannedNotifications' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-4"></div>
            </div>
        </div>
        <div *ngIf="hasPayments()">
            <app-dashboard-payment *ngFor="let notification of payments" (solvedPayment)="solvedPayment()" [notification]="notification"></app-dashboard-payment>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="container-fluid" style="background-color:#F7F7F7">
        <div *ngIf="!allPayments" class="text-center form-margin"><a (click)="getAllPayments()" style="text-decoration:underline;color:#E43024;">{{ i18NPrefix + 'allPlanned' | translate }} {{ '('+ fullPayments.length + ')'}}</a></div>
    </div>
     
        <div style="width: 287px;margin-top:50px;margin-right: auto;margin-left: auto;">
            <!--TBD chybi ikonka do tlacitka-->
            <button type="button" style="font-size:15px;" class="btn primary" data-toggle="modal" [routerLink]="['/binder']">{{ i18NPrefix + 'setUpPaymentsToContracts' | translate }}</button>
        </div>
    

    <div class="page-header">
        <h2></h2>
    </div>
</div>

<div class="container-fluid">
    <div class="page-header">
        <h2 class="text-center">{{ i18NPrefix + 'notification' | translate }}</h2>
        <hr>
    </div>
    <div class="container">
        <div *ngIf="!hasNotifications()">
            <div class="row">
                <div class="col-xs-2 col-sm-4"></div>
                <div class="col-xs-8 col-sm-4">
                    <div class="message-box" style="height: 120px">
                        <div class="col-xs-12 text-center">
                            <h3 style="color:red"><strong>!</strong></h3>
                            <p>
                                {{ i18NPrefix + 'noPlannedNotifications' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-4"></div>
            </div>
        </div>
        <div *ngIf="hasNotifications()">
            <app-dashboard-notification *ngFor="let notification of notifications" (solvedNotification)="solvedNotification()"  [notification]="notification"></app-dashboard-notification>
        </div>
    </div>
    <div class="row" *ngIf="!allNotifications">
        <div class="col-md-12 text-center form-margin">
            <a (click)="getAllNotifications()" style="text-decoration:underline;color:#E43024;">{{ i18NPrefix + 'allPlannedNotifications' | translate }} {{ '('+ fullNotifications.length + ')'}}</a>
        </div>
    </div>
        <div style="width: 287px;margin-top:50px;margin-right: auto;margin-left: auto;">
            <button type="button" style="font-size:15px;" class="btn primary" data-toggle="modal"  [routerLink]="['/binder']" [queryParams]="{element: 'setNotifications'}">{{ i18NPrefix + 'manageNotifications' | translate }}</button>
        </div>
    <div class="page-header">
        <h2></h2>
    </div>
</div>

<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="page-header">
        <h2 class="text-center">{{ i18NPrefix + 'unreadedMessages' | translate }}</h2>
        <hr>
    </div>
    <div class="container">
        <!--<app-messages-list-item-temp *ngFor="let message of messages" [message]="message"></app-messages-list-item-temp>-->
    </div>
</div>
<div class="container-fluid" style="background-color:#F7F7F7">
    <div class="text-center form-margin"><a [routerLink]="['/messages']" style="text-decoration:underline;color:#E43024;    ">{{ i18NPrefix + 'allMessages' | translate }}</a></div>
</div>

<div class="container-fluid text-center" style="background-color:#F7F7F7">
    <div class="page-header">
        <h2></h2>
    </div>
</div>
