<div class="container-fluid" style="background-color:#F7F7F7;padding-bottom:60px;">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'formName' | translate }}</h2>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="finance-box" style="padding-left:35px;">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>{{ i18NPrefix + 'regularInvestments_part1' | translate }} <strong>{{ i18NPrefix + 'regularInvestments_part2' | translate }}</strong></h3>
                            </div>
                            <div class="col-sm-4" style="display: flex; align-items: center; justify-content: center;">
                                <div style="width:80%;">
                                    <button *ngIf="!edit" (click)="editIncome(income.value)" class="btn secondary">
                                        <div class="row text-center">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            {{ i18NPrefix + 'edit' | translate }}
                                        </div>
                                    </button>
                                    <button *ngIf="edit" (click)="editIncome(income.value)" class="save-button btn secondary">
                                        <div class="row text-center">
                                            <span style="color:#30BB97" class="glyphicon glyphicon-save"></span>
                                            {{ i18NPrefix + 'save' | translate }}
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="edit" class="editIncomeBlock">
                                    <div class="col-sm-7">
                                        <div class="simple-input">
                                            <input #incomeInput maxlength="12" style="color:#30BB97; font-weight:700;font-size:xx-large;"
                                                   value="{{ getIncome() }}"
                                                   type="text" onkeypress="return digitsAndComma(event)" appBlockCopyPaste />
                                            <div class="col-sm-12" *ngIf="incomeError">
                                                <div style="margin:0px;" class="alert alert-danger">{{ i18NPrefix + 'incomeError' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-top:12px;" class="col-sm-5 text-left">
                                        <div style="color:#30BB97; font-weight:700; font-size:xx-large;">{{ i18NPrefix + 'regularInvestmentsCurrency' | translate }}</div>
                                    </div>
                                </div>
                                <div *ngIf="!edit">
                                    <h1 style="color:#30BB97; font-weight:700;">{{ getIncome() }} {{ i18NPrefix + 'regularInvestmentsCurrency' | translate }}</h1>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p class="monthly">
                                    {{ i18NPrefix + 'regularInvestmentsmonthly' | translate }}
                                </p>
                            </div>

                        </div>

                        <!--<h1 style="color:#30BB97; font-weight:700;">23 450 Kč</h1>-->


                    </div>
                </div>
                <div class="row">
                    <div class="finance-box">
                        <div class="col-sm-12">
                            <h3>{{ i18NPrefix + 'regularBilance_part1' | translate }}</h3>
                            <h1 *ngIf="financeSumNumber() >= 0" style="color:#30BB97; font-weight:700;">{{financeSum()}} {{ i18NPrefix + 'regularBilanceCurrency' | translate }}</h1>
                            <h1 *ngIf="financeSumNumber() < 0" style="color:#E43024; font-weight:700;">{{financeSum()}} {{ i18NPrefix + 'regularBilanceCurrency' | translate }}</h1>
                            <p class="monthly">{{ i18NPrefix + 'regularBilancemonthly' | translate }}</p>
                            <a [ngx-scroll-to]="'#updatePlan'" class="aRed">{{ i18NPrefix + 'howToManageResources' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="finance-box-lg">
                    <div class="row" style="padding: 0px 20px 0px 20px;">
                        <div class="col-sm-6">
                            <h3>{{ i18NPrefix + 'regularSpendings_part1' | translate }}<strong> {{ i18NPrefix + 'regularSpendings_part2' | translate }}</strong></h3>
                            <h1 style="color:#E43024; font-weight:700;">{{getRegularSpendingSum()}}&nbsp;{{ i18NPrefix + 'regularSpendingsCurrency' | translate }}</h1>
                            <p class="monthly">{{ i18NPrefix + 'regularSpendingsmonthly' | translate }}</p>
                        </div>
                        <div class="col-sm-6">
                            <!--<button (click)="addNewCost('',0)" style="font-size:13px;" class="btn secondary">-->
                            <button (click)="addNewCost_v2()" style="font-size:13px;" class="btn secondary">
                                <span>
                                    <img style="transform:rotate(45deg); height:10px; width:10px;" src="../assets/content/icons/close.svg" />
                                </span>
                                {{ i18NPrefix + 'addregularSpending' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px; padding: 0px 34px 0px 34px;">
                        <hr class="line-gray">
                    </div>
                    <div id="financeAdd" *ngFor="let expense of expenses" class="row finance-records-container">
                        <div class="col-xs-3">
                            <strong>{{expense.regExpAmount | number }}&nbsp;Kč</strong>
                        </div>
                        <div class="col-xs-4 text-gray text-center">
                            <p>{{expense.regExpDescription}}</p>
                        </div>
                        <div class="col-xs-4 text-gray">
                            <p>{{expense.regExpCategory}}</p>
                        </div>
                        <div style="padding:0px;" class="col-xs-1">
                            <img (click)="deleteCost(expense)" style="cursor:pointer;" src="../assets/content/icons/delete.svg" />
                        </div>
                    </div>
                    <div *ngIf="addNew" id="addNewExpense" class="row" style="margin-top:21px; padding:0px 20px 0px 0px;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input appBlockCopyPaste maxlength="9" #cost type="text" onkeypress="return digitsAndComma(event)" class="form-control input-lg" placeholder="částka" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input #describe type="text" class="form-control" placeholder="popis" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <select style="height:45px;" #selectElem class="normal-select">
                                <option *ngFor="let cat of categories">
                                    {{cat.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button (click)="saveNewCost(describe.value, cost.value, selectElem.value)" class="btn primary">{{ i18NPrefix + 'saveregularSpending' | translate }}</button>
                        </div>
                        <div class="col-sm-10" *ngIf="newCostError">
                            <div class="alert alert-danger">{{ i18NPrefix + 'newCostError' | translate }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <img src="../assets/content/icons/update.svg" />
            <span class="text-gray" style="padding-left:3px; font-size:12px;">
                <span *ngIf="existsFinancialSituations(); else noFinancialSituations">

                    <span *ngIf="existsLastDateUpdated()" style="font-weight:bold;color:black; font-size:13px; padding-left:3px;">{{ finances.financialSituations.financialSituation.lastUpdated | date : 'd.M. yyyy' }}</span>
                    <span *ngIf="!existsLastDateUpdated()" style="font-weight:bold;color:black; font-size:13px; padding-left:3px;">{{ finances.financialSituations.financialSituation.dateCreated | date : 'd.M. yyyy'}}</span>

                </span>
                <ng-template #noFinancialSituations>
                    <span style="font-weight:bold;color:black; font-size:13px; padding-left:3px;">{{ i18NPrefix + 'noChanges' | translate}}</span>
                </ng-template>

            </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <br />
        <h2 class="text-center">{{ i18NPrefix + 'recomendedPortfolio' | translate }}</h2>
        <hr>
    </div>

    <div class="row" *ngIf="financialPlanVersions && financialPlanVersions.length > 1">
        <div class="col-sm-6 col-sm-offset-3" style="white-space: nowrap;">
            <label for="finPlanVersion" class="pull-left" style="margin-bottom: 0px; margin-top: 3px">{{ i18NPrefix + 'financePlanVersion' | translate }}</label>
            <!-- </div>
            <div class="col-sm-6"> -->
            <select id="finPlanVersion" class="form-control input-sm pull-right" [(ngModel)]="selectedPlanVersion">
                <!-- <option value="{{ financialPlanVersions[0] }}">Aktuální</option> -->
                <option *ngFor="let version of financialPlanVersions" [ngValue]="version">{{ version.value }}</option>

                <!-- <option *ngFor="let version of financialPlanVersions | slice:1" value="{{ version.value }}">{{ version }}</option> -->
            </select>
        </div>
    </div>

    <div id="updatePlan" class="row text-center" style="margin-bottom:100px; margin-top: 10px;">
        <ng-container *ngIf="financialPlanVersions">
            <div class="col-sm-3 col-sm-offset-3">
                <div *ngFor="let plan of finances.financialPlans">
                    <!-- show relevant plans attachments only -->
                    <ng-container *ngIf="planEqualsSelected(plan)">
                        <div *ngFor="let attachment of plan.attachments" style="position: relative;">
                            <button class="btn attachment" style="margin-bottom: 10px" (click)="downloadAttachment(attachment)">
                                <div class="row">
                                    <img class="attachment-icon-left" src="../assets/content/icons/file 3.svg" />
                                    <span class="attachment-text">{{ attachment.name }}</span>
                                </div>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="col-sm-3">
                <button data-toggle="modal" data-target="#modalFinance" class="btn secondary">
                    {{ i18NPrefix + 'updateFinancePlan' | translate }}
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="!financialPlanVersions">
            <div class="col-sm-4 col-sm-offset-4">
                <button data-toggle="modal" data-target="#modalFinance" class="btn secondary" (click)="updateFinancePlanModalOpened()">
                    {{ i18NPrefix + 'updateFinancePlan' | translate }}
                </button>
            </div>
        </ng-container>
    </div>
    <div id="modalFinance" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Aktualizace finančního plánu</h4>
                </div>
                <div class="modal-body">
                    <p *ngIf="!financePlanRequestSent">{{ i18NPrefix + 'confirmUpdateFinancePlanText' | translate }}</p>
                    <ng-container *ngIf="financePlanRequestSent">
                        <div *ngIf="financePlanRequestSuccess" class="alert alert-success">
                            {{ i18NPrefix + 'financePlanRequestSuccess' | translate }}
                        </div>
                        <div *ngIf="!financePlanRequestSuccess" class="alert alert-danger">
                            {{ i18NPrefix + 'financePlanRequestFail' | translate }}
                        </div>
                    </ng-container>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="updateFinancePlan()" *ngIf="!financePlanRequestSent">
                        {{ i18NPrefix + 'confirmUpdateFinancePlan' | translate }}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="financePlanRequestSent">
                        {{ i18NPrefix + 'financePlanRequestOk' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
